<template>
    <div ref="main" style="width:100%; height:100%;"></div>
</template>

<script>
    import echarts from 'echarts'
    import {yesterdayPeopleNumPerHour} from "../../../api/components/people-counting"

    export default {
        data() {
            return {
                myChart: ""
            }
        },
        created() {
            this.$nextTick(() => {
                this.myChart = echarts.init(this.$refs['main']);
                yesterdayPeopleNumPerHour().then(data => {
                    if (data.errcode == 0) {
                        data.data.sort(this.sortNumber);
                        let dataX = [];
                        let dataY = [];
                        data.data.forEach(item => {
                            let hour = '';
                            if (item.hour < 10) {
                                hour = "0" + item.hour + ":00";
                            } else {
                                hour = item.hour + ":00";
                            }
                            dataX.push(hour);
                            dataY.push(item.count);
                        });
                        let option = this.getEchartsOption(dataX, dataY);
                        this.myChart.setOption(option);
                    } else if (data.errcode == -1) {
                        layer.msg("后台服务器异常!", {shift: '6', time: 3000});
                    }
                });
            })
        },
        methods: {
            sortNumber: function (a, b) {
                return a.hour - b.hour;
            },
            getEchartsOption: function (dataX, dataY) {
                let option = {
                    color: ['#19b7d0'],
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                            type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        },
                        formatter: "时间: {b}:00<br/>{a}: {c}"
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '9%',
                        top: "13%",
                        containLabel: true
                    },
                    xAxis: [
                        {
                            axisLabel: {
                                rotate: -90,
                                interval: 0
                            },
                            type: 'category',
                            splitLine:{
                                show: true,
                                interval: 0,
                                lineStyle: {
                                    color: "#1A3337"
                                }
                            },
                            axisLine: {
                                lineStyle: {
                                    color: '#56aab5',
                                    width: 2
                                }

                            },
                            data: dataX,
                            axisTick: {
                                alignWithLabel: true
                            }
                        }
                    ],
                    yAxis: [
                        {
                            name: "人次",
                            type: 'value',
                            axisLine: {
                                lineStyle: {
                                    color: '#56aab5',
                                    width: 2
                                }
                            },
                            splitLine:{
                                show: true,
                                interval: 0,
                                lineStyle: {
                                    color: "#1A3337"
                                }
                            }
                        }
                    ],
                    series: [
                        {
                            name: '人流量',
                            type: 'bar',
                            barWidth: '60%',
                            data: dataY,
                        }
                    ]
                };
                return option;
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
