<template>
    <div ref="main" style="width:100%; height:100%"></div>
</template>

<script>
    import echarts from 'echarts'
    import {phoneBrandStatistic} from "../../../api/components/people-counting"
    import CommunicationVendor from "../../../assets/CommunicationVendor.json"

    export default {
        data() {
            return {
                myChart: ""
            }
        },
        created() {
            this.$nextTick(() => {
                this.myChart = echarts.init(this.$refs['main']);
                this.loadPhoneBrand(2);
            })
        },
        methods: {
            formatPhoneBrand: function (brand) {
                brand = brand.split(" ")[0];
//                if (brand.length > 10) {
//                    return brand.substring(0, 10);
//                }
                return brand;
            },
            loadPhoneBrand: function (dateType) {
                //dateType:  日:0,周:1,月:2
                phoneBrandStatistic({dateType: dateType}).then(data => {
                    if (data.errcode == 0) {
                        let dataX = [];
                        let dataY = [];
                        data.data.forEach(item => {
                            dataX.push(item.count);
                            let name = CommunicationVendor[item.name] == undefined ? this.formatPhoneBrand(item.name) : CommunicationVendor[item.name];
                            dataY.push(name);
                        });
                        let option = this.getEchartsOption(dataX.reverse(), dataY.reverse());
                        this.myChart.setOption(option);
                    } else if (data.errcode == -1) {
                        layer.msg("后台服务器异常!", {shift: '6', time: 3000});
                    }
                });
            },
            getEchartsOption(dataX, dataY) {
                let option = {
                    grid: {
                        left: '1%',
                        right: '-10%',
                        bottom: '5%',
                        containLabel: true
                    },

                    tooltip: {
                        show: "true",
                        trigger: 'axis',
                        axisPointer: { // 坐标轴指示器，坐标轴触发有效
                            type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                        },
                        position: "right",
                        formatter: "品牌: {b}<br/>数量: {c}"
                    },
                    xAxis: {
                        type: 'value',
                        axisTick: {show: true},
                        axisLabel: {
                            rotate: -30,
                        },
                        axisLine: {
                            show: true,
                            lineStyle: {
                                color: '#9decf0',
                                fontSize: 10
                            },
                        },
                        splitLine: {
                            show: false
                        },
                    },
                    yAxis: [
                        {
                            type: 'category',
                            axisTick: {show: false},
                            axisLine: {
                                show: true,
                                lineStyle: {
                                    color: '#9decf0',
                                },
                            },
                            data: dataY,
//                            axisLabel: {
//                                formatter: function (str) {
//                                    for (i in str) {
//                                        return str.substring(0, 12)
//                                    }
//                                }
//                            }
                        },
                        {
                            type: 'category',
                            axisLine: {show: false},
                            axisTick: {show: false},
                            axisLabel: {show: false},
                            splitArea: {show: false},
                            splitLine: {show: false},
                            data: dataY
                        },

                    ],
                    series: [
                        {
//                            name: '手机前十统计',
                            type: 'bar',
                            yAxisIndex: 1,
                            itemStyle: {
                                normal: {
                                    show: true,
                                    color: '#d3ad64',
//                                    barBorderRadius: 50,
                                    borderWidth: 0,
                                    borderColor: '#333',
                                }
                            },
                            barGap: '0%',
                            barCategoryGap: '50%',
                            data: dataX
                        }

                    ]
                };
                return option;
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
