<template>
    <div ref="main" style="width:95%; height:95%;margin-top: -20px;"></div>
</template>

<script>
    import echarts from 'echarts'
    import {peopleNumXiuTan} from "../../../api/components/people-counting"

    export default {
        data() {
            return {
                myChart: ""
            }
        },
        created() {
            this.$nextTick(() => {
                this.myChart = echarts.init(this.$refs['main']);
                this.loadPeopleNumXiuTan(2);
            })
        },
        methods: {
            loadPeopleNumXiuTan: function (dateType) {
                //dateType:  日:0,周:1,月:2
                peopleNumXiuTan({dateType: dateType}).then(data => {
                    if (data.errcode == 0) {
                        let dataX = [];
                        let dataY = [];
                        data.data.forEach(item => {
                            dataX.push(item.place);
                            dataY.push(item.count);
                        });
                        let option = this.getEchartsOption(dataX, dataY);
                        this.myChart.setOption(option);
                    } else if (data.errcode == -1) {
                        layer.msg("后台服务器异常!", {shift: '6', time: 3000});
                    }
                })
            },
            getEchartsOption: function (dataX, dataY) {
                let option = {
                    textStyle : {
                        color: "#19B7D0"
                    },
                    color: ['#19B7D0'],
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                            type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        },
                        formatter: "地点: {b}<br/>人流量: {c}"
                    },
                    grid: {
                        top: "5%",
                        left: '3%',
                        right: '9%',
                        bottom: '15%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            axisLabel: {
                                rotate: -60,
                                interval: 0,
                                textStyle: {
                                    fontSize: 10
                                },
                            },
                            type: 'category',
                            axisLine: {
                                show: true,
                                lineStyle: {
                                    color: '#19B7D0',
                                    type: "dashed",
                                }
                            },
                            data: dataX,
                            axisTick: {
                                alignWithLabel: true
                            },
                        }
                    ],
                    yAxis: [
                        {
                            axisTick: {
                                alignWithLabel: true
                            },
                            axisLine: {
                                show: true,
                                lineStyle: {
                                    color: '#19B7D0',
                                    type: "dashed"
                                }
                            },
                            splitLine: {
                                show: true,
                                lineStyle: {
                                    color: "#19B7D0",
                                    type: "dashed"
                                }
                            },
                        }
                    ],
                    series: [
                        {
                            name: '人流量',
                            type: 'bar',
                            barWidth: '40%',
                            data: dataY,
                        },

                    ],
                    itemStyle: {
                        normal: {

                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                offset: 0,
                                color: 'rgba(150, 223,228, 1)'
                            }, {
                                offset: 1,
                                color: 'rgba(82, 135,255, 1)'
                            }]),
                            shadowColor: 'rgba(0, 0, 0, 0.1)',
                            shadowBlur: 10
                        }
                    }
                };
                return option;
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
