<template>
    <div ref="main" style="width:90%; height:90%"></div>
</template>

<script>
    import echarts from 'echarts'

    export default {
        data() {
            return {}
        },
        created(){
            this.$nextTick(()=>{
                this.myChart = echarts.init(this.$refs['main']);
                this.myChart.setOption(this.option());
            })
        },
        methods: {
            option() {
                return {
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b}: {c} ({d}%)"
                    },
                    legend: {
                        orient: 'vertical',
                        x: 'left',
                        bottom:'bottom',
                        textStyle: {
                            color: "#56e5ed",
                        },
                        data:['20-30','31-40','41-50','51-60','61-70','71-75']
                    },
                    series: [
                        {
                            name:'车主年龄',
                            type:'pie',
                            radius: ['40%', '60%'],
//                            center: ['65%', '50%'],
                            center: ['65%', '50%'],
                            avoidLabelOverlap: false,
                            label: {
                                normal: {
                                    show: false,
                                    position: 'center',

                                },
                                emphasis: {
                                    show: true,
                                    textStyle: {
                                        fontSize: '30',
                                        fontWeight: 'bold'
                                    }
                                }
                            },
                            labelLine: {
                                normal: {
                                    show: false
                                }
                            },
                            data:[
                                {value:3350, name:'20-30'},
                                {value:3100, name:'41-50'},
                                {value:2340, name:'31-40'},
                                {value:1350, name:'51-60'},
                                {value:1548, name:'61-70'},
                                {value:560,name:'71-75'}
                            ]
                        }
                    ]
                }
            }
        }
    }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
