<template>
    <div ref="main" style="width: 100%;height: 100%;"></div>
</template>
<script>
    import echarts from 'echarts'
    export default {
        data(){
            return{

            }
        },
        created(){
            this.$nextTick(()=>{
                this.myChart = echarts.init(this.$refs['main']);
                this.myChart.setOption(this.option());
            })
        },
        methods:{
            option(){
                return{
                    xAxis: {
                        type: 'category',
                        data: ['安徽', '江苏', '河南', '湖北', '江西', '四川', '浙江','山东','福建'],
//                        data:['皖','苏','豫','鄂','赣','川','浙','鲁','闽'],
                        axisLine: {
                            lineStyle: {
                                type: 'solid',
                                color: '#fff',//左边线的颜色
                                width:'1'//坐标线的宽度
                            }
                        },
                        axisLabel: {
                            interval:0,
//                            rotate:-45,
                            textStyle: {
                                color: '#56e5ed',//坐标值得具体的颜色

                            }
                        }
                    },
                    yAxis: {
                        type: 'value',
                        axisLine: {
                            lineStyle: {
                                type: 'solid',
                                color:'#fff',
                                width:'1'
                            }
                        },
                        axisLabel: {
                            textStyle: {
                                color: '#56e5ed'
                            }
                        }
                    },
                    series: [{
                        data: [2.7147, 1.5692, 1.1836, 0.6215, 0.6084,
                            0.5445,0.5379,0.4630,0.3445],
                        type: 'line',
                        radius : '150%',
                    }]
                }
            }
        }
    }
</script>
