<template>
  <div ref="main" style="width:100%; height:100%"></div>
</template>

<script>
import echarts from "echarts";
import { getPeopleTrack } from "../../../api/components/peopleTrack.js";

export default {
  data() {
    return {
      peopletrack: {}
    };
  },
  created() {
    this.$nextTick(() => {
      getPeopleTrack().then(res => {
        this.peopletrack = res;
        this.myChart = echarts.init(this.$refs["main"]);
        this.myChart.setOption(this.option());
      });
    });
  },
  methods: {
    option() {
        let track=this.peopletrack;
      return {
        tooltip: {
          trigger: "item",
          formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
          orient: "vertical",
          left: "left",
          bottom: "bottom",
          data: [
            { name: "户籍人口", textStyle: { color: "#56e5ed" } },
            { name: "来沪人员", textStyle: { color: "#56e5ed" } },
            // { name: "境外人员", textStyle: { color: "#56e5ed" } }
          ]
        },
        color: ["#64a0a8", "#bbe2e8", "#6cacde"],
        series: [
          {
            name: "周浦人口",
            type: "pie",
            radius: "55%",
            center: ["55%", "60%"],
            data: [
              { value: track.localPopulation.count, name: "户籍人口" },
              { value: track.outlandPopulation.count, name: "来沪人员" },
            //   {
            //     value:
            //       track.population.count -
            //       track.OutlandPopulation.count -
            //       track.localPopulation.count,
            //     name: "境外人员"
            //   }
            ],
            itemStyle: {
              emphasis: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: "rgba(0, 0, 0, 0.5)"
              }
            }
          }
        ]
      };
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
