<template>
    <div ref="main" style="width: 90%;height: 90%;">

    </div>
</template>

<script>
    import echarts from 'echarts'
    export default {
        data(){
            return{}
        },
        created(){
            this.$nextTick(()=>{
                this.myChart = echarts.init(this.$refs['main']);
                this.myChart.setOption(this.option());
            })
        },
        methods:{
            option(){
                return{
                    color: ['#19b7d0'],
                    tooltip : {
                        trigger: 'axis',
                        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '20%',
                        containLabel: true
                    },
                    xAxis : [
                        {
                            type : 'category',
                            data : ['00', '01', '02', '03', '04', '05',
                                '06','07','08', '09', '10', '11',
                                '12', '13', '14','15','16', '17',
                                '18', '19', '20', '21', '22','23'],
                            axisTick: {
                                alignWithLabel: true
                            },
                            axisLabel: {
                                rotate: -90,
                                interval: 0
                            },
                            axisLine: {
                                lineStyle: {
                                    color: '#ffffff',
                                    width: 1
                                }
                            }
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value',
                            axisLine: {
                                lineStyle: {
                                    color: '#ffffff',
                                    width: 2
                                }
                            },
                        }
                    ],
                    series : [
                        {
                            name:'出行车辆数',
                            type:'bar',
                            barWidth: '80%',
                            data:[100, 112, 200, 334, 390, 330,
                                220,120,130,500,550,620,800,540,440,100,
                                520, 200, 334, 390, 330, 220,120,130]
                        }
                    ]
                }
            }
        }
    }
</script>
