<template>
    <div ref="main" style="width:100%; height:100%"></div>

</template>

<script>
    import echarts from 'echarts'

    export default {
        data() {
            return {}
        },
        methods: {
            option() {
                return {
                    color: ['#3398DB'],
                    tooltip : {
                        trigger: 'axis',
                        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis : [
                        {
                            type : 'category',
                            data : ['周一', '周二', '周三', '周四', '周五', '周六', '周日'],
                            axisTick: {
                                alignWithLabel: true
                            },
//                            textStyle: {
//                                color: '#fff'
//                            }
                            axisLine:{
                                lineStyle:{
                                    color:'#ffffff'
                                }
                            }
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value',
                            axisLine:{
                                lineStyle:{
                                    color:['#ffffff']
                                }
                            }
                        }
                    ],
                    series : [
                        {
                            name:'直接访问',
                            type:'bar',
                            barWidth: '60%',
                            data:[1000, 502, 2000, 3300, 3900, 4100, 5000],
                        }
                    ]
                }
            }
        },
        created() {
            this.$nextTick(() => {
                this.myChart = echarts.init(this.$refs['main']);
                this.myChart.setOption(this.option());
            })
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
