<template>
  <div class="container">
    <div class="row">
      <div class="item">
        <div class="title">人口总数</div>
        <div class="numWrapper">
          <div class="num">{{peopletrack.population.count}}</div>
          <span style="font-size:18px;color: rgb(15,101,156);vertical-align: bottom">人</span>
        </div>
      </div>
      <div class="item">
        <div class="title">来沪人员</div>
        <div class="numWrapper">
          <div class="num">{{peopletrack.outlandPopulation.count}}</div>
          <span style="font-size:18px;color: rgb(15,101,156);vertical-align: bottom">人</span>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:20px ">
      <div class="item">
        <div class="title">本地户籍</div>
        <div class="numWrapper">
          <div class="num">{{peopletrack.localPopulation.count}}</div>
          <span style="font-size:18px;color: rgb(15,101,156);vertical-align: bottom">人</span>
        </div>
      </div>
      <div class="item">
        <div class="title">房屋数</div>
        <div class="numWrapper">
          <div class="num">{{peopletrack.house.count}}</div>
          <span style="font-size:18px;color: rgb(15,101,156);vertical-align: bottom"></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getCurrentStatEventCN } from "../../../api/components/12345";
import { getPeopleTrack } from "../../../api/components/peopleTrack.js";

import ws from "../../../api/sockjs";
export default {
  name: "hello",
  data() {
    return {
      peopletrack: {
        population:{
          count:0
        },
        outlandPopulation:{
           count:0
        },
        localPopulation:{
           count:0
        },
        house:{
           count:0
        }
      }
    };
  },
  methods: {
    //ws链接
    content() {
      this.$nextTick(() => {});
    }
  },
  created() {
    this.$nextTick(() => {
      getPeopleTrack().then(res => {
        this.peopletrack = res;
      });
    });
  },
  destroyed() {
    this.$nextTick(() => {});
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container {
  width: 100%;
  height: calc(100% - 35px);
  padding: 20px 1px 1px 10px;
  display: flex;
  flex-direction: column;
}

.row {
  width: 100%;
  flex: 1;
  display: flex;
  margin-bottom: 10px;
}

.item {
  flex: 1;
}

.item .title {
  height: 30px;
  font-size: 18px;
  line-height: 30px;
  text-indent: -20px;
  color: #69cedd;
}

.item .num {
  width: 120px;
  height: 50px;
  background: rgb(12, 56, 79);
  line-height: 50px;
  display: inline-block;
  font-size: 30px;
  color: white;
}
</style>

