#imgsContainer {
    height: 203px;
    margin-top: 15px;
    overflow: hidden;
    /*background-color: red;*/
}
#imgsContainer .imgsSmallDiv {
    width: 203px;
    height: 203px;
    margin-left: 15px;
    float: left;
}
#imgsContainer .imgsSmallDiv:first-child {
    margin-left: 0px;
}
#imgsContainer .imgsSmallDiv .imgsSmall {
    width: 203px;
    height: 203px;
}
#imgsContainer .imgsSmallDiv .imgsSmall img {
    width: 100%;
    height: 100%;
}
#imgsContainer .imgBigDiv {
    width: 402px;
    height: 203px;
    float: left;
    margin: 0 0 0 13px;
}
#imgsContainer .imgBigDiv img {
    width: 100%;
    height: 100%;
}
#suspentInfo {
    height: 130px;
}
#suspentInfo table {
    border: 1px solid #E5E5E5;
    margin-top: 15px;
    float: left;
}
#suspentInfo table tr:nth-child(odd) {
    background-color: #F2F2F2;
}
#suspentInfo table tr:nth-child(even) {
    background-color: #FCFCFC;
}
#suspentInfo table td {
    height: 27px;
    color: #000000;
    font-size: 11px;
    padding-left: 3px;
}
#suspentInfo #tableLeft {
    width: 203px;
}
#suspentInfo #tableCenter {
    width: 276px;
    margin-left: 15px;
}
#suspentInfo #tableRight {
    width: 342px;
}
#btnGroup {
    width: 551px;
    margin: 40px auto -10px;
}
#btnGroup .btnGroup {
    width: 133px;
    height: 35px;
    font-size: 14px;
    color: #00a0e9;
    margin-left: 71px;
    border: 1px solid #00a0e9;
    border-radius: 4px;
    background-color: transparent;
}
#btnGroup .btnGroup:first-child {
    margin-left: 1px;
}
#btnGroup .btnGroup:hover {
    background-color: #cfeeff;
}
