.edit {
    padding: 5px 7px;
    cursor: pointer;
    margin-left: 5px;
}
#historyRecords td p span {
    font-weight: bold;
}
#contentTable td {
    border: none;
    padding: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.imgBigRel {
    position: relative;
}
.imgBigger {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 100%;
    display: none;
}
.imgBigger img {
    width: 100%;
}
