.row {
    padding-left: 0px;
    float: left;
    height: 560px;
}

.imgContainerDiv {
    height: 255px;
    border: 1px solid grey;
    width: 200px;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
}
.imgDiv {
    width: 182px;
    height: 184px;
    margin: 4px auto 0;
    position: relative;
    overflow: hidden;
}
.imgDiv img {
    width: 100%;
    height: 100%;
}
.masks {
    width: 182px;
    height: 70px;
    background-image: url("../../img/suspect/mask.png");
    position: absolute;
    top: 184px;
}
.masks div {
    width: 25px;
    height: 25px;
    float: left;
    margin-top: 34px;
    margin-left: 17px;
    cursor: pointer;
}
.masks div:first-child {
    margin-left: 7px;
}
.edit {
    background-image: url("../../img/suspect/nor_edit.png");
    display: none;
}
.delete {
    background-image: url("../../img/suspect/nor_delete.png");
    margin-top: 33px;
    display: none;
}
.edit:hover {
    background-image: url("../../img/suspect/sel_edit-.png");
}
.delete:hover {
    background-image: url("../../img/suspect/sel_delete.png");
}
.contentDiv {
    padding-left: 9px;
}
.contentDiv p {
    margin-top: -6px;
}
.contentDiv p:first-child {
    margin-top: 9px;
}
.row-page {
    clear: both;
    padding-top: 20px;
}
