<template>
    <div ref="anJian" style="width: 100%; height: 100%;"></div>
</template>
<script>
    import echarts from "echarts"
    import ws from "../../../api/sockjs"
    import {todayAnJianStatistic} from "../../../api/components/index"
    export default {
        data() {
            return {
                myChart: "",
                client: null
            }
        },
        created() {
            this.$nextTick(() => {
                todayAnJianStatistic().then(data => {
                    this.myChart = echarts.init(this.$refs['anJian']);
                    if (data.errcode == 0) {
                        let datas = [
                            {name: "今日接警", value: data.data.todayDiscoverNum},
                            {name: "今日受理", value: data.data.otherUploadNum},
                            {name: "今日立案", value: data.data.todayCreateNum},
                            {name: "今日派遣", value: data.data.todayDispatchNum},
                            {name: "今日结案", value: data.data.todayEndNumber}
                        ];
                        let legend = ["今日接警", "今日受理", "今日立案", "今日派遣", "今日结案"];
                        let option = this.getEchartsOption(legend, datas);
                        this.myChart.setOption(option);
                    } else if (data.errcode == -1) {
                        layer.msg("后台服务器异常!", {shift: '6', time: 3000});
                    }
                }).then(() => {
                    // this.socketConnect();
                });
            })
        },
        destroyed() {
            if (this.client) {
                // this.client.disconnect();
            }
        },
        methods: {
            socketConnect: function () {
                ws('今日案件统计', this.socketConnect).then(sto => {
                    this.client = sto;
                    this.client.subscribe('/topic/currentStatEventCN', (response) => {
                        let data = JSON.parse(response.body)
                        let datas = [
                            {name: "今日接警", value: data.todayDiscoverNum},
                            {name: "今日受理", value: data.otherUploadNum},
                            {name: "今日立案", value: data.todayCreateNum},
                            {name: "今日派遣", value: data.todayDispatchNum},
                            {name: "今日结案", value: data.todayEndNumber}
                        ];
                        let legend = ["今日接警", "今日受理", "今日立案", "今日派遣", "今日结案"];
                        let option = this.getEchartsOption(legend, datas);
                        this.myChart.setOption(option);
                    })
                })
            },
            getEchartsOption: function (legend, data) {
                let option = {
                    color:['#019AA0','#14C0D8','#2F4455', '#419EE3', '#D3AD64'],
                    tooltip: {
                        trigger: 'item',
                        formatter: "{b} : {c} ({d}%)"
                    },
                    legend: {
                        width: 0,
                        left : 0,
                        bottom : 0,
                        orient: 'vertical',
                        data: legend,
                        icon: "circle",
                        textStyle : {
                            color: "#19B7D0",
                        },
                    },
                    toolbox: {
                        show: false,
                        feature: {
                            mark: {show: true},
                            dataView: {show: true, readOnly: false},
                            magicType: {
                                show: true,
                                type: ['pie']
                            },
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    calculable: true,
                    series: [
                        {
                            type: 'pie',
                            radius: [0, 90],
                            center: ['60%', '55%'],
                            roseType: 'radius',
                            minAngle: 25,
                            label: {
                                normal: {
                                    show: true,
                                    position: 'outside',
                                    textStyle: {
                                        fontSize: 10
                                    },
                                },
                                emphasis: {
                                    show: true
                                },
                            },
                            labelLine: {
                                normal: {
                                    show: {
                                        show: true,
                                        position: 'outside',
                                        textStyle: {
                                            fontSize: 10
                                        }
                                    },
                                    length: 5,
                                    length2: 5,
                                    smooth: 0.2,
                                },
                                emphasis: {
                                    show: true
                                }
                            },
                            data: data
                        }
                    ]
                };
                return option;
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
