<template>
    <div ref="peopleNum" style="width: 100%; height: 100%;"></div>
</template>

<script>
    import echarts from "echarts"
    import ws from "../../../api/sockjs"
    import {getYesterdayPeopleNumPerHour} from "../../../api/components/index"

    export default {
        data() {
            return {
                myChart: ""
            }
        },
        created() {
            this.$nextTick(() => {
                this.myChart = echarts.init(this.$refs['peopleNum']);
                getYesterdayPeopleNumPerHour().then(data => {
                    if (data.errcode == 0) {
                        data.data.sort(this.sortNumber);
                        let dataX = [];
                        let dataY = [];
                        for (let i = 0; i < data.data.length; i++) {
                            let hour = '';
                            if (data.data[i].hour < 10) {
                                hour = "0" + data.data[i].hour + ":00";
                            } else {
                                hour = data.data[i].hour + ":00";
                            }
                            dataX.push(hour);
                            dataY.push(data.data[i].count);
                        }
                        let option = this.getEchartsOption(dataX, dataY);
                        this.myChart.setOption(option);
                    } else if (data.errcode == -1) {
                        layer.msg("后台服务器异常!", {shift: '6', time: 3000});
                    }
                });
            })
        },
        methods: {
            sortNumber: function (a, b) {
                return a.hour - b.hour;
            },
            formatData: function(datastring){
                if(datastring.length > 4)
                    return datastring.substring(0,4);
                else
                    return datastring;
            },
            getEchartsOption: function (dataX, dataY) {
                let option = {
                    textStyle: {
                        color: "#19B7D0"
                    },
                    color: ['#19B7D0'],
                    tooltip : {
                        trigger: 'axis',
                        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        },
                        formatter: "时间: {b}<br/>{a}: {c}"
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '9%',
                        top: "15%",
                        containLabel: true,
                    },
                    xAxis : [
                        {
                            type : 'category',
                            data : dataX,
                            axisTick: {
                                alignWithLabel: true
                            },
                            axisLabel: {
                                rotate: -90,
                                textStyle: {
                                    fontSize: 10
                                },
                                interval: 0
                            },
                            splitLine:{
                                show: true,
                                interval: 0,
                                lineStyle: {
                                    color: "#1A3337"
                                }
                            },
                            axisLine: {
                                lineStyle: {
                                    color: '#19B7D0',
                                    width: 2
                                }
                            },
                        }
                    ],
                    yAxis : [
                        {
                            name: "人次",
                            type : 'value',
                            splitLine:{
                                show: true,
                                interval: 0,
                                lineStyle: {
                                    color: "#1A3337"
                                }
                            },
                            axisLine: {
                                lineStyle: {
                                    color: '#19B7D0',
                                    width: 2
                                }
                            },
                        }
                    ],
                    series : [
                        {
                            name:'人流量',
                            type:'bar',
                            barWidth: '60%',
                            data: dataY
                        }
                    ]
                };
                return option;
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
