<template>
    <div style="width: 100%; height: 100%;position: relative;">
        <div ref="peoplePercent" style="width: 100%; height: 100%;"></div>
        <div class="percent">{{percent}}</div>
    </div>
</template>

<script>
    import echarts from "echarts"
    import {peopleLibPercentAndMsgSure} from "../../../api/components/index"

    export default {
        data() {
            return {
                myChart: '',
                percent: "0.00%"
            }
        },
        created() {
            this.$nextTick(() => {
                this.myChart = echarts.init(this.$refs['peoplePercent']);
                peopleLibPercentAndMsgSure().then(data => {
                    if (data.errcode == 0) {
                        let percent = (data.data.recognizedSuspectNum / data.data.totalSuspectNum * 100).toFixed(2);
                        if (percent >= 100.00) {
                            percent = 100
                        }
                        this.percent = percent + "%";
                        let noRec = data.data.totalSuspectNum - data.data.recognizedSuspectNum;
                        let dataX = [
                            {value: data.data.recognizedSuspectNum, name: "识别的人像数", label:{normal:{show:false},emphasis:{show:false}}},
                            {value: noRec, name: "未识别人像数", label:{normal:{show:false},emphasis:{show:false}}}
                        ];
                        let option = this.getEchartsOption(dataX);
                        this.myChart.setOption(option);
                    } else if (data.errcode == -1) {
                        layer.msg("后台服务器异常!", {shift: '6', time: 3000});
                    }
                });
            })
        },
        methods: {
            getEchartsOption: function (dataX) {
                let i = 0;
                let colors = ["#F5B22D", "#4D4D4D"];
                let option = {
                    tooltip: {
                        trigger: 'item',
                        formatter: "{b}: {c} ({d}%)",
                        position: "right"
                    },
                    series: [
                        {
                            type:'pie',
                            radius: ['65%', '80%'],
                            avoidLabelOverlap: false,
                            label: {
                                normal: {
                                    show: false,
                                    position: 'center',
                                },
                                emphasis: {
                                    show: true,
                                    textStyle: {
                                        fontSize: '15',
                                        fontWeight: 'bold',
                                        color: "white"
                                    }
                                }
                            },
                            itemStyle: {
                                normal: {
                                    color: function () {
                                        return colors[i++]
                                    }
                                }
                            },
                            labelLine: {
                                normal: {
                                    show: false
                                }
                            },
                            data:dataX
                        }
                    ]
                };
                return option;
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .percent {
        /*border: 1px solid #f00;*/
        width: 70px;
        height: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -15px;
        margin-left: -35px;
        font-size: 20px;
        color: white;
    }
</style>
