<template>

    <div ref="main" style="width:100%; height:calc(96% - 35px)"></div>
</template>

<script>
    import echarts from 'echarts'
    import {getMainCategoryCountToday} from '../../../api/components/12345'
    import ws from '../../../api/sockjs'

    const colorArr =
        ['#5082d7', '#2f4554', '#61a0a8', '#d48265', '#91c7ae', '#749f83', '#cab625', '#bda29a', '#6e7074', '#546570', '#c4ccd3'];

    String.prototype.chooseColor = function () {
        //16位正则
        let reg = /^#([0-9a-fA-f]{3}|[0-9a-fA-f]{6})$/;

        let hex = this.toLowerCase()
        if (hex && reg.test(hex)) {
            let sColorChange = [];
            for (let i = 1; i < 7; i += 2) {
                sColorChange.push(parseInt("0x" + hex.slice(i, i + 2)));
            }
            return "rgb(" + sColorChange.join(",") + ")";
        }
        else {
            return hex
        }
    }
    export default {
        data() {
            return {
                myChart: null,
                data: [],
                data2: [],
                client: null
            }
        },
        methods: {
            option() {
                return {
                    legend: {
                        type: 'scroll',
//                        orient: 'vertical',
                        width: 425,
                        height: 80,
                        left: 0,
                        bottom: 0,
                        icon: "circle",
                        data: [],
                        textStyle: {
                            color: '#19B7D0'
                        }
                    },
                    title: {
                        show: true,

                        textStyle: {
                            color: '#fff',
                            fontSize: 8,
                            fontStyle: 'normal',
                            fontWeight: 'normal'
                        },
                        padding: '0',
                        itemGap: 3,
//                        subtext: 'bhhghusdffuduhsu',
                        subtextStyle: {
                            color: '#fff',
                            fontStyle: 'normal',
                            fontWeight: 'normal',
                            fontFamily: 'sans-serif',
                            fontSize: 8,
                        }
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    toolbox: {
                        show: false,
                        feature: {
                            mark: {show: true},
                            dataView: {show: true, readOnly: false},
                            magicType: {
                                show: true,
                                type: ['pie']
                            },
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    calculable: true,
                    series: [
                        {
                            name: '主类',
                            type: 'pie',
                            radius: [60, 100],
                            center: ['50%', '43%'],
                            avoidLabelOverlap: false,
                            selectedMode: 'single',
//                            roseType: 'radius',
                            label: {
                                normal: {
                                    show: false,
                                    position: 'center',
                                    textStyle: {
                                        fontSize: 20,
                                        fontWeight: 'bold'
                                    },

                                },
                                emphasis: {
                                    show: true,
                                    position: 'inside'
                                }
                            },
                            labelLine: {
                                normal: {
                                    show: true,
                                    length: 30,
                                    length2: 0,
                                    smooth: true
                                },
                                emphasis: {
                                    show: false
                                }
                            },
                            data: []
                        },
                        {
                            name: '分类',
                            type: 'pie',
                            radius: [130, 160],
                            center: ['50%', '43%'],
                            avoidLabelOverlap: false,
//                            roseType: 'radius',
                            label: {
                                normal: {
                                    show: false,
                                    position: 'center',
                                    textStyle: {
                                        fontSize: 20,
                                        fontWeight: 'bold'
                                    },
                                    formatter: (par) => par.name.split('#')[1]
                                },
                                emphasis: {
                                    show: true
                                }
                            },
                            labelLine: {
                                normal: {
                                    show: true,
                                    length: 30,
                                    length2: 0,
                                    smooth: true
                                },
                                emphasis: {
                                    show: false
                                }
                            },
                            data: []
                        }
                    ]
                };
            },
            subArr(arr) {
                let subarray = {};
                let array = [];
                this.data.forEach(item => {
                    let key = item.name;
                    subarray[key] = []
                    subarray[key].push(item.itemStyle.normal.color)
                });

                arr.forEach(item => {
                    for (let key in subarray) {
                        if (item.mainCategory === key) {
                            let oldcolor = subarray[key][0].split(',');
                            let color = `${oldcolor[0]},${this.getRandom(Number(oldcolor[1]), Number(oldcolor[1]) + 35)},${oldcolor[2]}`;
                            subarray[key].push({
                                name: item.subCategory + '#' + item.mainCategory,
                                value: item.count,
                                tooltip: {
                                    formatter: (par) => `${par.name.split('#')[0]}:${par.value}(${par.percent}%)`
                                },
                                itemStyle: {
                                    normal: {
                                        color: color
                                    }
                                }
                            })
                        }
                    }
                });
                for (let key in subarray) {
                    subarray[key].forEach(item => {
                        array.push(item)
                    })
                }
                return array
            },
            getRandom(min, max, num) {
                min = Math.ceil(min || 0);
                max = Math.floor(max || 255);
                let a = Math.floor(Math.random() * (max - min)) + min;

                return num || a
            },
            content() {
                this.$nextTick(() => {
                    ws('分类统计', this.content).then(sto => {
                        this.client = sto;
                        this.client.subscribe('/topic/mainCategoryCountToday', (response) => {
                            this.data = [];
                            let data = JSON.parse(response.body)
                            let arr = [];
                            data.mainCategoryCount.forEach((item, index) => {
                                let color = colorArr[index] ? colorArr[index].chooseColor() : colorArr[index - colorArr.length].chooseColor();

                                let it = {
                                    name: item.name,
                                    value: item.count,
                                    itemStyle: {
                                        normal: {
                                            color: color //`rgb(${this.getRandom()},${this.getRandom(180, 200)},${this.getRandom(180, 230)})`
                                        }
                                    }
                                }
                                this.data.push(it)
                                arr.push(item.name)
                            });


                            this.data2 = this.subArr(data.subCategoryCont)

                            this.myChart.setOption({
                                legend: {
                                    data: arr
                                },
                                series: [{
                                    name: '主类',
                                    data: this.data
                                }, {
                                    name: '分类',
                                    data: this.data2
                                }]
                            });
                        })

                    })

                })
            }
        },
        created() {
            this.$nextTick(() => {
                this.myChart = echarts.init(this.$refs['main']);
                this.myChart.setOption(this.option());
                getMainCategoryCountToday().then(data => {
                    if (data.errcode === 0) {
                        let arr = [];
                        data.data.mainCategoryCount.forEach((item, index) => {
                            let color = colorArr[index] ? colorArr[index].chooseColor() : colorArr[index - colorArr.length].chooseColor();

                            let it = {
                                name: item.name,
                                value: item.count,
                                itemStyle: {
                                    normal: {
                                        color: color,//`rgb(${this.getRandom()},${this.getRandom(180, 200)},${this.getRandom(180, 230)})`
                                    }
                                }
                            }
                            this.data.push(it)
                            arr.push(item.name)
                        });


                        this.data2 = this.subArr(data.data.subCategoryCont)

                        this.myChart.setOption({
                            legend: {
                                data: arr
                            },
                            series: [{
                                name: '主类',
                                data: this.data
                            }, {
                                name: '分类',
                                data: this.data2
                            }]
                        });
                    } else if (data.errcode == -1) {
                        layer.msg("后台服务器异常!", {shift: '6', time: 3000});
                    }
                })
                    .then(() => {
                        // this.content()
                    });
            })
        },
        destroyed() {
            this.$nextTick(() => {
                // this.client.disconnect();
                // alert("清除storage")
            })
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
