<template>

    <div ref="main" style="width:100%; height:calc(96% - 35px)"></div>
</template>

<script>
    import echarts from 'echarts'
    import {getInfoSourceCountToday} from '../../../api/components/12345'
    import ws from '../../../api/sockjs'

    export default {
        data() {
            return {
                myChart: null,
                data: [],
                client: null
            }
        },
        methods: {
            option() {
                return {
                    legend: {
                        orient: 'vertical',
                        left: 20,
                        icon: "circle",
                        bottom: 0,
                        data: [],
//                        height:80,
                        textStyle: {
                            color: '#19B7D0'
                        }
                    },
                    color: ['#019AA0', '#D3AD64', '#14C0D8', '#2F4455', '#419EE3'],
                    title: {
                        show: true,

                        textStyle: {
                            color: '#fff',
                            fontSize: 14,
                            fontStyle: 'normal',
                            fontWeight: 'normal'
                        },
                        padding: '0',
                        itemGap: 3,
//                        subtext: 'bhhghusdffuduhsu',
                        subtextStyle: {
                            color: '#fff',
                            fontStyle: 'normal',
                            fontWeight: 'normal',
                            fontFamily: 'sans-serif',
                            fontSize: 10,
                        }
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{b} : {c} ({d}%)"
                    },
                    toolbox: {
                        show: false,
                        feature: {
                            mark: {show: true},
                            dataView: {show: true, readOnly: false},
                            magicType: {
                                show: true,
                                type: ['pie']
                            },
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    calculable: true,
                    series: [
                        {
                            name: '',
                            type: 'pie',
                            radius: [50, 80],
                            center: ['53%', '50%'],
//                            roseType: 'radius',
                            label: {
                                normal: {
                                    show: true,
                                    position: 'outside',
                                    textStyle: {
                                        fontSize: 10
                                    },

                                },
                                emphasis: {
                                    show: true
                                }
                            },
                            labelLine: {
                                normal: {
                                    show: true,
                                    length: 15,
                                    length2: 10,
                                    smooth: true
                                },
                                emphasis: {
                                    show: false
                                }
                            },
                            data: []
                        }
                    ]
                };
            },
            content() {
                this.$nextTick(() => {
                    ws('来源统计', this.content).then(sto => {
                        this.client = sto;
                        this.client.subscribe('/topic/infoSourceCountToday', (response) => {
                            let data = JSON.parse(response.body)
                            let arr = [];
                            data.forEach(item => {
                                let it = {
                                    name: item.name,
                                    value: item.count
                                }
                                arr.push(it)
                            })
                            this.data = [...arr]
                            this.myChart.setOption({
                                series: [{
                                    data: this.data
                                }]
                            });
                        })
                    })
                })
            }
        },
        created() {
            this.$nextTick(() => {
                getInfoSourceCountToday().then(data => {
                    if (data.errcode === 0) {
                        let arr = [];
                        let arr2 = [];
                        data.data.forEach(item => {
                            let it = {
                                name: item.name,
                                value: item.count
                            }
                            arr.push(it)
                            arr2.push(item.name)
                        });
                        this.data = [...arr];
                        this.myChart.setOption({
                            legend: {
                                data: arr2
                            },
                            series: [{
                                data: this.data
                            }]
                        });
                    } else if (data.errcode == -1) {
                        layer.msg("后台服务器异常!", {shift: '6', time: 3000});
                    }
                })
                    .then(() => {
                        // this.content()
                    })
                this.myChart = echarts.init(this.$refs['main']);
                this.myChart.setOption(this.option());
            })
        },
        destroyed() {
            this.$nextTick(() => {
                // this.client.disconnect();
            })
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
