<template>

    <div ref="main" style="width:100%; height:calc(96% - 35px)"></div>
</template>

<script>
    import echarts from 'echarts'
    import {getRateByTime} from '../../../api/components/12345'

    export default {
        data() {
            return {
                myChart: null,
                data: []
            }
        },
        methods: {
            option() {
                return {
                    title: {
                        text: '',
                        textStyle: {
                            color: '#ececec',
                            fontStyle: 'normal',
                            fontWeight: 'bolder',
                            fontFamily: 'sans-serif',
                            fontSize: 14,
                        },
                        subtext: '',
                        subtextStyle: {
                            color: '#aaa',
                            fontStyle: 'normal',
                            fontWeight: 'normal',
                            fontFamily: 'sans-serif',
                            fontSize: 10,
                        },
                        itemGap: 3,
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        },
                        formatter: "违章类型: {b}<br/>环比增量: {c}"
                    },
                    grid: {
//                      left: '-10%',
                        right: '4%',
                        bottom: '10%',
                        containLabel: true
                    },
                    yAxis: {
                        type: 'category',
                        axisLabel: {
                            interval: 0,
                            fontSize: 8,
                            color: '#ccc',
                        },
                        axisLine: {
                            show: true,
                            lineStyle: {
                                color: '#19B7D0',
                            }
                        },
                        data: [{
                            value: '社区戒毒',
                            textStyle: {
                                color: '#ccc'
                            }
                        }, {
                            value: '监外执行',
                            textStyle: {
                                color: '#ccc'
                            }
                        }, {
                            value: '取保候审',
                            textStyle: {
                                color: '#ccc'
                            }
                        }]
                    },
                    xAxis: {
                        min: '-200',
                        max: 'dataMax',
                        position: 'top',
                        type: 'value',
                        boundaryGap: [0, 0.01],

                        nameTextStyle: {
                            color: '#ccc',
                            fontStyle: 'normal',
                            fontWeight: 'normal',
                            fontFamily: 'sans-serif',
                            fontSize: 12,
                        },
                        splitLine: {
                            show: true,
                            interval: 'auto',
                            lineStyle: {
                                color: ['#19B7D0'],
                                width: 1,
                                type: 'solid',
                                shadowOffsetX: 0,
                                shadowOffsetY: 0,
                                opacity: 0.3,
                            },
                        },
                        axisLabel: {
                            show: true,
                            interval: 'auto',
                            inside: false,
                            rotate: 0,
                            margin: 8,
                            formatter: null,
                            showMinLabel: null,
                            showMaxLabel: null,
                            textStyle: {
                                color: '#19B7D0',
                                fontStyle: 'normal',
                                fontWeight: 'normal',
                                fontFamily: 'sans-serif',
                                fontSize: 8,
                            },
                        },
                        axisLine: {
                            show: true,
                            lineStyle: {
                                color: '#19B7D0',
                            }
                        },
                    },
                    series: [
                        {
                            name: '',
                            type: 'bar',
                            data: [],
                            barWidth: '100%',
                            itemStyle: {
                                normal: {
                                    color: '#419ade',
                                }
                            },
                            label: {
                                normal: {
                                    show: true,
//                                  formatter:'{b}',
                                    position: 'outside',
                                    fontSize: 8,
                                }
                            },
                        }
                    ]
                };
            }
        },
        created() {
            this.$nextTick(() => {
                this.myChart = echarts.init(this.$refs['main']);
                this.myChart.setOption(this.option());

                getRateByTime().then(data => {
                    if (data.errcode === 0) {
                        let arr = [];
                        let arr2 = [];
                        data.data.forEach(item => {
                            let it = {
                                name: item.name,
                                value: item.count,

                            }
                            arr.push(it)
                            arr2.push({
                                value: item.name, textStyle: {
                                    color: '#19B7D0',
                                    fontStyle: 'normal',
                                    fontWeight: 'normal',
                                    fontFamily: 'sans-serif',
                                    fontSize: 10,
                                }
                            })
                        });
                        this.data = [...arr];
                        this.myChart.setOption({
                            yAxis: {
                                data: arr2
                            },
                            series: [{
                                data: this.data
                            }]
                        });
                    } else if (data.errcode == -1) {
                        layer.msg("后台服务器异常!", {shift: '6', time: 3000});
                    }
                })
            })
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
