<template>

    <div class="container">
        <div class="row">
            <div class="item">
                <div class="title">今日接警</div>
                <div class="numWrapper">
                    <div class="num">{{todayDiscoverNum}}</div>
                    <span style="font-size:18px;color: rgb(15,101,156);vertical-align: bottom">次</span>
                </div>

            </div>
            <div class="item">
                <div class="title">今日立案</div>
                <div class="numWrapper">
                    <div class="num">{{todayCreateNum}}</div>
                    <span style="font-size:18px;color: rgb(15,101,156);vertical-align: bottom">次</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="item">
                <div class="title">今日受理</div>
                <div class="numWrapper">
                    <div class="num">{{otherUploadNum}}</div>
                    <span style="font-size:18px;color: rgb(15,101,156);vertical-align: bottom">次</span>
                </div>
            </div>
            <div class="item">
                <div class="title">今日派遣</div>
                <div class="numWrapper">
                    <div class="num">{{todayDispatchNum}}</div>
                    <span style="font-size:18px;color: rgb(15,101,156);vertical-align: bottom">次</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {getCurrentStatEventCN} from '../../../api/components/12345'
    import ws from '../../../api/sockjs'
    export default {
        name: 'hello',
        data() {
            return {
                client: null,
                otherUploadNum: 0,
                todayCreateNum: 0,
                todayDiscoverNum: 0,
                todayDispatchNum: 0,
                todayEndNumber: 0,
                wsUrl: '/topic/currentStatEventCN'
            }
        },
        methods: {
            //ws链接
            content() {
                this.$nextTick(() => {
                    ws('案件统计', this.content).then((sto) => {
                        //绑定变量
                        this.client = sto;
                        this.client.subscribe(this.wsUrl, (response) => {
                            let data = JSON.parse(response.body)
                            for (let i in data) {
                                this[i] = data[i]
                            }
                        })
                    })
                })
            }
        },
        created() {
            this.$nextTick(() => {
                getCurrentStatEventCN().then(data => {
                    if (data.errcode === 0) {
                        for (let i in data.data) {
                            this[i] = data.data[i]
                        }
                    } else if (data.errcode == -1) {
                        layer.msg("后台服务器异常!", {shift: '6', time: 3000});
                    }
                }).then(() => {

                    // this.content()
                })
            })
        },
        destroyed() {
            this.$nextTick(() => {

                // this.client.disconnect()
            })

        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .container {
        width: 100%;
        height: calc(100% - 35px);
        padding: 35px 10px 10px;
        display: flex;
        flex-direction: column;
    }

    .row {
        width: 100%;
        flex: 1;
        display: flex;
    }

    .item {
        flex: 1;
    }

    .item .title {
        height: 40px;
        font-size: 18px;
        line-height: 40px;
        text-indent: -20px;
        color: #69cedd;
    }

    .item .num {
        width: 80px;
        height: 50px;
        background: rgb(12, 56, 79);
        line-height: 50px;
        display: inline-block;
        font-size: 44px;
        color: white;
    }
</style>
