<template>

    <div class="container">
        <div class="row">
            <div class="item">
                <div class="title">烟感预警</div>
                <div class="numWrapper">
                    <div class="num">{{todayDiscoverNum}}</div>
                    <span style="font-size:18px;color: rgb(15,101,156);vertical-align: bottom">次</span>
                </div>

            </div>
            <div class="item">
                <div class="title">火感预警</div>
                <div class="numWrapper">
                    <div class="num">{{todayCreateNum}}</div>
                    <span style="font-size:18px;color: rgb(15,101,156);vertical-align: bottom">次</span>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px ">
            <div class="item">
                <div class="title">井盖预警</div>
                <div class="numWrapper">
                    <div class="num">{{otherUploadNum}}</div>
                    <span style="font-size:18px;color: rgb(15,101,156);vertical-align: bottom">次</span>
                </div>
            </div>
            <div class="item">
                <div class="title">消防通道拥堵预警</div>
                <div class="numWrapper">
                    <div class="num">{{todayDispatchNum}}</div>
                    <span style="font-size:18px;color: rgb(15,101,156);vertical-align: bottom">次</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {getCurrentStatEventCN} from '../../../api/components/12345'
    import ws from '../../../api/sockjs'
    export default {
        name: 'hello',
        data() {
            return {

                otherUploadNum: 32,
                todayCreateNum: 25,
                todayDiscoverNum: 61,
                todayDispatchNum: 45,

            }
        },
        methods: {
            //ws链接
            content() {
                this.$nextTick(() => {

                })
            }
        },
        created() {
            this.$nextTick(() => {

            })
        },
        destroyed() {
            this.$nextTick(() => {

            })

        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .container {
        width: 100%;
        height: calc(100% - 35px);
        padding: 20px 1px 1px 10px;
        display: flex;
        flex-direction: column;
    }

    .row {
        width: 100%;
        flex: 1;
        display: flex;
        margin-bottom: 10px;
    }

    .item {
        flex: 1;
    }

    .item .title {
        height: 30px;
        font-size: 18px;
        line-height: 30px;
        text-indent: -20px;
        color: #69cedd;
    }

    .item .num {
        width: 110px;
        height: 50px;
        background: rgb(12, 56, 79);
        line-height: 50px;
        display: inline-block;
        font-size: 36px;
        color: white;
    }
</style>

