<template>
    <div ref="main" style="width: 100%;height: 100%;">

    </div>
</template>
<script>
    import echarts from 'echarts'
    export default {
        data(){
            return{

            }
        },
        created() {
            this.$nextTick(() => {
                this.myChart = echarts.init(this.$refs['main']);
                this.myChart.setOption(this.option());
            })
        },
        methods:{
            option(){
                return{
                    xAxis: {
                        data: ['年家浜周康路', '年家浜康沈路', '横桥周星路', '横桥周康路', '沪南公路繁荣路', '横桥路建韵路', '周市路',
                            '韵浦路'],
                        axisLabel: {
                            rotate: -45,
                            outside: true,
                            textStyle: {
                                color: '#fff'
                            },
                            interval: 0
                        },
//                        axisTick: {
//                            show: false
//                        },
//                        axisLine: {
//                            show: false
//                        },
                        axisLine: {
                            lineStyle: {
                                color: '#ffffff',
                                width: 1
                            }
                        }
                    },
                    grid: {
                        top:'10%',
                        left: '3%',
                        right: '6%',
                        bottom: '25%',
                        containLabel: true
                    },
                    yAxis: {
                        axisLine: {
                            lineStyle: {
                                color: '#ffffff',
                                width: 1
                            }
                        },
                        axisTick: {
                            show: false
                        },
                        axisLabel: {
                            textStyle: {
                                color: '#999'
                            }
                        }
                    },
                    dataZoom: [
                        {
                            type: 'inside'
                        }
                    ],
                    series: [
                        { // For shadow
                            type: 'bar',
                            itemStyle: {
                                normal: {color: 'rgba(0,0,0,0.05)'}
                            },
                            barGap:'-100%',
                            barCategoryGap:'40%',
                            animation: false
                        },
                        {
                            type: 'bar',
                            itemStyle: {
                                normal: {
                                    color: new echarts.graphic.LinearGradient(
                                        0, 0, 0, 1,
                                        [
                                            {offset: 0, color: '#83bff6'},
                                            {offset: 0.5, color: '#188df0'},
                                            {offset: 1, color: '#188df0'}
                                        ]
                                    )
                                },
                                emphasis: {
                                    color: new echarts.graphic.LinearGradient(
                                        0, 0, 0, 1,
                                        [
                                            {offset: 0, color: '#2378f7'},
                                            {offset: 0.7, color: '#2378f7'},
                                            {offset: 1, color: '#83bff6'}
                                        ]
                                    )
                                }
                            },
                            data: [22, 18, 19, 23, 29, 33, 31, 53]
                        }
                    ]
                }
            }
        }
    }
</script>
