<template>
    <div ref="main" style="width: 100%;height: 100%;"></div>
</template>
<script>
    import echarts from 'echarts'
    export default {
        data(){
            return{

            }
        },
        created() {
            this.$nextTick(() => {
                this.myChart = echarts.init(this.$refs['main']);
                this.myChart.setOption(this.option());
            })
        },
        methods:{
            option(){
                return{
                    title : {
                        x:'center'
                    },
                    tooltip : {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient: 'vertical',
                        left: 'left',
                        data: ['井盖丢失','井盖完整'],
                        textStyle: {
                            color: "#ffffff",
                        },
                    },
                    color:['#14c0d8','#019aa0'],
                    series : [
                        {
                            name: '井盖完整率',
                            type: 'pie',
                            radius : '50%',
                            center: ['50%', '40%'],
                            data:[
                                {value:30, name:'井盖丢失'},
                                {value:970, name:'井盖完整'},
                            ],
                            itemStyle: {
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                }
            }
        }
    }
</script>
