<template>
    <div class="iconInfo">
        <div class="iconList">
            <div
                class="icon"><img src="../../../../static/img/map/stop.png"
                                  alt=""><span>消防通道堵塞
            </span></div>
            <div class="icon"><img src="../../../../static/img/map/smartholecover.png" alt=""><span>智能井盖监测
            </span></div>
            <div
                class="icon"><img src="../../../../static/img/map/pressure.png" alt=""><span>消防水压监测
            </span></div>
            <div
                class="icon"><img src="../../../../static/img/map/smoke.png" alt=""><span>烟感自动感应
            </span></div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return{

            }
        }
    }
</script>
<style>
.iconInfo{
    width: 175px;
    height: 190px;
    border-top: 3px solid rgb(36, 113, 163);
    border-left: 3px solid rgb(36, 113, 163);
    position: absolute;
    right: 0;
    bottom:0;
    background: rgba(0,0,0,0.5);
}
.iconList{
    width: 160px;
    height: 180px;
}
.icon{
    width: 160px;
    height: 45px;
    position: relative;
    border-bottom: 1px solid #00b7ee;
    margin-left: 7px;
    line-height: 45px;
}
.icon:last-child{
    border-bottom:0;
    /*padding-bottom: 10px;*/
}
.icon img{
    width: 20px;
    height: 20px;
   position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -10px;
}
.icon span{
    font-size: 12px;
    color: #ffffff;
    padding-left: 20px;
}
</style>
