<template>
    <div class="contianer">

        <!--左浮列表-->
        <div class="leftDiv">

            <div class="check-top">
                <p class="title">今日案件统计</p>
                <today-case></today-case>
            </div>
            <div class="check-bottom">
                <p class="title">实时案件分类统计</p>
                <rose-case></rose-case>
            </div>
        </div>

        <!--右浮列表-->
        <div class="rightDiv">

            <div class="check-top">
                <p class="title">实时来源统计</p>
                <rose-from></rose-from>
            </div>
            <div class="check-bottom">
                <p class="title">违章同期环比增量</p>
                <supervise></supervise>
            </div>
        </div>

    </div>
</template>

<script>

    import roseCase from '../echarts/12345/roseCase.vue'
    import roseFrom from '../echarts/12345/roseFrom.vue'

    import supervise from '../echarts/12345/supervisetime.vue'
    import todayCase from '../echarts/12345/today-case.vue'


    import ws from '../../api/sockjs'
    export default {
        components: {
            roseCase, roseFrom, supervise, todayCase
        },
        data () {
            return {}
        },
        created() {
            this.$nextTick(() => {

            })
        },

    }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .contianer {
        position: relative;
    }

    .leftDiv {
        width: 435px;
        height: 895px;
        position: absolute;
    }

    .check-top {
        width: 100%;
        height: 358px;
        background: url("/static/img/component/farme_03.gif") no-repeat;
        background-size: 100% 100%;
        padding-left: 10px;
    }

    .check-bottom {
        margin-top: 5px;
        width: 100%;
        height: 530px;
        background: url("/static/img/component/farme_02-02.gif") no-repeat;
        background-size: 100% 100%;
        padding-left: 10px;
    }

    .rightDiv {
        width: 435px;
        height: 895px;
        position: absolute;
        right: 0px;
    }

    .title {
        width: 100%;
        height: 35px;
        padding-left: 30px;
        line-height: 35px;
        font-size: 18px;
        font-weight: bold;
        color: #a5ffff;
        text-align: left;
    }
</style>
