<template>
    <div class="contianer">

        <!--左浮列表-->
        <div class="leftDiv">
            <div class="check">
                <span class="textA textB">周浦镇各类人口数量统计</span>
                <div class="flowrate">
                    <zpz-people></zpz-people>
                </div>
            </div>
            <div class="check" id="yesterdayXi">
                <span class="textA textB">人口分布</span>
                <!--<typeworing></typeworing>-->
                <div style="height: 250px;padding-bottom: 10px">
                    <population-distribution></population-distribution>
                </div>

            </div>
            <div class="check">
                <span class="textA textB">来沪人员户籍分布</span>
                <div class="weekpeo">
                    <come-hu></come-hu>
                </div>
            </div>
        </div>

        <!--右浮列表-->
        <div class="rightDiv">
            <div class="check">
                <span class="textB textD">最近一周出行车辆数</span>
                <div class="flowrate">
                     <week-car></week-car>
                </div>
            </div>
            <div class="check">
                <span class="textB textE">全天各时间段出行车辆数</span>
                <div class="phoneDiv">
                    <vehicle></vehicle>
                </div>

            </div>
            <div class="check">
                <span class="textB textF">车主年龄分布</span>
                <!--<ann></ann>-->
                <div class="ageDiv">
                    <age></age>
                </div>

            </div>
        </div>

    </div>
</template>

<script>
import vehicle from "../echarts/bracelet/vehicle.vue";
import age from "../echarts/bracelet/age.vue";
import weekCar from "../echarts/bracelet/weekCar.vue";
import zpzPeople from "../echarts/bracelet/zpzPeople.vue";
import populationDistribution from "../echarts/bracelet/populationDistribution.vue";
import comeHu from "../echarts/bracelet/comeHu.vue";

import {radarTrackHistoryStatistics,lastTrackForBand,elderlyAndBandInfo} from '../../api/components/electrobike'

export default {
  components: {
    vehicle,
    age,
    weekCar,
    zpzPeople,
    populationDistribution,
    comeHu
  },

  data() {
    return {};
  },

  beforeRouteEnter(to, from, next) {
    next(vm => {
      if (from.path === "/electrombile") {
      } else {
        vm.$emit("removeAllCams");
       
      }
    });
  },
  beforeRouteLeave(to, from, next) {
    if (to.path !== "/electrombile") {
      this.$emit("redrawAllCams");
    }
    this.$emit("cleanMulch");
    this.$emit("closeWin");
    next();
  },
  created() {
    this.$nextTick(function() {
      this.getRadar();
      this.getLast();
    });
  },
  mounted: function() {
    this.$nextTick(function() {});
  },
  methods: {
    getRadar() {
      radarTrackHistoryStatistics().then(data => {
        if (data.errcode === 0) {
          this.$emit("initRadarHeatMap", data.data);
        } else  {
          layer.msg(data.errmsg, { shift: "6", time: 3000 });
        }
      });
    },
    getLast() {
      lastTrackForBand().then(data => {
        if (data.errcode === 0) {
          this.$emit("initBraceletMarks", data.data);
        } else  {
          layer.msg(data.errmsg, { shift: "6", time: 3000 });
        }
      });
    },

  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.contianer {
  position: relative;
}

    .leftDiv {
        width: 436px;
        height: 895px;
        position: absolute;
    }
    .leftDiv .check{
        width: 436px;
        height: 294px;
        margin: 4px auto;
        background: url("../../../static/img/component/farme_01.gif") no-repeat;
        background-size: contain;
        padding: 10px 0 0 15px;
        position: relative;
    }
    .phoneDiv {
        width: 390px;
        height: 300px;
        /*margin-top: 20px;*/
    }
    .ageDiv{
        width: 350px;
        height: 300px;
        /*margin-top: -80px;*/
        margin-left: 15px;
    }
    .leftDiv .check .textB {
        font-size: 18px;
        font-family: 微软雅黑;
        font-weight: bold;
        color: #a5ffff;
    }

.leftDiv .check .textA {
  position: absolute;
  top: 12px;
  left: 40px;
}

.leftDiv .check .textC {
  position: absolute;
  top: 7px;
  left: 40px;
}

.leftDiv .check .checkcl {
  position: absolute;
  top: 60px;
  right: 30px;
}

.leftDiv .check .checkcl .time {
  color: #a5ffff;
  font-size: 18px;
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  margin-right: 3px;
}

.leftDiv .check .checkcl .time:hover {
  color: black;
  cursor: pointer;
  background-color: #a5ffff;
}
.leftDiv .check .checkcl .timeClick {
  color: black;
  background-color: #a5ffff;
}
.rightDiv {
  width: 435px;
  height: 895px;
  position: absolute;
  right: 0px;
}
.rightDiv .check {
  width: 436px;
  height: 294px;
  margin: 4px auto;
  background: url("../../../static/img/component/farme_01.gif") no-repeat;
  background-size: contain;
  padding: 10px 0 0 30px;
  position: relative;
}
.rightDiv .check .number {
  color: #6ad1e0;
  font-size: 22px;
  text-align: left;
  padding-top: 20px;
}
.rightDiv .check .numberText {
  color: #ffffff;
  font-size: 40px;
  padding: 0 7px;
  background-color: rgba(15, 72, 92, 0.7);
}
.flowrate {
  width: 390px;
  height: 220px;
  margin-top: 35px;
}
.rightDiv .check:nth-child(2) {
  padding: 30px 0 0 50px;
}

.rightDiv .check .textB {
  font-size: 18px;
  font-family: 微软雅黑;
  font-weight: bold;
  color: #a5ffff;
  top: 10px;
}

.rightDiv .check .textD {
  position: absolute;
  left: 40px;
}

.rightDiv .check .textE {
  position: absolute;
  left: 40px;
}

.rightDiv .check .textF {
  position: absolute;
  left: 35px;
}

.rightDiv .check .number {
  color: #6ad1e0;
  font-size: 22px;
  padding-top: 30px;
}

#yesterdayXiu {
  text-align: left;
}
.rightDiv .check .numberText {
  color: #ffffff;
  font-size: 40px;
  padding: 0 7px;
  background-color: rgba(15, 72, 92, 0.7);
}

    .rightDiv .check .text {
        color: #017cc2;
        font-size: 21px;
    }
    .weekpeo {
        width: 460px;
        height: 225px;
        margin-top: 25px;
        margin-left: -10px;
    }
</style>
