<template>
    <div class="contianer">

        <!--左浮列表-->
        <div class="leftDiv">
            <div class="check">
                <span class="textA textB">全天预警统计数</span>
                <div class="flowrate">
                    <alldaycou></alldaycou>
                </div>
            </div>
            <div class="check" id="yesterdayXi">
                <span class="textA textB">昨日楼宇烟感自动感应报警数</span>
                <!--<typeworing></typeworing>-->
                <div style="height: 250px;padding-bottom: 10px">
                    <smoke-detector style="height: 250px;"></smoke-detector>
                </div>

            </div>
            <div class="check">
                <span class="textA textB">重点区域消防水压实时监测</span>
                <div class="weekpeo">
                    <wateGage></wateGage>
                </div>
            </div>
        </div>

        <!--右浮列表-->
        <div class="rightDiv">
            <div class="check">
                <span class="textB textD">消防通道防堵预警统计</span>
                <div class="flowrate">
                   <fangdu></fangdu>
                </div>
            </div>
            <div class="check" id="yesterdayXiu">
                <span class="textB textE">重点区域井盖状态实时监测</span>
                <!--<typeworing></typeworing>-->
                <div style="width: 360px;height: 290px;margin-top: 20px">
                    <manholeCover></manholeCover>
                </div>

            </div>
            <div class="check">
                <span class="textB textF">昨日火警实时监测预警</span>
                <div class="weekpeo1">
                    <firepolic></firepolic>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import alldaycou from "../echarts/electrombile/alldaycou.vue";
import smokeDetector from "../echarts/electrombile/smokeDetector.vue";
import wateGage from "../echarts/electrombile/wateGage.vue";
import fangdu from "../echarts/electrombile/fangdu.vue";
import manholeCover from "../echarts/electrombile/manholeCover.vue";
import firepolic from "../echarts/electrombile/firepolic.vue";

import ws from "../../api/sockjs";

import { fireChannelCongestionWarningArea } from "../../api/components/electrobike";

export default {
  components: {
    alldaycou,
    smokeDetector,
    wateGage,
    fangdu,
    manholeCover,
    firepolic
  },
  data() {
    return {
      client: null
    };
  },
  created() {
    this.$nextTick(() => {
      // setTimeout(() => {
      //   fireChannelCongestionWarningArea().then(data => {
      //     if (data.errcode === 0) {
      //       this.$emit("setJarm",data.data)
      //     } else {
      //       layer.msg(data.errmsg, { shift: "6", time: 3000 });
      //     }
      //   });

      //   this.getMulch();

      //   this.content();
      // }, 500);
    });
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      if (from.path === "/bracelet") {
      } else {
        vm.$emit("removeAllCams");
      }
    });
  },
  beforeRouteLeave(to, from, next) {
    if (to.path !== "/bracelet") {
      this.$emit("redrawAllCams");
    }
    this.$emit("cleanMulch");
    // this.client.disconnect();
    next();
  },

  methods: {
    content() {
      this.$nextTick(() => {
        ws("消防通道拥堵", this.content).then(sto => {
          console.log(sto)
          this.client = sto;
          this.client.subscribe("/topic/earthMagneticPush", response => {
            let data = JSON.parse(response.body);
            this.$emit("warningJarm", data);
          });
        });
      });
    },

    getMulch() {
      this.$emit("setSmooke", [
        {
          lng: 121.57245,
          lat: 31.11815
        },
        {
          lng: 121.572546,
          lat: 31.117783
        },
        {
          lng: 121.573093,
          lat: 31.118242
        },
        {
          lng: 121.573254,
          lat: 31.117856
        },
        {
          lng: 121.575475,
          lat: 31.11714
        },
        {
          lng: 121.575829,
          lat: 31.116754
        }
      ]);
      this.$emit("setManholeCover", [
        {
          lng: 121.571864,
          lat: 31.113984
        },
        {
          lng: 121.572929,
          lat: 31.11414
        },
        {
          lng: 121.574216,
          lat: 31.114329
        },
        {
          lng: 121.57501,
          lat: 31.114441
        }
      ]);
      this.$emit("setWater", [
        {
          lng: 121.576959,
          lat: 31.116223
        },
        {
          lng: 121.57757,
          lat: 31.116728
        },
        {
          lng: 121.577871,
          lat: 31.116351
        },
        {
          lng: 121.578665,
          lat: 31.116774
        }
      ]);
    },

    timeClick: function() {
      //点击月、周、天更换背景及颜色
      $(".checkcl .time").on("click", () => {
        $(this)
          .addClass("timeClick")
          .siblings()
          .removeClass("timeClick");
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.contianer {
  position: relative;
}

.leftDiv {
  width: 436px;
  height: 895px;
  position: absolute;
  left: 0;
}
.phoneDiv {
  width: 390px;
  height: 410px;
  margin-top: 20px;
}
.leftDiv .check {
  width: 436px;
  height: 294px;
  margin: 4px auto;
  background: url("../../../static/img/component/farme_01.gif") no-repeat;
  background-size: contain;
  padding: 10px 0 0 15px;
  position: relative;
}

.leftDiv .check .textB {
  font-size: 18px;
  font-family: 微软雅黑;
  font-weight: bold;
  color: #a5ffff;
}

.leftDiv .check .textA {
  position: absolute;
  top: 12px;
  left: 40px;
}

.leftDiv .check .textC {
  position: absolute;
  top: 7px;
  left: 40px;
}
.rightDiv .check .checkcl .time {
  color: #a5ffff;
  font-size: 18px;
  display: block;
  float: right;
  width: 30px;
  height: 25px;
  margin-right: 3px;
  margin-top: -7px;
}

.rightDiv .check .checkcl .time:hover {
  color: black;
  cursor: pointer;
  background-color: #a5ffff;
}
.rightDiv .check .checkcl .timeClick {
  color: black;
  background-color: #a5ffff;
}

.rightDiv {
  width: 435px;
  height: 895px;
  position: absolute;
  right: 0px;
}
.rightDiv .check {
  width: 436px;
  height: 294px;
  margin: 4px auto;
  background: url("../../../static/img/component/farme_01.gif") no-repeat;
  background-size: contain;
  padding: 10px 0 0 30px;
  position: relative;
}
.flowrate {
  width: 390px;
  height: 230px;
  margin-top: 45px;
}
.rightDiv .check:nth-child(2) {
  padding: 30px 0 0 50px;
}

.rightDiv .check .textB {
  font-size: 18px;
  font-family: 微软雅黑;
  font-weight: bold;
  color: #a5ffff;
  top: 10px;
}

.rightDiv .check .textD {
  position: absolute;
  left: 40px;
}

.rightDiv .check .textE {
  position: absolute;
  left: 40px;
}

.rightDiv .check .textF {
  position: absolute;
  left: 35px;
}

.rightDiv .check .number {
  color: #6ad1e0;
  font-size: 22px;
  text-align: left;
  padding-top: 20px;
}

#yesterdayXiu {
  text-align: left;
}
.rightDiv .check .numberText {
  color: #ffffff;
  font-size: 40px;
  padding: 0 7px;
  background-color: rgba(15, 72, 92, 0.7);
}

.rightDiv .check .text {
  color: #017cc2;
  font-size: 21px;
}
.weekpeo {
  width: 390px;
  height: 225px;
  margin-top: 35px;
  margin-left: -65px;
}
.weekpeo1 {
  width: 390px;
  height: 225px;
  margin-top: 35px;
}
</style>
