<template>
    <div class="video-popup-container" v-if="visible">
        <div class="close-container" @click="closeVideo">
            <img src="/static/img/map/close.png" alt="" srcset="" />
        </div>
        <div class="hls-container" style="height: 100%">
            <video
                controls
                autoplay
                :id="reffer"
                :ref="reffer"
                :src="url"
                height="100%"
                width="100%"
                style="height: 100%; width: 100%; object-fit: fill"
            ></video>
        </div>
    </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
    props: ["reffer", "url", "visible"],
    data() {
        return { thatHls: "", hlsInterval: null, hls: null };
    },
    methods: {
        playVideo: function (row) {
            console.log(row);
        },
        closeVideo: function () {
            this.$emit("hide:video");
            this.hls.destroy();
            this.hls.stopLoad();
        },
        loadJS: function () {
            return new Promise((resolve, reject) => {
                var head = document.getElementsByTagName("head")[0];
                let script = document.createElement("script");
                script.type = "text/javascript";
                head.appendChild(script);
                script.onload = () => {
                    resolve();
                };
                script.onerror = () => {
                    reject();
                };
                script.src =
                    "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/videoPlayer/hls.js%40latest";
            });
        },
        ...mapMutations([]),
    },

    mounted() {
        console.log(this.url);
        console.log("mounted...");
        this.loadJS().then((res) => {
            res;
            let config = { autoStartLoad: true, debug: false };
            this.hls = new Hls(config);
        });
    },
    filters: {},
    destroyed() {
        if (this.hls) {
            this.hls.destroy();
            this.hls.stopLoad();
        }
    },
    watch: {
        visible: function (val) {
            if (!val) {
                // console.log("stop load.");
            }
        },
        url: function (val) {
            // console.log(val)
            if (val) {
                console.log(`url:  ${val}`);
                this.loadJS().then((res) => {
                    let config = { autoStartLoad: true, debug: false };
                    this.hls = new Hls(config);
                    console.log("开始播放...");
                    // console.log(this.reffer)
                    var video = this.$refs[this.reffer];
                    // console.log("准备创建新的hls对象");
                    this.hls.loadSource(val);
                    this.hls.attachMedia(video);
                    // video.play();
                    let that = this;
                    this.hls.on(
                        Hls.Events.BUFFER_CREATED,
                        function (event, data) {
                            // console.log(data);
                        }
                    );
                    this.hls.on(Hls.Events.ERROR, function (event, data) {
                        // console.log(event);
                        // console.log(data);
                        // console.log(data.type);
                        if (data.type == "networkError") {
                            that.hls.detachMedia();
                            that.hlsInterval = setTimeout(() => {
                                // console.log("retry hls video.");
                                that.hls.loadSource(val);
                                that.hls.attachMedia(video);
                            }, 1000);
                        }
                    });
                });
            }
        },
    },
    computed: {
        ...mapState({}),
        ...mapGetters([]),
    },
    components: {},
};
</script>

<style scoped>
.video-popup-container {
    padding: 5px 0;
    height: 51.6%;
    width: 51.6%;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 999;
}
.hls-container {
    position: relative;
}
.hover-mask {
    z-index: 10;
    width: 100%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.hover-mask-button {
    display: none;
}
.button-container {
    background-color: #104257;
}

.close-container {
    position: absolute;
    z-index: 9999;
    height: 25px;
    width: 25px;
    right: 2px;
    top: 7px;
}
.close-container img {
    height: 100%;
    cursor: pointer;
}
</style>
