<template>
    <div class="contianer">
        <!--左浮列表-->
        <div class="leftDiv">
            <div class="contianerDiv" id="todayTui">
                <p class="title">人群观测处理情况统计</p>
                <div class="contentDiv">
                    <!--<p class="header">推送总数</p>-->
                    <!--<div class="casenumber">-->
                    <!--<div id="retroclockbox_counter"></div><span>件</span>-->
                    <!--</div>-->
                    <!--<div class="dealwithDiv">-->
                    <!--<p class="dealTitle">已处理</p>-->
                    <!--<p class="dealNum">{{peopleSolveNum}}<span>件</span></p>-->
                    <!--</div>-->
                    <!--<div class="dealwithDiv">-->
                    <!--<p class="dealTitle">未处理</p>-->
                    <!--<p class="dealNum">{{peopleUnsolveNum}}<span>件</span></p>-->
                    <!--</div>-->
                    <counter></counter>
                </div>
            </div>
            <div class="contianerDiv" id="yesterdayPeople">
                <p class="title">昨日各小时人流量</p>
                <div class="contentDiv">
                    <peoplenum></peoplenum>
                </div>
            </div>
            <div class="contianerDiv" id="peoplePercent">
                <p class="title">人像库图像命中统计</p>
                <div class="contentDiv">
                    <div class="percent">
                        <div class="titleDiv">
                            <p class="title">识别的人像数/总人像库</p>
                        </div>
                        <div class="echarts">
                            <people-percent></people-percent>
                        </div>
                    </div>
                    <div class="percent">
                        <div class="titleDiv">
                            <p class="title">推送消息准确数</p>
                        </div>
                        <div class="echarts">
                            <msg-sure-percent></msg-sure-percent>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--右浮列表-->
        <div class="rightDiv">
            <div class="contianerDiv" id="anJian">
                <p class="title">今日案件统计</p>
                <div class="contentDiv">
                    <an-jian></an-jian>
                </div>
            </div>
            <div class="contianerDiv" id="weiNum">
                <p class="title">昨日各小时违章次数</p>
                <div class="contentDiv">
                    <wei-zhang></wei-zhang>
                </div>
            </div>
            <div class="contianerDiv" id="xiuTan">
                <p class="title">昨日嗅探统计</p>
                <div class="contentDiv">
                    <div class="xiuDiv">
                        <p class="header">昨日嗅探的总人数</p>
                        <div class="number">
                            <div>{{ yesterdayXiuTanAllPeopleNum }}</div>
                            <span>人</span>
                        </div>
                    </div>
                    <div class="xiuDiv">
                        <p class="header">昨日嗅探的总次数</p>
                        <div class="number">
                            <div>{{ yesterdayXiuTanAllTimes }}</div>
                            <span>次</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import counter from "../echarts/index/counter.vue";
import peoplenum from "../echarts/index/peopleNum.vue";
import peoplePercent from "../echarts/index/peopleLibPercent.vue";
import msgSurePercent from "../echarts/index/msgSurePercent.vue";
import anJian from "../echarts/index/anJian.vue";
import weiZhang from "../echarts/index/weiZhang.vue";
import { yesterdayXiuTanAllNum } from "../../api/components/people-counting";

//    let peopleAllNum = 0;
//    let currentPeopleAllNum;
export default {
    components: {
        counter,
        peoplenum,
        peoplePercent,
        msgSurePercent,
        anJian,
        weiZhang,
    },
    data() {
        return {
            peopleSolveNum: 0,
            peopleUnsolveNum: 0,
            yesterdayXiuTanAllPeopleNum: 0,
            yesterdayXiuTanAllTimes: 0,
            ifBackendError: 0,
            client: null,
        };
    },
    created() {
        localStorage.setItem("center", true);
        this.$nextTick(function () {});
    },
    mounted: function () {
        this.$nextTick(() => {
            yesterdayXiuTanAllNum({ type: 0 }).then((data) => {
                if (data.errcode == 0) {
                    this.yesterdayXiuTanAllTimes = data.data;
                } else if (data.errcode == -1) {
                    layer.msg("后台服务器异常!", { shift: "6", time: 3000 });
                }
            });
            yesterdayXiuTanAllNum({ type: 1 }).then((data) => {
                if (data.errcode == 0) {
                    this.yesterdayXiuTanAllPeopleNum = data.data;
                } else if (data.errcode == -1) {
                    layer.msg("后台服务器异常!", { shift: "6", time: 3000 });
                }
            });
        });
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.contianer {
    position: relative;
}

.leftDiv {
    width: 435px;
    height: 895px;
    position: absolute;
}
.contianerDiv {
    background: url("../../../static/img/component/farme_01.gif") no-repeat;
    background-size: contain;
    width: 435px;
    height: 292px;
    margin-top: 9px;
}
.contianerDiv:first-child {
    margin-top: 0;
}
.contianerDiv p.title {
    font-size: 18px;
    color: #a5ffff;
    text-align: left;
    padding-top: 10px;
    padding-left: 40px;
    font-weight: bold;
}
.contianerDiv .contentDiv {
    width: 400px;
    height: 221px;
    margin-left: 25px;
    margin-top: 5px;
}
#peoplePercent .contentDiv .percent {
    width: 50%;
    height: 100%;
    float: left;
}
#peoplePercent .contentDiv .percent .titleDiv {
    height: 90px;
    display: table;
}
#peoplePercent .contentDiv .percent .title {
    padding: 0px 20px 0;
    text-align: center;
    font-size: 22px;
    height: 90px;
    vertical-align: middle;
    display: table-cell;
    font-weight: normal;
}
#peoplePercent .contentDiv .percent .echarts {
    height: 120px;
    margin-top: 0px;
}

.rightDiv {
    width: 435px;
    height: 895px;
    position: absolute;
    right: 0px;
}
#xiuTan .xiuDiv {
    margin-top: 15px;
}
#xiuTan .xiuDiv:first-child {
    margin-top: 5px;
}
#xiuTan .xiuDiv .header {
    font-size: 22px;
    color: #70cfde;
    padding-top: 5px;
    letter-spacing: 7px;
}
#xiuTan .xiuDiv .number {
    margin-top: 7px;
}
#xiuTan .xiuDiv .number div {
    font-size: 40px;
    color: #cccccc;
    display: inline-block;
    background-color: #104257;
    padding: 0 7px;
}
#xiuTan .xiuDiv .number span {
    font-size: 26px;
    color: #007cc1;
    margin-left: 15px;
}
</style>
