<template>
    <div class="contianer">
        <!--左浮列表-->
        <div class="leftDiv">
            <div class="contianerDiv">
                <p class="title">昨天各小时违章次数</p>
                <div class="contentDiv" style="width: 400px;height: 330px">
                    <yesterday-hour></yesterday-hour>
                </div>
            </div>
            <div class="contianerDiv">
                <p class="title">违章记录统计</p>
                <div class="contentDiv" style="width: 400px;height: 400px">
                    <percentage-previous></percentage-previous>
                </div>
            </div>
        </div>
        <!--右浮列表-->
        <div class="rightDiv">
            <div class="contianerDiv">
                <p class="title">最近一周每天抓拍到的违章记录</p>
                <div class="contentDiv">
                    <wei-zhang-week></wei-zhang-week>
                </div>
            </div>
            <div class="contianerDiv">
                <p class="title">违章记录车牌分类</p>
                <div class="contentDiv">
                    <car-num-sort></car-num-sort>
                </div>
            </div>


            <div class="contianerDiv">
                <p class="title">违章记录高发数据统计</p>
                <div class="contentDiv">
                    <high-risk></high-risk>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import weiZhangWeek from "../echarts/parking/weiLastWeek.vue"
    import yesterdayHour from "../echarts/parking/yesterdayHour.vue"
    import carNumSort from "../echarts/parking/carNumSort.vue"
    import percentagePrevious from "../echarts/parking/percentagePrevious.vue"
    import highRisk from '../echarts/parking/highRisk.vue'

    export default {
        components: {
            weiZhangWeek, carNumSort, yesterdayHour, percentagePrevious, highRisk
        },
        name: 'hello',
        data () {
            return {
                msg: 'Welcome to Your Vue.js App'
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .contianer {
        position: relative;
    }
    .leftDiv {
        width: 435px;
        height: 895px;
        position: absolute;
    }

    .leftDiv .contianerDiv:first-child {
        width: 435px;
        height: 410px;
        background: url('/static/img/component/farme_05.gif') no-repeat;
        background-size: 100% calc(100% - 10px);
    }

    .leftDiv .contianerDiv:nth-child(2) {
        width: 435px;
        height: 474px;
        background: url('/static/img/component/farme_03.gif') no-repeat;
        background-size: 100% calc(100% - 5px);
        margin-top: 10px;
    }
    .contianerDiv {
        background: url("../../../static/img/component/farme_01.gif") no-repeat;
        background-size: contain;
        width: 435px;
        height: 292px;
        margin-top: 9px;
    }
    .contianerDiv:first-child {
        margin-top: 0;
    }
    .contianerDiv p.title {
        font-size: 18px;
        color: #a5ffff;
        text-align: left;
        padding-top: 10px;
        padding-left: 40px;
        font-weight: bold;
    }
    .contianerDiv .contentDiv {
        width: 400px;
        height: 221px;
        margin-left: 25px;
        margin-top: 5px;
    }
    .rightDiv {
        width: 435px;
        height: 895px;
        position: absolute;
        right: 0px;
    }
    #weiAdd .addDiv {
        width: 50%;
        height: 50%;
        /*background-color: #f9a123;*/
        margin-top: 5px;
    }
    #weiAdd .addDiv .header {
        font-size: 22px;
        color: #70cfde;
        padding-top: 5px;
        /*letter-spacing: 7px;*/
    }
    #weiAdd .addDiv .number {
        font-size: 40px;
        color: #D3AF65;
        margin-top: 5px;
        padding-left: 15px;
    }
    #weiAdd .addDiv .number .num {
        background-color: #104257;
        /*display: inline-block;*/
        padding: 0 7px;
    }
    #weiAdd .addDiv .number span {
        margin-left: 15px;
    }
    #weiAdd .addDiv2 {
        float: left;
    }
</style>
