<template>
    <div class="contianer">

        <!--左浮列表-->
        <div class="leftDiv">
            <div class="check">
                <span class="textB textA">通讯设备厂商统计TOP10</span>
                <div class="phoneDiv">
                    <phone ref="phone"></phone>
                </div>
                <div class="checkcl">
                    <span class="time" @click="$refs.phone.loadPhoneBrand(0)">天</span>
                    <span class="time" @click="$refs.phone.loadPhoneBrand(1)">周</span>
                    <span class="time timeClick" @click="$refs.phone.loadPhoneBrand(2)">月</span>
                </div>
            </div>
            <div class="check">
                <span class="textB textC">人流量嗅探 TOP 10</span>
                <!--<ann></ann>-->
                <div class="checkcl">
                    <span class="time" @click="$refs.sniff.loadPeopleNumXiuTan(0)">天</span>
                    <span class="time" @click="$refs.sniff.loadPeopleNumXiuTan(1)">周</span>
                    <span class="time timeClick" @click="$refs.sniff.loadPeopleNumXiuTan(2)">月</span>
                </div>
                <sniff ref="sniff"></sniff>
            </div>
        </div>

        <!--右浮列表-->
        <div class="rightDiv">
            <div class="check">
                <span class="textB textD">昨日各小时人流量</span>
                <div class="flowrate">
                    <flowrate></flowrate>
                </div>
            </div>
            <div class="check" id="yesterdayXiu">
                <span class="textB textE">昨日嗅探统计</span>
                <!--<typeworing></typeworing>-->
                <p class="number">昨日嗅探的总人数</p>
                <div>
                    <span class="numberText">{{yesterdayXiuTanAllPeopleNum}}</span><span class="text">&nbsp;&nbsp;人</span>
                </div>
                <p class="number">昨日嗅探的总次数</p>
                <div>
                    <span class="numberText">{{yesterdayXiuTanAllTimes}}</span><span class="text"> &nbsp;&nbsp;次</span>
                </div>
            </div>
            <div class="check">
                <span class="textB textF">一周内每天嗅探到的人数</span>
                <div class="weekpeo">
                    <weekpeo></weekpeo>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import phone from '../echarts/people-counting/phone.vue'
    import sniff from '../echarts/people-counting/sniff.vue'
    import flowrate from '../echarts/people-counting/flowrate.vue'
    import weekpeo from '../echarts/people-counting/weekpeo.vue'
    import {yesterdayXiuTanAllNum} from "../../api/components/people-counting"

    export default {
        components: {
            flowrate, phone, sniff, weekpeo
        },
        data () {
            return {
                yesterdayXiuTanAllPeopleNum: 0,
                yesterdayXiuTanAllTimes: 0
            }
        },
        created() {
            this.$nextTick(function () {
                yesterdayXiuTanAllNum({type: 0}).then(data => {
                    if (data.errcode == 0) {
                        this.yesterdayXiuTanAllTimes = data.data;
                    } else if (data.errcode == -1) {
                        layer.msg("后台服务器异常!", {shift: '6', time: 3000});
                    }
                });
                yesterdayXiuTanAllNum({type: 1}).then(data => {
                    if (data.errcode == 0) {
                        this.yesterdayXiuTanAllPeopleNum = data.data;
                    } else if (data.errcode == -1) {
                        layer.msg("后台服务器异常!", {shift: '6', time: 3000});
                    }
                });
            })
        },
        mounted: function () {
            this.$nextTick(function () {
                this.timeClick();
            })
        },
        methods: {
            timeClick: function () {
                //点击月、周、天更换背景及颜色
                $(".checkcl .time").on("click", function () {
                    $(this).addClass("timeClick").siblings().removeClass("timeClick");
                })
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .contianer {
        position: relative;
    }

    .leftDiv {
        width: 436px;
        height: 895px;
        position: absolute;
    }
    .phoneDiv {
        width: 390px;
        height: 410px;
        margin-top: 20px;
    }
    .leftDiv .check:first-child {
        width: 436px;
        height: 474px;
        margin: 0 auto;
        background: url("../../../static/img/component/farme_03.gif") no-repeat;
        background-size: contain;
        padding: 25px 0 0 30px;
        position: relative;
    }

    .leftDiv .check:last-child {
        width: 436px;
        height: 414px;
        margin: 8px auto;
        background: url("../../../static/img/component/farme_03_03.gif") no-repeat;
        background-size: 436px 414px;
        padding: 120px 0 0 40px;
        position: relative;
    }

    .leftDiv .check .textB {
        font-size: 18px;
        font-family: 微软雅黑;
        font-weight: bold;
        color: #a5ffff;
    }

    .leftDiv .check .textA {
        position: absolute;
        top: 12px;
        left: 40px;
    }

    .leftDiv .check .textC {
        position: absolute;
        top: 7px;
        left: 40px;
    }

    .leftDiv .check .checkcl {
        position: absolute;
        top: 60px;
        right: 30px;
    }

    .leftDiv .check .checkcl .time {
        color: #a5ffff;
        font-size: 18px;
        display: block;
        float: right;
        width: 30px;
        height: 30px;
        margin-right: 3px;
    }

    .leftDiv .check .checkcl .time:hover {
        color: black;
        cursor: pointer;
        background-color: #a5ffff;
    }
    .leftDiv .check .checkcl .timeClick {
        color: black;
        background-color: #a5ffff;
    }
    .rightDiv {
        width: 435px;
        height: 895px;
        position: absolute;
        right: 0px;
    }
    .rightDiv .check {
        width: 436px;
        height: 294px;
        margin: 4px auto;
        background: url("../../../static/img/component/farme_01.gif") no-repeat;
        background-size: contain;
        padding: 10px 0 0 30px;
        position: relative;
    }
    .flowrate {
        width: 390px;
        height: 220px;
        margin-top: 35px;
    }
    .rightDiv .check:nth-child(2) {
        padding: 30px 0 0 50px;
    }

    .rightDiv .check .textB {
        font-size: 18px;
        font-family: 微软雅黑;
        font-weight: bold;
        color: #a5ffff;
        top: 10px;
    }

    .rightDiv .check .textD {
        position: absolute;
        left: 40px;
    }

    .rightDiv .check .textE {
        position: absolute;
        left: 40px;
    }

    .rightDiv .check .textF {
        position: absolute;
        left: 35px;
    }

    .rightDiv .check .number {
        color: #6ad1e0;
        font-size: 22px;
        text-align: left;
        padding-top: 20px;
    }

    #yesterdayXiu {
        text-align: left;
    }
    .rightDiv .check .numberText {
        color: #FFFFFF;
        font-size: 40px;
        padding: 0 7px;
        background-color: rgba(15, 72, 92, 0.7);
    }

    .rightDiv .check .text {
        color: #017cc2;
        font-size: 21px;
    }
    .weekpeo {
        width: 390px;
        height: 225px;
        margin-top: 35px;
    }
</style>
