<template>
    <div class="contianer">
        <!--左浮列表-->
        <div class="leftDiv">
            <div class="check">
                <span class="textB textA">人像库分类</span>
                <people-pie></people-pie>
            </div>

            <div class="check">
                <span class="textB textC">重点人群预警</span>
                <people-list></people-list>
            </div>
        </div>

        <!--右浮列表-->
        <div class="rightDiv">
            <div class="check">
                <span class="textB textD">摄像头识别准确性TOP10</span>
                <camera></camera>
            </div>
            <div class="check">
                <span class="textB textE">摄像头推送次数及占比</span>
                <ratio></ratio>
            </div>
            <div class="check">
                <span class="textB textF">布控区域重点人群人数统计</span>
                <count></count>
            </div>
        </div>

    </div>
</template>

<script>
    import peoplePie from '../echarts/roadcams/peoplePie.vue'
    import camera from '../echarts/roadcams/camera.vue'
    import ratio from '../echarts/roadcams/ratio.vue'
    import count from '../echarts/roadcams/count.vue'
import peopleList from '../echarts/roadcams/peopleList.vue'
    import {getGgetNewestRecords} from '../../api/components/roadcams'

    export default {
        components: {
            peoplePie, camera, ratio, count, peopleList
        },
        data () {
            return {

                data:""
            }
        },
    }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .contianer {
        position: relative;
    }

    .leftDiv {
        width: 435px;
        height: 895px;
        position: absolute;
    }

    .leftDiv .check:first-child {
        width: 436px;
        height: 294px;
        margin: 0 auto;
        background: url("../../../static/img/component/farme_01.gif") no-repeat;
        background-size: contain;
        padding: 0;
        position: relative;
    }

    .leftDiv .check:last-child {
        width: 435px;
        height: 592px;
        margin: 9px auto;
        background: url("../../../static/img/component/farme_02.gif") no-repeat;
        background-size: contain;
        padding: 30px 0 0 0;
        position: relative;

    }

    .leftDiv .check .textB {
        font-size: 18px;
        font-family: 微软雅黑;
        font-weight: bold;
        color: #a5ffff;
    }

    .leftDiv .check .textA {
        position: absolute;
        top: 10px;
        left: 40px;
    }

    .leftDiv .check .textC {
        position: absolute;
        top: 10px;
        left: 40px;
    }

    .rightDiv {
        width: 435px;
        height: 895px;
        position: absolute;
        right: 0px;
    }

    .rightDiv .check {
        width: 436px;
        height: 294px;
        margin: 4px auto;
        background: url("../../../static/img/component/farme_01.gif") no-repeat;
        background-size: contain;
        padding: 10px 0 0 30px;
        position: relative;
    }

    .rightDiv .check:nth-child(2) {
        padding: 30px 0 0 20px;

    }

    .rightDiv .check .textB {
        font-size: 16px;
        font-family: 微软雅黑;
        font-weight: bold;
        color: #a5ffff;
    }

    .rightDiv .check .textD {
        position: absolute;
        top: 13px;
        left: 40px;
    }

    .rightDiv .check .textE {
        position: absolute;
        top: 13px;
        left: 40px;
    }

    .rightDiv .check .textF {
        position: absolute;
        top: 13px;
        left: 35px;
    }
</style>
