/*********************************      收到消息时的弹窗         ******************************************/
.alertPrimaryPeople {
    width: 360px;
    height: 203px;
    border-radius: 3px;
    /*display: none;*/
    position: absolute;
    z-index: 300;
    right: 20px;
    bottom: 41px;
    background-color: #FFFFFF;
}
.alertPrimaryPeople .header {
    font-size: 16px;
    height: 35px;
    background-color: #069DD5;
    color: #FFFFFF;
    line-height: 35px;
    margin-bottom: 8px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.alertPrimaryPeople .header .title {
    margin-left: 16px;
}
.alertPrimaryPeople .header .closeX {
    float: right;
    font-size: 20px;
    width: 50px;
    height: 100%;
    background-color: #069DD5;
    text-align: center;
    cursor: pointer;
    border-top-right-radius: 3px;
}
.alertPrimaryPeople .header .closeX:hover {
    background-color: #FB6155;
}
.alertPrimaryPeople .contentBody {
    width: calc(100% - 2px);
    height: 159px;
    border: 1px solid #b5b5b5;
    border-top: none;
    margin-top: -8px;
    padding-top: 8px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.alertPrimaryPeople .contentBody .imgDiv {
    width: 122px;
    height: 143px;
    float: left;
    margin-top: 4px;
    margin-left: 16px;
}
.alertPrimaryPeople .contentBody .imgDiv img {
    width: 100%;
    height: 100%;
}
.alertPrimaryPeople .contentBody .info {
    float: left;
    height: 140px;
    margin-top: 6px;
    margin-left: 20px;
    padding: 0;
    color: #000000;
}
.alertPrimaryPeople .contentBody .info h3 {
    padding-top: 0;
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 19px;
}
.alertPrimaryPeople .contentBody .info p {
    margin: 0px 0 0 0;
    font-size: 14px;
}
/*********************************      底部任务栏         ******************************************/
#bottomDiv {
    width: 100%;
    height: 40px;
    background-color: #eeeeee;
    position: absolute;
    z-index: 200;
    bottom: 0;
    border-top: 1px solid #CCCCCC;
}
#bottomDiv ul li.libtns {
    width: 40px;
    line-height: 40px;
    /*border: 1px solid #f00;*/
    margin-right: 10px;
    float: right;
    text-align: center;
}
#bottomDiv ul li .listBtn {
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
}
#bottomDiv ul li#messageLi {
    margin-right: 50px;
}
#bottomDiv #messages {
    background: url("../img/msginfo.png");
    background-size: cover;
}
#bottomDiv #lockVideo {
    background: url("../img/lock-icon.png");
    background-size: cover;
    display: none;
}
#bottomDiv .sceneVideoLoop {
    float: left;
    line-height: 40px;
}
#bottomDiv .sceneVideoLoop span {
    margin-left: 20px;
}
/*********************************      消息列表         ******************************************/
#messageListDiv {
    width: 344px;
    min-height: 88px;
    position: absolute;
    right: 50px;
    bottom: 40px;
    z-index: 200;
    border-radius: 8px;
    display: none;
    /*margin-bottom: 10px;*/
    background-color: #FFFFFF;
}
#messageListDiv .messageHeader {
    width: 100%;
    height: 39px;
    background-color: #069DD5;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: -0px;
}
#messageListDiv .messageHeader p {
    font-size: 16px;
    color: white;
    line-height: 35px;
    float: left;
    margin-left: 30px;
    height: 27px;
}
#messageListDiv .messageHeader p.minClose {
    float: right;
    height: 27px;
}
#messageListDiv .messageHeader p span {
    display: inline-block;
}
#messageListDiv .messageHeader p #minIcon {
    width: 39px;
    height: 35px;
    background-image: url("../img/min_nor.png");
    background-size: cover;
    margin-right: -6px;
}
#messageListDiv .messageHeader p #minIcon:hover {
    background-image: url("../img/min_sel.png");
}
#messageListDiv .messageHeader p #closeIcon {
    width: 43px;
    height: 35px;
    background-image: url("../img/close_nor.png");
}
#messageListDiv .messageHeader p #closeIcon:hover {
    background-image: url("../img/close_sel.png");
}
#messageListDiv .contentList {
    width: calc(100% - 2px);
    max-height: 382px;
    border: 1px solid #b5b5b5;
    border-top: none;
    overflow-y: auto;
}
#messageListDiv .contentList .contentDiv {
    height: 96px;
    border-bottom: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
    background-color: #F5F5F5;
}
#messageListDiv .contentList .contentDiv table {
    margin-top: 14px;
}
#messageListDiv .contentList .contentDiv table td {
    padding: 0;
    height: 67px;
    text-align: left;
}
#messageListDiv .contentList .contentDiv table .listIndex {
    text-align: center;
    width: 56px;
}
#messageListDiv .contentList .contentDiv table .listIndex .listTypeImgDiv {
    width: 32px;
    height: 32px;
    margin: auto;
}
#messageListDiv .contentList .contentDiv table .listIndex .listTypeImgDiv img {
    width: 100%;
    height: 100%;
}
#messageListDiv .contentList .contentDiv table .headImgDiv {
    width: 67px;
    height: 67px;
    background-color: #d5d5d5;
    cursor: pointer;
}
#messageListDiv .contentList .contentDiv table .headImgDiv div {
    width: 67px;
    height: 67px;
}
#messageListDiv .contentList .contentDiv table .headImgDiv div img {
    width: 100%;
    height: 100%;
}
#messageListDiv .contentList .contentDiv table .describe {
    padding-left: 16px;
    cursor: pointer;
}
#messageListDiv .contentList .contentDiv table .describe p {
    font-size: 12px;
    color: #545454;
    margin: -11px 0 0 0;
    padding: 0;
    height: 30px;
}
#messageListDiv .contentList .contentDiv table .describe p:first-child {
    padding-top: 6px;
}
#messageListDiv .contentList .contentDiv table .deleteImgDiv {
    text-align: right;
    padding-right: 24px;
}
#messageListDiv .contentList .contentDiv table .deleteImgDiv img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    visibility: hidden;
}
#messageListDiv .listBottom {
    border: 1px solid #b5b5b5;
    border-top: none;
    height: 51px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #F5F5F5;
}
#messageListDiv .listBottom p {
    font-size: 16px;
    color: #069DD5;
    line-height: 51px;
    padding-left: 24px;
    float: left;
    margin-bottom: 0;
}
#messageListDiv .listBottom p span {
    cursor: pointer;
}
