<template>
  <div>
    <div class="video-list-container" v-if="videoTableVisible">
      <div class="close-container" @click="closeTable">
        <img src="/static/img/map/close.png" alt srcset />
      </div>
      <div class="table-container">
        <div class="cameraList">
          <div
            class="cameraItem"
            v-for="(item, key) in tableDatas"
            @click="playVideo(item)"
            :key="key"
          >
            <div class="cameraname">{{ item.name }}</div>
          </div>
        </div>
        <!-- <el-table
                    :header-row-style="headerRowStyle"
                    :header-cell-style="headerRowStyle"
                    :row-style="styleObject"
                    :cell-style="cellStyle"
                    :data="tableDatas"
                    style="color: blue; margin: 0 auto"
                >
                    <el-table-column prop="name" label="名称"></el-table-column>
                    <el-table-column
                        prop="geomStr"
                        label="经纬度"
                    ></el-table-column>
                    <el-table-column label="操作" width="100">
                        <template slot-scope="scope">
                            <el-button type="text" @click="playVideo(scope.row)"
                                >播放</el-button
                            >
                        </template>
                    </el-table-column>
        </el-table>-->
        <div class="pagination-container">
          <el-pagination
            layout="prev, pager, next"
            :total="tableDataList.length"
            :page-size="4"
            @current-change="handleVideoPageChange"
          ></el-pagination>
        </div>
      </div>
    </div>
    
    <!-- <hlsVideoContainer
      @hide:video="handleHideVideo"
      :visible="hlsVisible"
      :url="hlsUrl"
      reffer="bearhunting-reffer"
    ></hlsVideoContainer>-->
    <div class="rtspBox" v-if="hlsVisible">
      <div class="closeIcon" @click="closeVideo">×</div>
      <div class="rtspContainer">
        <rtspws
          :videoid="rtspStream.cameraCode"
          :server="rtspStream.server"
          :port="rtspStream.port"
          :videoData="{ url: rtspStream.url, id: rtspStream.cameraCode }"
        ></rtspws>
      </div>
    </div>

    <div class="centerContainer" style="position: relative">
      <div class="mapContainer">
        <!-- <gmap ref="map" @clickMark="clickMark"></gmap> -->
        <div id="gaode-map" style="height: 100%; width: 100%"></div>
        <div class="frameTop">
          <p>监控地图</p>
        </div>
        <div class="frameLeft">
          <img src="../../static/img/bottomCom/map_farme_left.png" />
        </div>
        <div class="frameBottom">
          <img src="../../static/img/bottomCom/map_farme_bottom.png" />
        </div>
        <!--搜索框-->
        <div class="searchInput">
          <input
            type="text"
            id="search_poi"
            @input="getval"
            v-model="searchVaL"
            class="searchInput_s"
          />
          <div class="search_icon">
            <img @click="ser_poi" src="../../static/img/bottomCom/路径 search_icons.png" alt />
          </div>
        </div>
        <div class="selectedbox" v-if="searchpoiList.length > 0">
          <div
            :class="
              selectedIndex === index
                ? ['selectItem', 'selectedIndexclass']
                : ['selectItem']
            "
            v-for="(item, index) in searchpoiList"
            @click="getIndex(index, item)"
            :key="item.id"
          >
            {{ item.name }}
            <span>({{ item.address }})</span>
          </div>
        </div>
        <div class="oldPeople" v-if="oldPeopleshow">
          <div class="oldheader">老人手环</div>
          <div class="oldImg" @click="getDetail">
            <img :src="oldpeo.url" style="width: 100%; height: 100%" alt />
          </div>
        </div>
        <!-- <div
                    style="
                        width: 200px;
                        position: absolute;
                        top: 10px;
                        left: 50%;
                        z-index: 1000;
                        margin-left: -100px;
                    "
                >
                    <xelect
                        class="selectBt"
                        v-model="selectValue"
                        filterable
                        remote
                        clearable
                        :placeholder="'输入需要搜索的地名'"
                        @on-change="find"
                        @on-query-change="clean"
                        :loading="loading"
                        :remote-method="remote"
                    >
                        <item
                            v-for="option in options"
                            :value="
                                JSON.stringify({
                                    location: option.location,
                                    name: option.name,
                                })
                            "
                            :key="option.id"
                            >{{ option.name + "(" + option.address + ")" }}
                        </item>
                    </xelect>
                    <div
                        style="
                            width: 20px;
                            height: 20px;
                            background: url('/static/img/component/Search.png') -8px -6px;
                            position: absolute;
                            top: 8px;
                            right: 10px;
                        "
                    ></div>
        </div>-->
      </div>

      <div class="menuContainer">
        <foot
          @loadHeart="loadHeart"
          @hideOldpeopleMarker="hideOldpeopleMarker"
          @addOldpeopleMarker="addOldpeopleMarker"
        ></foot>
      </div>
      <div class="util">
        <util @addZoom="addZoom()" @decZoom="decZoom()" @changeType="changeType" @openUAV="openUAV"></util>
      </div>
    </div>
    <!-- @cleanMulch="cleanMulch"
    @removeAllCams="removeAllCams"
      @redrawAllCams="redrawAllCams"
        @closeWin="closeWin"
      
      @initRadarHeatMap="initRadarHeatMap"
      @initBraceletMarks="initBraceletMarks"
      @getLast="getLast"
      @setWater="setWater"
      @setSmooke="setSmooke"
      @setManholeCover="setManholeCover"
      @setJarm="setJarm"
    @warningJarm="warningJarm"-->
    <router-view></router-view>
    <!--中间弹窗-->
    <!-- <vodal
            :show="alertModelShow"
            animation="fade"
            :className="'alertModelShowVodal'"
            @hide="hidealertModel"
            :width="710"
            :height="515"
        >
            <div class="alertdiv" id="alertdiv">
                <h3>请对摄像头设置显示位置</h3>
                <div class="grid">
                    <table class="grid-left">
                        <caption>
                            左
                        </caption>
                        <tr>
                            <td
                                v-for="(item, index) in videolist"
                                :key="index"
                                @click="lockVideo(index, item, 'left')"
                                :class="
                                    lockparams.position == index &&
                                    lockparams.code == 'left'
                                        ? ['mapBg', 'one']
                                        : item.position + 1
                                        ? ['lockBg', 'one']
                                        : ['one']
                                "
                            ></td>
                        </tr>
                    </table>
                    <table class="grid-right">
                        <caption>
                            右
                        </caption>
                        <tr>
                            <td
                                v-for="(item, index) in rightvideolist"
                                :key="index"
                                @click="lockVideo(index, item, 'right')"
                                :class="
                                    lockparams.position == index &&
                                    lockparams.code == 'right'
                                        ? ['mapBg', 'one']
                                        : item.position + 1
                                        ? ['lockBg', 'one']
                                        : ['one']
                                "
                            ></td>
                        </tr>
                    </table>
                </div>
                <div class="buttons">
                    <button class="btn" @click="unlockbtnSure">解锁</button>
                    <button class="btn" @click="btnSure">锁定</button>
                    <button class="btn" @click="alertModelShow = false">
                        取消
                    </button>
                </div>
            </div>
    </vodal>-->
    <vodal
      :show="alertShow"
      animation="fade"
      @hide="hidevideoChange"
      :closeButton="false"
      :width="650"
      :height="450"
      :className="'alertModelShowVodal'"
    >
      <div ref="videoChange" style="margin: -5px; width: 630px; height: 430px"></div>
    </vodal>
    <div class="olddialog" v-if="Detailshow">
      <div class="closeIcon" @click="Detailshow = false">×</div>
      <div class="olddialogcontent">
        <div>
          <img :src="oldpeo.url" style="width: 100%; height: 100%" alt />
        </div>
        <div>
          <p class="oldPeoinfo">姓名：{{ oldpeo.name }}</p>
          <p class="oldPeoinfo">年龄：{{ oldpeo.age }}</p>
          <p class="oldPeoinfo">住址：{{ oldpeo.address }}</p>
          <p class="oldPeoinfo">电话：{{ oldpeo.phone }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AMapLoader from "@amap/amap-jsapi-loader";
import util from "./mapUtil.vue";
import Gmap from "./map.vue";
// import Stomp from "stompjs";
import foot from "./foot.vue";
import hlsVideoContainer from "./component/hlsvideoContainer.vue";
import rtspws from "./component/rtspWs";
import { reqgetLocations } from "../api";
import {
  Select as xelect,
  Option as item,
  OptionGroup,
} from "iview/src/components/select";
import {
  locaVideo,
  videoList,
  updateVideo,
  deleteVideo,
} from "../api/components/lockVideo";
import {
  reqCamslist,
  reqAllcams,
  hkVideo,
  connect,
  disconnect,
  getTimePopulation,
  getCurrentPopulation,
} from "../api/index";
import Vue from "vue";
import axios from "axios";
import json from "./heartJson";
import peo from "./oldPeople";
window.locationMsg = {};

export default {
  components: {
    hlsVideoContainer,
    Gmap,
    foot,
    xelect,
    item,
    OptionGroup,
    util,
    rtspws,
  },
  data() {
    return {
      videoTableVisible: false,
      headerRowStyle: {
        backgroundColor: "#104257",
      },
      styleObject: {
        height: "10px",
        backgroundColor: "#104257",
        // color: "#ffffff",
      },
      cellStyle: {
        backgroundColor: "#104257",
        color: "white",
      },
      tableDatas: [],
      tableDataList: [],
      hlsVisible: false,
      hlsUrl: "",
      allCams: [],
      prop: null,
      alertModelShow: false,
      alertShow: false,
      //搜索框
      options: [],
      selectValue: "",
      loading: false,
      lat: "",
      lng: "",
      src: "",
      lockparams: {},
      videolist: [{}, {}, {}, {}, {}, {}],
      rightvideolist: [{}, {}, {}, {}, {}, {}],
      action: "",
      poival: "",
      searchpoiList: [],
      selectedIndex: "",
      selectedValue: "",
      searchVaL: "",
      zoomIndex: 18,
      mapStyle: "amap://styles/ec309fd9f8606c0a27708aa3118f464f",
      currentId: "", //当前打开视频的id
      heartPoint: [],
      heatmap: null,
      marker: null,
      oldPeopleshow: false,
      oldpeo: {},
      Detailshow: false,
    };
  },
  mounted() {
    Vue.prototype.globalMap = new AMap.Map("gaode-map", {
      zoom: this.zoomIndex,
      viewMode: "3D",
      center: [121.569542, 31.114507],
      mapStyle: this.mapStyle,
      showIndoorMap: true, //显示地图自带的室内地图图层
      resizeEnable: true,
    });
    Vue.prototype.globalMap.on("indoor_create", function () {
      Vue.prototype.globalMap.indoorMap.showIndoorMap("B00155QNWL", 1);
    });
    // this.heartmap()
  },
  watch: {
    heartPoint: function (val) {
      if (val) {
        console.log(val);
        // this.heartmap(val)
      }
    },
    allCams: function (val) {
      if (val.length > 0) {
        console.log(val);
        let defaultPoints = [];
        var weight = 1;
        val.forEach((item, index) => {
          weight += 1;
          // let obj = {
          //   weight: weight,
          //   name: item.hikvisionCamId,
          //   lnglat: [item.geomStr.split(",")[0], item.geomStr.split(",")[1]],
          //   id: item.hikvisionCamId,
          //   dt: item,
          // };
          item.name ? (item.name = item.name) : (item.name = "小区摄像头");
          let obj;
          if (item.center) {
            obj = {
              weight: weight,
              name: item.name,
              lnglat: [item.center[0].x, item.center[0].y],
              id: item.id,
              dt: item,
            };
          } else {
            obj = {
              weight: weight,
              name: item.name,
              lnglat: [item.geom[0].x, item.geom[0].y],
              id: item.id,
              dt: item,
            };
            this.heartPoint.push({
              lng: item.geom[0].x,
              lat: item.geom[0].y,
              count: index,
            });
          }

          defaultPoints.push(obj);
        });
        console.log(defaultPoints.length);
        // defaultPoints
        let count = defaultPoints.length;
        var _renderClusterMarker = function (context) {
          var factor = Math.pow(context.count / count, 1 / 18);
          var div = document.createElement("div");
          var Hue = 180 - factor * 180;
          var bgColor = "hsla(" + Hue + ",100%,40%,0.7)";
          var fontColor = "hsla(" + Hue + ",100%,90%,1)";
          var borderColor = "hsla(" + Hue + ",100%,40%,1)";
          var shadowColor = "hsla(" + Hue + ",100%,90%,1)";
          div.style.backgroundColor = bgColor;
          var size = Math.round(
            30 + Math.pow(context.count / count, 1 / 5) * 20
          );
          div.style.width = div.style.height = size + "px";
          div.style.border = "solid 1px " + borderColor;
          div.style.borderRadius = size / 2 + "px";
          div.style.boxShadow = "0 0 5px " + shadowColor;
          div.innerHTML = context.count;
          div.style.lineHeight = size + "px";
          div.style.color = fontColor;
          div.style.fontSize = "14px";
          div.style.textAlign = "center";
          context.marker.setOffset(new AMap.Pixel(-size / 2, -size / 2));
          context.marker.setContent(div);
        };
        var _renderMarker = function (context) {
          var content = "";
          console.log(context);
          switch (context.data[0].dt.ascriptionType) {
            case 1:
              content = `<img src="/static/img/map/road.png" alt="" srcset="">`;
              break;
            case 2:
              content = `<img src="/static/img/map/face.png" alt="" srcset="">`;
              break;
            case 3:
              content = `<img src="/static/img/map/traffic.png" alt="" srcset="">`;
              break;
            default:
              content = `<img src="/static/img/map/plot.png" alt="" srcset="">`;
              break;
          }
          // var content = `<img src="/static/img/map/plot.png" alt="" srcset="">`;
          // var content =
          //     '<div style="background-color: hsla(180, 100%, 50%, 0.3); height: 18px; width: 18px; border: 1px solid hsl(180, 100%, 40%); border-radius: 12px; box-shadow: hsl(180, 100%, 50%) 0px 0px 3px;"></div>';
          var offset = new AMap.Pixel(-9, -9);
          context.marker.setContent(content);
          context.marker.setOffset(offset);
        };
        let that = this;
        Vue.prototype.globalMap.plugin(["AMap.MarkerCluster"], function () {
          var cluster = new AMap.MarkerClusterer(
            Vue.prototype.globalMap,
            defaultPoints,
            {
              renderMarker: _renderMarker,
              // renderClusterMarker: _renderClusterMarker,
              gridSize: 60,
              clusterByZoomChange: false,
            }
          );
          // 撒点处理函数
          cluster.on("click", function (evt) {
            console.log(evt);
            if (evt.clusterData.length > 1) {
              // 是聚合点，需要显示infowindow
              console.log(`点击聚合点，个数为${evt.clusterData.length}`);
              that.tableDataList = evt.clusterData.map((item) => {
                return item.dt;
              });
              that.tableDatas = that.tableDataList.slice(0, 4);
              that.videoTableVisible = true;
            } else {
              // 不是聚合点，直接显示视频播放
              let d = evt.cluster.p.dt;
              console.log(evt.cluster.p.dt);
              that.rtspStream = {
                cameraCode: String(d.id),
                url: d.url,
                server: location.hostname,
                port: "9013",
              };
              that.hlsVisible = true;
              // let d = evt.cluster.p;
              // that.currentId = d.id;
              // connect(d.id).then((res) => {
              //   if (res.data.data.indexOf("推流") !== -1) {
              //     alert(res.data.data);
              //   } else {
              //     let d = res.data.data;
              //     console.log(d);
              //
              //     that.hlsUrl = d;
              //   }
              // });
              // console.log(`点击普通点，个数为${evt.clusterData.length}`);
            }
          });
        });
      }
    },
  },
  created() {
    localStorage.removeItem("main")
    this.oldpeo = peo;
    this.showAllCams();
    this.$nextTick(function () {
      // this.tdMouseEvent();
      this.loadLockedVideo();
      let _this = this;
      window.__defineSetter__("prop", function (prop) {
        if (prop && prop.id) {
          _this.prop = prop;
          //打开弹窗
          if (prop.dbClick) {
            videoList().then((res) => {
              if (res.data) {
                console.log(res.data);
                res.data.forEach((item) => {
                  if (item.code == "left") {
                    _this.videolist[item.position] = item;
                  } else if (item.code == "right") {
                    _this.rightvideolist[item.position] = item;
                  }
                });
              }
            });
            setTimeout(() => {
              _this.alertModelShow = true;
              // _this.loadLockedVideo();
            }, 1000);
          } else if (prop.cluster) {
            _this.alertModelShow = true;
            _this.loadLockedVideo();
          } else if (prop.clus) {
            _this.openvideoChange(prop);
          }
          // $("#alertdiv table td").removeClass("maplockBg");
        }
      });
    });
  },
  methods: {
    closeVideo() {
      this.hlsVisible = false;
    },
    hideOldpeopleMarker() {
      if (this.marker) {
        this.oldPeopleshow = false;
        this.marker.setMap(null);
        this.marker = null;
      }

    },
    getDetail() {
      this.Detailshow = true;
    },
    addOldpeopleMarker(data) {
      let that = this;
      this.marker = new AMap.Marker({
        position: [peo.lng, peo.lat],
        offset: new AMap.Pixel(-13, -30),
        draggable: true,
        cursor: "move",
        itemdata: peo,
      });
      console.log(this.marker);
      this.marker.setMap(Vue.prototype.globalMap);

      this.marker.on("click", function (val) {
        that.oldPeopleshow = data;
        // console.log(val.target._originOpts.itemdata)
      });
    },

    loadHeart(data) {
      console.log(data);
      if (data) {
        if (this.heatmap) {
          console.log(111);
          this.heatmap.show();
        } else {
          console.log(222);
          this.heartmap(json);
        }
      } else {
        if (this.heatmap) {
          console.log(333);
          this.heatmap.hide();
        }
      }
    },
    heartmap(val) {
      console.log(val.toString());
      let that = this;
      Vue.prototype.globalMap.plugin(["AMap.HeatMap"], function () {
        //初始化heatmap对象
        that.heatmap = new AMap.HeatMap(Vue.prototype.globalMap, {
          radius: 25, //给定半径
          opacity: [0, 0.8],
          /*,
            gradient:{
                0.5: 'blue',
                0.65: 'rgb(117,211,248)',
                0.7: 'rgb(0, 255, 0)',
                0.9: '#ffea00',
                1.0: 'red'
            }
             */
        });
        //设置数据集：该数据为北京部分“公园”数据
        that.heatmap.setDataSet({
          data: val,
          max: 100,
        });
      });
    },
    getIndex(index, item) {
      this.selectedIndex = index;
      this.searchpoiList = [];
      console.log(item);
      Vue.prototype.globalMap.setCenter([item.location.lng, item.location.lat]);
      this.selectedValue = item.name;
    },
    getval(val) {
      if (this.searchVaL == "") {
        this.searchpoiList = [];
      } else {
        this.poival = this.searchVaL;
        this.selectedValue = this.searchVaL;
      }
    },
    ser_poi() {
      let that = this;
      Vue.prototype.globalMap.plugin("AMap.PlaceSearch", function () {
        // 实例化Autocomplete
        var autoOptions = {
          //city 限定城市，默认全国
          pageSize: 10, // 单页显示结果条数
          pageIndex: 1, // 页码
          city: "全国", // 兴趣点城市
          //   map: Vue.prototype.globalMap,
        };
        var autoComplete = new AMap.PlaceSearch(autoOptions);
        autoComplete.search(that.poival, function (status, result) {
          // 搜索成功时，result即是对应的匹配数据
          that.searchpoiList = result.poiList.pois;
        });
      });
    },
    closeTable: function () {
      this.videoTableVisible = false;
    },
    playVideo: function (v) {
      console.log(v);
      this.rtspStream = {
        cameraCode: String(v.id),
        url: v.url,
        server: location.hostname,
        port: "9013",
      };
      this.hlsVisible = true;
      // this.currentId = v.id;
      // connect(v.id).then((res) => {
      //   if (res.data.data.indexOf("推流") !== -1) {
      //     alert(res.data.data);
      //   } else {
      //     let d = res.data.data;
      //     console.log(d);
      //     this.hlsVisible = true;
      //     this.hlsUrl = d;
      //   }
      // });
    },
    handleVideoPageChange: function (page) {
      console.log(page);
      this.tableDatas = this.tableDataList.slice(
        (page - 1) * 4,
        (page - 1) * 4 + 4
      );
    },
    handleHideVideo: function (item) {
      console.log(item);
      this.hlsVisible = false;
      disconnect(this.currentId).then((res) => {
        console.log(res.data.data);
      });
    },
    showAllCams() {
      reqAllcams().then((data) => {
        if (data.errcode === 0) {
          this.allCams = data.data;
        } else if (data.errcode == -1) {
          layer.msg("后台服务器异常!", { shift: "6", time: 3000 });
        }
      });
    },
    hidealertModel() {
      // this.alertModelShow = false;
      // this.lockparams = {};
      // this.videolist = [{}, {}, {}, {}, {}, {}];
      // $("#alertdiv table td").removeClass("mapBg");
      // this.action = "";
    },
    lockVideo(index, item, screen) {
      // console.log(index+1)
      console.log(item);
      if (item.position || item.position == 0) {
        this.action = "edit";
        this.lockparams = {
          name: item.name,
          code: item.code,

          enable: 1,
          position: item.position,
          camId: this.prop.id,
          camUrl: this.prop.url,
          id: item.id,
        };
        layer.msg("此位置已经锁定,可解锁或覆盖原监控", {
          shift: "6",
          time: 3000,
        });
      } else {
        console.log(this.videolist);
        let arr = this.videolist.filter((item) => {
          return item.camId == this.prop.id;
        });
        console.log(arr);
        if (arr.length) {
          layer.msg("该视频已经被锁定,请换一个视频", {
            shift: "6",
            time: 3000,
          });
          return false;
        }
        this.lockparams = {
          name: "左屏",
          code: screen,
          enable: 1,
          position: index,
          camId: this.prop.id,
          camUrl: this.prop.url,
        };
      }
    },
    unlockbtnSure(item) {
      if (this.lockparams.position || this.lockparams.position == 0) {
        this.lockparams.enable = 0;
        deleteVideo(this.lockparams).then((res) => {
          if (res.errcode == 0) {
            layer.msg("解锁成功", { shift: "6", time: 3000 });
            this.hidealertModel();
          } else {
            layer.msg("请重试", { shift: "6", time: 3000 });
          }
        });
      } else {
        layer.msg("请选择需要解锁的位置", { shift: "6", time: 3000 });
      }
    },
    setJarm(arr) {
      this.$refs["map"].setJarm(arr);
    },
    setWater(arr) {
      this.$refs["map"].setWater(arr);
    },
    setManholeCover(arr) {
      this.$refs["map"].setManholeCover(arr);
    },
    setSmooke(arr) {
      this.$refs["map"].setSmooke(arr);
    },
    warningJarm(obj) {
      !obj.event
        ? this.$refs["map"].warningEndJarm(obj)
        : this.$refs["map"].warningJarm(obj);
    },

    closeWin() {
      this.$refs["map"].$refs["oldList"].closeWin();
    },
    openUAV() {
      this.openvideoChange({
        url: "rtmp://192.168.123.232:90/live/rtmp",
      });
    },
    clickMark(arr) {
      console.log(arr);
    },
    getLast(arr) {
      this.$refs["map"].getLast(arr);
    },
    initBraceletMarks(arr) {
      this.$refs["map"].initBraceletMarks(arr);
    },
    initRadarHeatMap(arr) {
      this.$refs["map"].initRadarHeatMap(arr);
    },
    removeAllCams() {
      this.$refs["map"].removeAllCams();
    },

    cleanMulch() {
      this.$refs["map"].cleanMulch();
    },
    redrawAllCams() {
      this.$refs["map"].redrawAllCams();
    },
    //聚合内的视频弹窗
    openvideoChange: async function (prop) {
      await new Promise((res) => {
        this.$refs.videoChange.innerHTML = ` <object type="application/x-vlc-plugin"events="false" width="100%" height="100%" src="${prop.url}"
                        windowless="false"><param name="enablefullscreen" value="1"><param name="controls" value="false"></object>`;
        res();
      });

      this.alertShow = true;
    },
    hidevideoChange: async function () {
      await new Promise((res) => {
        this.$refs.videoChange.innerHTML = "";
        res();
      });
      this.alertShow = false;
    },
    clean(query) {
      if (query === "") {
        this.$refs.map.cleanMark();
      }
    },
    addZoom() {
      this.$nextTick(() => {
        if (this.zoomIndex < 20) {
          this.zoomIndex++;
          Vue.prototype.globalMap.setZoom(this.zoomIndex);
        } else {
        }

        // let zoom = this.$refs["map"].map.getZoom();
        // this.$refs["map"].map.setZoom(zoom + 1);
      });
    },
    decZoom() {
      if (this.zoomIndex > 9) {
        this.zoomIndex--;
        Vue.prototype.globalMap.setZoom(this.zoomIndex);
      } else {
      }
      // let zoom = this.$refs["map"].map.getZoom();
      // this.$refs["map"].map.setZoom(zoom - 1);
    },
    find(val) {
      if (val !== "") {
        let [lng, lat] = JSON.parse(val).location.split(",");

        lat = Number(lat);
        lng = Number(lng);

        this.$refs["map"].map.setZoom(14);
        this.$refs["map"].map.setCenter({ lat: lat, lng: lng });
        this.$refs.map.cleanMark();
        this.$refs["map"].setDirMark(JSON.parse(val));
      }
    },
    remote(val) {
      if (val.trim() !== "") {
        this.loading = true;
        reqgetLocations({
          keywords: val,
          city: "shanghai",
          citylimit: true,
          children: 0,
          extensions: "base",
        })
          .then((data) => {
            if (!data.status) {
              layer.msg(data.info, { shift: "6", time: 3000 });
              return;
            }
            this.loading = false;
            this.options = data.pois;
          })
          .catch((err) => {
            layer.msg(err, { shift: "6", time: 3000 });
          });
      } else {
        this.selectValue = "";
        this.options = [];
      }
    },
    changeType(type) {
      switch (type) {
        case "another_map":
          Vue.prototype.globalMap.addControl(
            new AMap.MapType({
              defaultType: 0, //0代表默认，1代表卫星
            })
          );
          break;
        case "heishe_map":
          Vue.prototype.globalMap.setMapStyle(
            "amap://styles/ec309fd9f8606c0a27708aa3118f464f"
          );
          break;
        case "google":
          Vue.prototype.globalMap.setMapStyle(
            "amap://styles/a5352be2fab74f4856fbe9781e70a59b"
          );
          break;
      }

      // this.mapStyle = "amap://styles/ec309fd9f8606c0a27708aa3118f464f"
      // this.$refs["map"].setMapType(type);
    },
    tdMouseEvent: function () {
      // $("#alertdiv table td").off("mouseover");
      // $("#alertdiv table td").off("mouseout");
      // $("#alertdiv table td").on("mouseover", function () {
      //     let id = $(this).attr("id");
      //     if ($(this).hasClass("lockBg")) {
      //     } else {
      //         $(this).addClass("mapBg");
      //         // $(this).on("click", { id: id }, lockAndUnLock);
      //     }
      // });
      // $("#alertdiv table td").on("mouseout", function () {
      //     if ($(this).hasClass("mapBg")) {
      //         $(this).removeClass("mapBg");
      //     }
      //     // $(this).off("click", lockAndUnLock);
      // });
    },
    btnSure: function () {
      console.log(this.lockparams);
      // var msg = JSON.stringify(locationMsg);
      if (!(this.lockparams.position + 1)) {
        layer.msg("请选择位置！", { shift: "6", time: 3000 });
      } else {
        if (this.action == "edit") {
          updateVideo(this.lockparams).then((res) => {
            if (res.errcode == 0) {
              layer.msg("锁定成功", { shift: "6", time: 3000 });
              this.hidealertModel();
            } else {
              layer.msg("请重试", { shift: "6", time: 3000 });
            }
          });
        } else {
          locaVideo(this.lockparams).then((res) => {
            if (res.errcode == 0) {
              layer.msg("锁定成功", { shift: "6", time: 3000 });
              this.hidealertModel();
            } else {
              layer.msg("请重试", { shift: "6", time: 3000 });
            }
          });
        }
      }
      // let json = {};
      //                let json = {type: "location", mqType: "videoLocation", leftOrRight: "left", id: locationMsg.id, prop: this.prop};
      // if (locationMsg.type == "left") {
      //   json = {
      //     type: "location",
      //     mqType: "videoLocation",
      //     leftOrRight: "left",
      //     id: locationMsg.id,
      //     prop: this.prop,
      //   };
      // } else {
      //   json = {
      //     type: "location",
      //     mqType: "videoLocation",
      //     leftOrRight: "right",
      //     id: locationMsg.id,
      //     prop: this.prop,
      //   };
      // }
      // let mqTopicAddress = this.getMqTopicAddress();
      // console.log(mqTopicAddress);
      // this.$store.getters.getClient.send(
      //   mqTopicAddress,
      //   {},
      //   JSON.stringify(json)
      // );
      // locationMsg = {};
    },
    btnMouseDown: function (index) {
      if (index == 0) {
        $(".btn").eq(index).css("backgroundColor", "#c5486e");
        setTimeout(() => {
          $(".btn").eq(index).css("backgroundColor", "#FF5d8E");
        }, 1500);
      } else {
        $(".btn").eq(index).css("backgroundColor", "#b5b5b5");
        setTimeout(() => {
          $(".btn").eq(index).css("backgroundColor", "#DDDDDD");
        }, 1500);
      }
    },
    loadLockedVideo: function () {
      // $("#alertdiv .grid table td").removeClass("lockBg");
      // if (locationMsg.id != null) {
      //     $("#alertdiv table td").removeClass("maplockBg");
      // }
      // let left = JSON.parse(localStorage.getItem("leftLock"));
      // let right = JSON.parse(localStorage.getItem("rightLock"));
      // if (left != null) {
      //     for (let i = 0; i < left.length; i++) {
      //         $("#" + left[i]).addClass("lockBg");
      //     }
      // }
      // if (right != null) {
      //     for (let i = 0; i < right.length; i++) {
      //         $("#" + right[i]).addClass("lockBg");
      //     }
      // }
    },
  },
};

function lockAndUnLock(e) {
  // let id = e.data.id;
  // //锁定
  // $("#alertdiv table td").removeClass("maplockBg");
  // $("#" + id).addClass("maplockBg");
  // var arr = id.split("-");
  // if (arr[arr.length - 1] < 2) {
  //     locationMsg = { type: "left", id: id };
  // } else {
  //     locationMsg = { type: "right", id: id };
  // }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.video-list-container {
  position: relative;
}
.close-container {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 9999;
}
.close-container img {
  height: 100%;
  cursor: pointer;
}
.alertModelShowVodal {
  z-index: 9000;
}
.alertVideo .vodal-close {
  top: 0;
  right: 0;
}
.selectBt {
  border-radius: 32px;
  overflow: hidden;
  padding-right: 30px;
  background: white;
}

.selectRoom {
  width: 250px;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -75px;
  z-index: 1000;
}

.select {
  width: 200px;
  display: inline-block;
  vertical-align: top;
}

.alertdiv {
  width: 680px;
  height: 465px;
  background-color: #ffffff;
  text-align: center;
}

.alertdiv h3 {
  font-size: 25px;
  color: #000000;
  margin-top: 10px;
}

.alertdiv .grid {
  height: 350px;
  margin-top: 10px;
}

/* .alertdiv .grid table {
    width: 132px;
    height: 171px;
    border-collapse: collapse;
    float: left;
}

.alertdiv .grid table caption {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
}

.alertdiv .grid table td {
    width: 66px;
    height: 47px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: 1px solid white;
    border-collapse: collapse;
    float: left;
}

.alertdiv .grid table.grid-left {
    margin-left: 145px;
}

.alertdiv .grid table.grid-right {
    margin-left: 120px;
}

.alertdiv .grid table td.one {
    background-color: rgba(0, 0, 0, 0.1);
}

.alertdiv .grid table td.two {
    background-color: rgba(0, 0, 0, 0.2);
}

.alertdiv .grid table td.three {
    background-color: rgba(0, 0, 0, 0.3);
}

.alertdiv .grid table td.lockBg {
    background: url("/static/img/component/lock-bg.png") no-repeat;
    background-size: 100%;
}

.alertdiv .grid table td.mapBg,
.alertdiv .grid table td.maplockBg {
    background: url("/static/img/component/maploc.png") no-repeat;
    background-size: 100%;
} */

.alertdiv .buttons {
  margin-top: 10px;
}

.alertdiv .buttons .btn {
  cursor: pointer;
  width: 180px;
  height: 44px;
  letter-spacing: 5px;
  font-size: 20px;
  color: #000000;
  border-radius: 5px;
  border: none;
}

.alertdiv .buttons .btn:first-child {
  background-color: #008cff;
}
.alertdiv .buttons .btn:nth-child(2) {
  background-color: #ff5d8e;
}

.alertdiv .buttons .btn:last-child {
  background-color: #dddddd;
  margin-left: 70px;
}

.centerContainer {
  width: 990px;
  height: 100%;
  float: left;
  position: absolute;
  left: 50%;
  margin-left: -495px;
}

.centerContainer .mapContainer {
  width: 100%;
  height: 811px;
  border: 5px solid #1f7190;
}
.centerContainer .mapContainer .frameTop {
  width: 884px;
  height: 50px;
  position: absolute;
  z-index: 15;
  top: 15px;
  background: url("../../static/img/bottomCom/map_farme_top.png") no-repeat;
  margin-left: 25px;
}
.centerContainer .mapContainer .frameTop p {
  text-align: left;
  font-size: 28px;
  color: #3386a7;
  padding-left: 30px;
  font-weight: bold;
}
.centerContainer .mapContainer .frameLeft {
  width: 17px;
  height: 147px;
  position: absolute;
  z-index: 15;
  left: 18px;
  top: 59px;
}
.centerContainer .mapContainer .frameLeft img {
  height: 100%;
}
.centerContainer .mapContainer .searchInput {
  width: 500px;
  height: 35px;
  position: absolute;
  /* background: #a5ffff; */
  background: url("../../static/img/bottomCom/search_input_pre.png") no-repeat;
  background-size: 100% 100%;
  z-index: 15;
  top: 80px;
  left: 50%;
  margin-left: -250px;
  display: grid;
  grid-template-columns: 465px 35px;
  grid-template-rows: 100%;
}
.centerContainer .mapContainer .selectedbox {
  width: 500px;
  min-height: 35px;
  position: absolute;
  /* background: #a5ffff; */
  background: rgba(12, 14, 37, 0.8);
  border: 1px solid #417590;
  z-index: 15;
  top: 120px;
  left: 50%;
  margin-left: -250px;
}
.centerContainer .mapContainer .selectedbox .selectItem {
  width: 500px;
  height: 35px;
  line-height: 35px;
  color: #179db6;
  padding: 0 20px;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
}
.centerContainer .mapContainer .selectedbox .selectItem:hover {
  background: rgba(31, 113, 144, 0.7);
  color: white;
}
.centerContainer .mapContainer .selectedbox .selectedIndexclass {
  color: white;
  background: #1f7190;
}
.centerContainer .mapContainer .selectedbox .selectItem span {
  opacity: 0.8;
  font-size: 12px;
  padding-left: 5px;
}
.centerContainer .mapContainer .searchInput .searchInput_s {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  color: white;
  padding: 0 20px;
}
.centerContainer .mapContainer .searchInput .search_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.centerContainer .mapContainer .searchInput .search_icon img {
  width: 16px;
  height: 16px;
}
.centerContainer .mapContainer .frameBottom {
  width: 178px;
  height: 10px;
  position: absolute;
  z-index: 15;
  top: 788px;
  right: 0;
}
.centerContainer .mapContainer .frameBottom img {
  width: 100%;
}

.centerContainer .mapContainer p.mapTitle {
  text-align: left;
  font-size: 28px;
  color: #3386a7;
  height: 55px;
  padding-top: 13px;
  padding-left: 60px;
  font-weight: bold;
}

.centerContainer .mapContainer .mapFrame {
  height: 725px;
  width: 895px;
  margin-top: 8px;
  margin-left: 30px;
  border-radius: 10px;
  overflow: hidden;
}

.util {
  position: absolute;
  right: 45px;
  top: 70px;
  width: 58px;
  height: 300px;
  border-radius: 14px;
  background: rgba(0, 0, 0, 0.55);
  /*overflow: hidden;*/
}
.video-list-container {
  /* height: 300px; */
  width: 500px;
  height: 300px;
  position: fixed;
  /* background-color: #104257; */
  top: 200px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
  color: white;
  font-size: 15px;
}
.table-container {
  width: 100%;
  height: 100%;
  background: url("../../static/img/bottomCom/bg@2x.png") no-repeat;
  background-size: 100% 100%;
}
.cameraList {
  padding: 15px;
  height: 85%;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
.cameraItem {
  margin: 5px;
  background: url("../../static/img/bottomCom/ic_camera_default@2x.png")
    no-repeat;
  background-size: 100% 100%;
  position: relative;
  cursor: pointer;
}
.cameraname {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #f1f2f3;
}
/* .table-container >>> .el-table .el-table__row:hover {
    background-color: red !important;
}
.table-container >>> .el-table__empty-block {
    background-color: #104257;
}
.table-container >>> .el-table td {
    border-bottom: 1px solid #909399;
}

.table-container >>> .el-table th.is-leaf {
    border-bottom: 1px solid #909399;
}
.table-container >>> .el-table--border::after,
.table-container >>> .el-table--group::after,
.table-container >>> .el-table::before {
    background-color: #909399;
} */

.pagination-container {
  height: 15%;
  margin: 5px auto;
}

.pagination-container >>> .el-pagination .el-pager .number {
  background-color: transparent;
  /* font-size: 20px; */
  color: #909399;
  font-weight: bold;
}
.pagination-container >>> .el-pagination .el-pager .active {
  background-color: transparent;
  /* font-size: 20px; */
  color: #a5ffff;
  font-weight: bold;
}
.pagination-container >>> .el-pagination button {
  background-color: transparent;
}
.pagination-container >>> .el-pagination .el-pager .more {
  background-color: transparent;
}
.oldPeople {
  position: absolute;
  left: 0;
  bottom: 130px;
  width: 200px;
  height: 400px;
  border: 2px solid #1f7190;
}
.oldheader {
  height: 60px;
  color: #ddd;
  font-size: 18px;
  text-align: center;
  line-height: 60px;
  background: rgba(31, 113, 144, 0.6);
}
.oldImg {
  height: 150px;
  width: 100%;
  cursor: pointer;
}
.olddialog {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.olddialogcontent {
  width: 800px;
  height: 400px;
  background: rgba(31, 113, 144, 1);
  display: grid;
  grid-template-columns: 500px 300px;
  grid-template-rows: 100%;
}
.oldPeoinfo {
  height: 100px;
  text-align: left;
  padding-left: 20px;
  box-sizing: border-box;
  color: white;
  font-size: 18px;
  line-height: 100px;
}
.closeIcon {
  font-size: 40px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  background: cornsilk;
  cursor: pointer;
}
.rtspBox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.closeIcon {
  width: 25px;
  height: 25px;
  font-size: 22px;
  position: absolute;
  right: 0;
  top: 0;
  background: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f1f2f3;
}
.rtspContainer {
  width: 50%;
  height: 50%;
  background: darkblue;
}
</style>
