<template>
  <div class="contianer">
    <!--底部-->
    <div id="bottomContainer" onselectstart="return false;">
      <div class="leftIcon" @click="changeLeft">
        <img
          v-if="leftUnshow"
          src="../../static/img/foot/left_hui.png"
          alt=""
        />
        <img
          v-if="!leftUnshow"
          src="../../static/img/foot/left_danhui.png"
          alt=""
        />
      </div>
      <ul>
        <!-- <li>
          <button
            :class="
              $route.path === '/roadcams'
                ? ['shorter', 'roadActive']
                : userPermission.suspect
                ? 'lookup'
                : ['lookup', 'nohover']
            "
            @click="userPermission.suspect ? $router.push('/roadcams') : ''"
          >
            人群观测布控
          </button>
        </li>
        <li>
          <button
            :class="
              $route.path === '/peopleCounting'
                ? ['shorter', 'shorterActive']
                : userPermission.crowdDensity
                ? 'shorter'
                : ['shorter', 'nohover']
            "
            @click="
              userPermission.crowdDensity ? $router.push('/peopleCounting') : ''
            "
          >
            人群密度
          </button>
        </li>
        <li>
          <button
            :class="
              $route.path === '/electrombile'
                ? ['shorter', 'shorterActive']
                : userPermission.crowdDensity
                ? 'shorter'
                : ['shorter', 'nohover']
            "
            @click="$router.push('/electrombile')"
            style="width: 120px"
          >
            消防报警
          </button>
        </li> -->
        <div class="changeleft">
          <li v-for="item in leftList" :key="item.id">
            <button
              :class="
                $route.path === item.router
                  ? ['shorter', 'shorterActive']
                  : ['shorter', 'nohover']
              "
              @click="routerTo(item)"
              style="width: 120px"
            >
              {{ item.name }}
            </button>
          </li>
        </div>

        <li>
          <button
            :class="$route.path === '/' ? ['index', 'indexActive'] : 'index'"
            @click="$router.push('/')"
          ></button>
        </li>
        <div>
          <li v-for="item in rightList" :key="item.id">
            <button
              :class="
                $route.path === item.router
                  ? ['shorter', 'shorterActive']
                  : ['shorter', 'nohover']
              "
              @click="routerTo(item)"
              style="width: 120px"
            >
              {{ item.name }}
            </button>
          </li>
        </div>

        <!-- <li>
          <button
            :class="
              $route.path === '/bracelet'
                ? ['shorter', 'shorterActive']
                : userPermission.crowdDensity
                ? 'shorter'
                : ['shorter', 'nohover']
            "
            @click="$router.push('/bracelet')"
            style="width: 120px"
          >
            轨迹感知
          </button>
        </li>
        <li>
          <button
            :class="
              $route.path === '/parking'
                ? ['shorter', 'carshop', 'shorterActive']
                : userPermission.illegalParking
                ? ['shorter', 'carshop']
                : ['shorter', 'carshop', 'nohover']
            "
            @click="
              userPermission.illegalParking ? $router.push('/parking') : ''
            "
          >
            车辆违停
          </button>
        </li>
        <li>
          <button
            :class="
              $route.path === '/12345'
                ? ['hotline', 'hotlineActive']
                : userPermission.hotLine
                ? 'hotline'
                : ['hotline', 'nohover']
            "
            @click="userPermission.hotLine ? $router.push('/12345') : ''"
          >
            案情分析
          </button>
        </li> -->
        <!--<li>-->
        <!--<button @click="$router.push('/12345')">-->
        <!--bicycle-->
        <!--</button>-->
        <!--</li>-->
      </ul>
      <div class="rightIcon" @click="changeRight">
        <img
          v-if="leftUnshow"
          src="../../static/img/foot/right_danhui.png"
          alt=""
        />
        <img
          v-if="!leftUnshow"
          src="../../static/img/foot/right_hui.png"
          alt=""
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      show: false,
      mapModelDisplay: false,
      userPermission: {},
      btnList: [
        { name: "人群观测布控", router: "/roadcams", id: 1 },
        { name: "人群密度", router: "/peopleCounting", id: 2 },
        { name: "消防报警", router: "/electrombile", id: 3 },
        { name: "轨迹感知", router: "/bracelet", id: 4 },
        { name: "车辆违停", router: "/parking", id: 5 },
        { name: "案情分析", router: "/12345", id: 6 },
        { name: "渣土管理", router: "/roadcams", id: 7 },
      ],
      leftList: [],
      rightList: [],
      leftUnshow: true,
    };
  },
  methods: {
    changeLeft() {
      this.leftList = this.btnList.slice(1, 4);
      this.rightList = this.btnList.slice(4, 7);
      this.leftUnshow = false;
      let shorter = document.getElementsByClassName("changeleft");

      for (var i = 0, len = shorter.length; i < len; i++) {
        shorter[i].style["margin-left"] = "20px";
      }

      setTimeout(() => {
        for (var i = 0, len = shorter.length; i < len; i++) {
          shorter[i].style["margin-left"] = "0px";
        }
      }, 1000);
    },
    changeRight() {
      this.leftList = this.btnList.slice(0, 3);
      this.rightList = this.btnList.slice(3, 6);
      this.leftUnshow = true;
      let shorter = document.getElementsByClassName("changeleft");
      for (var i = 0, len = shorter.length; i < len; i++) {
        shorter[i].style["margin-right"] = "0px";
      }

      setTimeout(() => {
        for (var i = 0, len = shorter.length; i < len; i++) {
          shorter[i].style["margin-right"] = "20px";
        }
      }, 1000);
    },
    routerTo(item) {
      console.log(item);
      if (item.id == 7) {
        let goAnother = localStorage.getItem("goAnother");
        window.location.href =
          "http://192.168.123.231:9800/#/login?goAnother=" + goAnother;
           this.$emit('hideOldpeopleMarker',false)
      }else if(item.id==2){
        console.log(item.id)
        this.$emit('loadHeart',true)
        this.$router.push(item.router);
         this.$emit('hideOldpeopleMarker',false)
        
      }else if(item.id==4){
        this.$router.push(item.router);
         this.$emit('addOldpeopleMarker',true)
      }else {
         console.log(item.id)
        this.$emit('loadHeart',false)
        this.$emit('hideOldpeopleMarker',false)
        this.$router.push(item.router);
        
      }
    },
  },
  created() {
    this.leftList = this.btnList.slice(0, 3);
    this.rightList = this.btnList.slice(3, 6);
    let per = window.localStorage.userPermission;
    per.indexOf("illegalParking:read") > -1
      ? Object.assign(this.userPermission, { illegalParking: true })
      : false;
    per.indexOf("suspect:read") > -1
      ? Object.assign(this.userPermission, { suspect: true })
      : false;
    per.indexOf("crowdDensity:read") > -1
      ? Object.assign(this.userPermission, { crowdDensity: true })
      : false;
    per.indexOf("hotLine:read") > -1
      ? Object.assign(this.userPermission, { hotLine: true })
      : false;
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.contianer {
  width: 100%;
}
#bottomContainer {
  width: 100%;
  height: 127px;
  position: relative;
  padding: 0 38px;
}
.changeleft{
    transition: all 1s;
}
#bottomContainer .leftIcon {
  position: absolute;
  left: 0;
  height: 100%;
  width: 38px;
  line-height: 150px;
  cursor: pointer;
}
#bottomContainer .leftIcon img {
  width: 38px;
}
#bottomContainer .rightIcon {
  position: absolute;
  right: 0;
  height: 100%;
  width: 38px;
  line-height: 140px;
  cursor: pointer;
}
#bottomContainer .rightIcon img {
  width: 38px;
}
#bottomContainer li {
  float: left;
  line-height: 105px;
  margin-left: 12px;
  margin-top: 10px;
}
#bottomContainer li:first-child {
  margin-left: 0px;
}
#bottomContainer li button {
  color: #3386a7;
  font-family: 微软雅黑;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  vertical-align: middle;
  line-height: 0px;
  height: 55px;
  padding-bottom: 16px;
  cursor: pointer;
  
}
#bottomContainer li button.lookup {
  background: url("../../static/img/foot/btn-lookup-nor.png") no-repeat;
  background-size: 100%;
  width: 150px;
}

#bottomContainer li button.lookup:hover {
  background: url("../../static/img/foot/btn-lookup-sel.png") no-repeat;
  background-size: 100%;
  color: white;
}

#bottomContainer li button.roadActive {
  background: url("../../static/img/foot/btn-lookup-sel.png") no-repeat;
  background-size: 100%;
  color: white;
}
#bottomContainer li button.shorter {
  background: url("../../static/img/foot/btn-midu-nor.png") no-repeat;
  width: 120px;
  background-size: 100%;
  margin-left: 0px;
}
#bottomContainer li button.shorter:hover {
  background: url("../../static/img/foot/btn-midu-sel.png") no-repeat;
  background-size: 100%;
  color: white;
}
#bottomContainer li button.shorterActive {
  background: url("../../static/img/foot/btn-midu-sel.png") no-repeat;
  background-size: 100%;
  color: white;
}
#bottomContainer li button.index {
  background: url("../../static/img/foot/btn-home-nor.png") no-repeat;
  background-size: 100%;
  width: 100px;
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
}
#bottomContainer li button.index:hover {
  animation: bounce 2s ease infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(0%);
  }
  10% {
    transform: translateY(-15%);
  }
  20% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-7%);
  }
  27% {
    transform: translateY(0%);
  }
  29% {
    transform: translateY(-3%);
  }
  30% {
    transform: translateY(0);
  }
}
/*#bottomContainer li button.index:hover {*/
/*background: url("../../static/img/foot/home_icon.gif") no-repeat;*/
/*}*/
#bottomContainer li button.indexActive {
  background: url("../../static/img/foot/btn-home-sel.png") no-repeat;
  background-size: 100%;
  color: white;
}
#bottomContainer li button.carshop {
  margin-left: 1px;
}
#bottomContainer li button.hotline {
  background: url("../../static/img/foot/btn-lookup-nor.png") no-repeat;
  background-size: 100%;
  width: 160px;
  margin-left: 4px;
}
#bottomContainer li button.hotline:hover {
  background: url("../../static/img/foot/btn-lookup-sel.png") no-repeat;
  background-size: 100%;
  color: white;
}
#bottomContainer li button.hotlineActive {
  background: url("../../static/img/foot/btn-lookup-sel.png") no-repeat;
  background-size: 100%;
  color: white;
}

#bottomContainer li .shorter.nohover:hover {
  background: url("../../static/img/foot/btn-midu-nor.png") no-repeat;
  background-size: 100%;
  color: #3386a7;
}

#bottomContainer li .hotline.nohover:hover {
  background: url("../../static/img/foot/btn-hotline-nor.png") no-repeat;
  background-size: 100%;
  color: #3386a7;
}

#bottomContainer li .lookup.nohover:hover {
  background: url("../../static/img/foot/btn-lookup-nor.png") no-repeat;
  background-size: 100%;
  color: #3386a7;
}
</style>
