<template>

    <div class="container">
        <div :class="showButton?'buttonHead active':'buttonHead'" @click="showButton=!showButton">{{show}}</div>
        <div class="buttonWrapper" v-show="showButton">
            <div class="item" @click="changeShow('thisTime','实时')"><span>实时</span></div>
            <div class="item" @click="changeShow('day','日')"><span>日</span></div>
            <div class="item" @click="changeShow('week','周')"><span>周</span></div>
            <div class="item" @click="changeShow('month','月')"><span>月</span></div>
        </div>

    </div>
</template>

<script>
    import {getTimePopulation, getCurrentPopulation} from '../api/index'
    import ws from '../api/sockjs'

    export default {
        name: 'hello',
        data() {
            return {
                msg: 'Welcome to Your Vue.js App',
                //ws连接
                client: null,
                show: '实时',
                showButton: false
            }
        },
        methods: {
            changeShow(Show, str) {
                if (Show === 'thisTime') {
                    getCurrentPopulation().then(data => {
                        if (data.errcode === 0) {
                            this.show = str;
                            //Vuex
                            this.$store.commit('setHeatData', data.data.content)
                            this.$emit('changeShow', Show)
                        } else if (data.errcode == -1) {
                            layer.msg("后台服务器异常!", {shift: '6', time: 3000});
                        }
                    }).then(() => {
                        ws('实时热力图').then(sto => {
                            this.client = sto;
                            this.client.subscribe('/topic/currentPopulation', (response) => {
                                let data = JSON.parse(response.body)
                                this.$store.commit('setHeatData', data)
                            })
                        })
                    })
                } else {
                    if (this.client) {
                        this.client.disconnect();
                        this.client = null
                    }
                    getTimePopulation({dateType: Show === 'day' ? 0 : Show === "week" ? 1 : 2}).then(data => {
                        if (data.errcode === 0) {
                            this.show = str;
                            this.$store.commit('setHeatData', data.data);
                            this.$emit('changeShow', Show)
                        } else if (data.errcode == -1) {
                            layer.msg("后台服务器异常!", {shift: '6', time: 3000});
                        }
                    })

                }

            },
            destroy() {
                if (this.client) {
                    this.client.disconnect()
                }
            }
        },

        created() {

        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .container {
        width: 136px;
        height: 172px;
        position: absolute;
        left: 35px;
        top: 70px;
        z-index: 1000;

    }

    .container .buttonHead {
        width: 136px;
        height: 43px;
        border-bottom: 1px solid #375879;
        background: #ccc;
        position: relative;
        text-align: center;
        vertical-align: top;
        font-size: 14px;
        line-height: 43px;
        color: #e7e7e7;
        text-indent: -40px;
        background: url("/static/img/component/btn_nor.png") no-repeat;
        -webkit-background-size: 100% 100%;
        background-position: 0 0;
        cursor: pointer;
    }

    .container .buttonHead.active {

        background: url("/static/img/component/btn_sel.png") no-repeat;
        -webkit-background-size: 100% 100%;
        background-position: 0 0;
    }

    .buttonWrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: url("/static/img/component/bg.png");
        background-size: 100%;
    }

    .item {
        height: 45px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .item:hover {
        background: url("/static/img/component/sel.png");
        background-size: 100% 100%;
        cursor: pointer;
    }

    .item > span {
        display: inline-block;
        vertical-align: top;
        text-align: left;
        text-indent: 35px;
        color: #e7e7e7;
    }
</style>
