<template>
    <div class="container">
        <div class="spaceBg">
            <canvas id="space"></canvas>
        </div>
        <div class="container">
            <div class="contentDiv">
                <div class="header">周浦镇城市运行综合管理大数据平台</div>
                <div class="inputDiv" id="uname">
                    <input type="text" placeholder="用户名" v-model="username" autofocus="autofocus">
                </div>
                <div class="inputDiv" id="pwd">
                    <input type="password" placeholder="密　码" v-model="password">
                </div>
                <div class="inputDiv" id="btnDiv">
                    <button id="btn" @click="agent?false:login()" @mousedown="btnDown()" @mouseup="btnUp()"></button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {reqLogin} from '../api/index'
    import CryptoJS from "crypto-js"
    //秘钥
    const CRYPTOJSKEY = "zhoupuliexiongzuo";

    export default {
        data() {
            return {
                username: '',
                password: '',
                agent: false
            }
        },
        created: function () {
            this.$nextTick(() => {
                this.agent = this.$store.getters.getAgent;
                this.addLoginBg();
                let params = window.location.href.split("=")[1];
                if (params) {
                    this.autoLogin(params);
                }
            })
        },
        methods: {
            encrypt(plaintText) {
                let mi = CryptoJS.AES.encrypt(plaintText, CRYPTOJSKEY);
                return encodeURIComponent(mi);
            },
            decrypt(data) {
                let baseResult=decodeURIComponent(data);   // Base64解密
                // let ciphertext=CryptoJS.enc.Base64.stringify(baseResult);
                let result = CryptoJS.AES.decrypt(baseResult, CRYPTOJSKEY).toString(CryptoJS.enc.Utf8);
                return result;
            },
            autoLogin: function (params) {
                let goAnother = JSON.parse(this.decrypt(params));
                this.username = goAnother.username;
                this.password = goAnother.password;
                this.login();
            },
            login() {
                let par = {
                    username: this.username,
                    pwd: this.password
                };
                reqLogin(par).then(data => {
                    if (data.errcode === 0) {
                        //加密
                        let json = {username: this.username, password: this.password};
                        let goAnother = JSON.stringify(json);
                        localStorage.setItem("goAnother", this.encrypt(goAnother));

                        localStorage.setItem("userid", data.data.id);
                        localStorage.setItem('user', this.username);
                        localStorage.setItem("userPermission", JSON.stringify(data.data.role.permissionList));

                        let uuid = this.generateUUID();
                        let mqTopicAddress = "/topic/videoLocationLockOrLoop_" + uuid;
                        localStorage.setItem("mqTopicAddress", mqTopicAddress);

                        document.cookie = "Huiskin=blue";
                        let perJson = data.data.role.permissionList;
                        let mark = 0;
                        for (let m = 0; m < perJson.length; m++) {
                            if (perJson[m].permissionName == "mainControl:read") {
                                //主控权限
                                mark = 1;
                            }
                        }
                        if (!localStorage.getItem('main')) {
                            if (!localStorage.getItem("controlPage") || !localStorage.getItem("center")) {
                                open("/static/static/main.html");
                            }
                        }
                        if (mark == 1) {
                            if (!localStorage.getItem('left')) {
                                // open("/static/videoLeft.html");
                                open("http://192.168.123.232:58211/zhoupu/left?height=3&width=2");
                            }
                            if (!localStorage.getItem('right')) {
                                // open("/static/videoRight.html");
                                open("http://192.168.123.232:58211/zhoupu/right?height=3&width=2");
                            }
                        }
                        if (!localStorage.getItem("controlPage") || !localStorage.getItem("center")) {
                            this.$router.replace('/');
                        } else {
                            localStorage.setItem("setCenter", true);
                            window.location = "/static/static/main.html";
                            localStorage.removeItem("controlPage");
                        }
                    }else{
                        layer.msg(data.errmsg, {shift: '6', time: 3000});
                    }
                }).catch(res=>{
                
                })
            }
            ,
            btnDown: function () {
                $("#btn").css("background", 'url("../../static/img/login/sel_login-button.png") no-repeat');
            }
            ,
            btnUp: function () {
                $("#btn").css("background", 'url("../../static/img/login/nor_login-button.png") no-repeat');
            }
            ,
            generateUUID: function () {
                let d = new Date().getTime();
                let uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                    let r = (d + Math.random() * 16) % 16 | 0;
                    d = Math.floor(d / 16);
                    return (c == 'x' ? r : (r & 0x7 | 0x8)).toString(16);
                });
                return uuid;
            }
            ,
            addLoginBg: function () {
                window.requestAnimFrame = (function () {
                    return window.requestAnimationFrame
                })();
                var canvas = document.getElementById("space");
                var c = canvas.getContext("2d");
                var numStars = 1900;
                var radius = '0.' + Math.floor(Math.random() * 9) + 1;
                var focalLength = canvas.width * 2;
                var warp = 0;
                var centerX, centerY;
                var stars = [], star;
                var i;
                var animate = true;
                initializeStars();

                function executeFrame() {

                    if (animate)
                        requestAnimFrame(executeFrame);
                    moveStars();
                    drawStars();
                }

                function initializeStars() {
                    centerX = canvas.width / 2;
                    centerY = canvas.height / 2;

                    stars = [];
                    for (i = 0; i < numStars; i++) {
                        star = {
                            x: Math.random() * canvas.width,
                            y: Math.random() * canvas.height,
                            z: Math.random() * canvas.width,
                            o: '0.' + Math.floor(Math.random() * 99) + 1
                        };
                        stars.push(star);
                    }
                }

                function moveStars() {
                    for (i = 0; i < numStars; i++) {
                        star = stars[i];
                        star.z--;

                        if (star.z <= 0) {
                            star.z = canvas.width;
                        }
                    }
                }

                function drawStars() {
                    var pixelX, pixelY, pixelRadius;

                    // Resize to the screen
                    if (canvas.width != window.innerWidth || canvas.width != window.innerWidth) {
                        canvas.width = window.innerWidth;
                        canvas.height = window.innerHeight;
                        initializeStars();
                    }
                    if (warp == 0) {
                        c.fillStyle = "rgba(0,10,20,1)";
                        c.fillRect(0, 0, canvas.width, canvas.height);
                    }
                    c.fillStyle = "rgba(209, 255, 255, " + radius + ")";
                    for (i = 0; i < numStars; i++) {
                        star = stars[i];

                        pixelX = (star.x - centerX) * (focalLength / star.z);
                        pixelX += centerX;
                        pixelY = (star.y - centerY) * (focalLength / star.z);
                        pixelY += centerY;
                        pixelRadius = 1 * (focalLength / star.z);

                        c.fillRect(pixelX, pixelY, pixelRadius, pixelRadius);
                        c.fillStyle = "rgba(209, 255, 255, " + star.o + ")";
                        //c.fill();
                    }
                }

                executeFrame();
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .container {
        height: 100vh;
        width: 100%;
        min-width: 900px;
        min-height: 650px;
        background-size: cover;
        overflow: hidden;
    }

    .spaceBg {
        overflow: hidden;
        height: 100%;
        top: 0;
    }

    #space {
        width: 100%
    }

    .contentDiv {
        width: 800px;
        height: 420px;
        position: absolute;
        /*z-foot: 10;*/
        top: 50%;
        margin-top: -220px;
        left: 50%;
        margin-left: -375px;
    }

    .header {
        text-align: center;
        font-size: 40px;
        color: #ffffff;
        letter-spacing: 8px;
        font-weight: 500;
        font-family: "Microsoft Yahei";
    }

    .inputDiv {
        text-align: center;
        margin-top: 100px;
    }

    #pwd {
        margin-top: 15px;
    }

    #btnDiv {
        margin-top: 40px;
    }

    .inputDiv input {
        width: 373px;
        height: 68px;
        background: url("../../static/img/login/nor_farme.png") transparent no-repeat;
        border: none;
        outline: none;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 18px;
        color: #ffffff;
    }

    .inputDiv input:focus {
        background: url("../../static/img/login/sel_farme.png") transparent no-repeat;
    }

    ::-webkit-input-placeholder {
        color: #a3a3a5;
        font-size: 18px;
    }

    .inputDiv::-webkit-input-placeholder {
        color: #a3a3a5;
        font-size: 18px;
    }

    .inputDiv::-moz-placeholder {
        color: #a3a3a5;
        font-size: 18px;
    }

    .inputDiv button {
        width: 373px;
        height: 68px;
        background: url("../../static/img/login/nor_login-button.png") no-repeat;
        outline: none;
        border: none;
    }
</style>
