<template>
    <div class="container">
        <div id="headerContainer">
            <div id="header">
                <div class="title">慧芯——周浦镇城市运行综合管理智慧平台</div>
            </div>
            <div class="timeContainer">
                <div class="dateContainer">
                    <p class="week">{{ currentWeek }}</p>
                    <p class="date">{{ currentDate }}</p>
                </div>
                <p class="time">{{ currentTime }}</p>
            </div>
        </div>
        <div class="bottomContainer">
            <bottom-com></bottom-com>
        </div>
    </div>
</template>

<script>
import bottomCom from "./bottomCom.vue";
import Gmap from "./map.vue";
// import Stomp from 'stompjs'
import foot from "./foot.vue";
import { reqgetLocations } from "../api";
import {
    Select as xelect,
    Option as item,
    OptionGroup,
} from "iview/src/components/select";
// import ws from "../api/sockjs"
import { WSconnect } from "@/api/websocket";

window.locationMsg = {};

export default {
    components: { Gmap, foot, xelect, item, OptionGroup, bottomCom },
    name: "hello",
    data() {
        return {
            currentTime: "",
            currentDate: "",
            currentWeek: "",
            prop: null,
            //搜索框
            options: [],
            selectValue: "",
            loading: false,
            lat: "",
            lng: "",
            client: "",
        };
    },
    created() {
        this.$nextTick(function () {
            // this.mq();
            this.getDate();
            this.getCurrentTime();
            // this.getMqAddress();
            WSconnect();
        });
    },
    destroyed() {
        localStorage.setItem("mainClose", true);
        // this.client.disconnect()
    },
    methods: {
        //             mq(){
        //                 let _this=this
        //                 var Stomp_Client = "";
        //                 var ws;
        //                 if (location.search == "?ws") {
        //                     ws = new WebSocket(WEBSOCKET_ADDRESS)
        //                 } else {
        //                     // ws = new SockJS(SOCKJS_ADDRESS);
        //                 }
        //                 // 获得Stomp client对象
        //                 Stomp_Client = Stomp.over(ws);
        //                 Stomp_Client.debug = function (str) {
        //                     // console.log(str)
        //                 };
        //                 Stomp_Client.heartbeat.outgoing = 0;
        //                 Stomp_Client.heartbeat.incoming = 0;
        //                 // 定义连接成功回调函数
        //                 function on_connect() {
        // //      client.send("/topic/testTopic", {}, data);
        //                     _this.$store.commit('setClient',Stomp_Client)
        //                 };
        //                 // 定义错误时回调函数
        //                 var on_error = function () {
        //                     // parent.layer.msg("mq连接时发生了错误!", {shift: '6', time: 3000});
        //                     Stomp_Client.disconnect();
        //                     setTimeout(this.mq, 120000);
        //                 }.bind(this);
        //                 // 连接RabbitMQ
        //                 // Stomp_Client.connect(MQ_USERNAME, MQ_PASSWORD, on_connect, on_error, '/');

        //             },
        // getMqAddress: function () {
        //     if (this.isMainControl()) {
        //         let mqTopicAddress = this.getMqTopicAddress();

        //         if (mqTopicAddress == null) {
        //             setTimeout(this.getMqAddress, 500);
        //             return ;
        //         }

        //         this.receiveAndSendMsg(mqTopicAddress);
        //     }
        // },
        // receiveAndSendMsg: function (mqTopicAddress) {

        //     let _this = this;
        //     ws('定时轮屏', _this.receiveAndSendMsg,mqTopicAddress).then(sto => {
        //         this.client = sto;
        //         this.client.subscribe('/topic/getVideoLoopTask', (response) => {

        //             let data = JSON.parse(response.body).camList;
        //             let msgLeft = JSON.parse(localStorage.getItem("leftLock"));
        //             let msgRight = JSON.parse(localStorage.getItem("rightLock"));
        //             let leftLength = 0;
        //             let rightLength = 0;
        //             if (msgLeft != null) {
        //                 leftLength = msgLeft.length;
        //             }
        //             if (msgRight != null) {
        //                 rightLength = msgRight.length;
        //             }
        //             let leftNumber = 12;
        //             let rightNumber = 12;
        //             leftLength = leftNumber - leftLength;
        //             rightLength = rightNumber - rightLength;
        //             if (data.length > leftLength) {
        //                 let lastLength = data.length <= (leftLength + rightLength) ? data.length : (leftLength + rightLength);
        //                 let arrLeft = [];
        //                 let arrRight = [];
        //                 for (let i = 0; i < lastLength; i++) {
        //                     if (i < leftLength) {
        //                         arrLeft.push(data[i].url);
        //                     } else {
        //                         arrRight.push(data[i].url);
        //                     }
        //                 }
        //                 //mqType: videoLoop:视频轮询     videoLocation:视频定位
        //                 let left = {mqType: "videoLoop",timestamp:new Date().toString(), leftOrRight: "left", data: arrLeft};
        //                 let right = {mqType: "videoLoop",timestamp:new Date().toString(), leftOrRight: "right", data: arrRight};
        //                 this.$store.getters.getClient.send(mqTopicAddress, {}, JSON.stringify(left));
        //                 this.$store.getters.getClient.send(mqTopicAddress, {}, JSON.stringify(right));
        //             } else if (data.length <= leftLength) {
        //                 let arr = [];
        //                 for (let i = 0; i < data.length; i++) {
        //                     arr.push(data[i].url);
        //                 }
        //                 let left = {mqType: "videoLoop", leftOrRight: "left", data: arr};
        //                 this.$store.getters.getClient.send(mqTopicAddress, {}, JSON.stringify(left));
        //             }
        //         });
        //     })
        // },

        getCurrentTime: function () {
            let date = new Date().Format("yyyy年MM月dd日 hh:mm:ss");
            let dates = date.split(" ");
            let week = new Date().getDay();
            switch (week) {
                case 0:
                    week = "星期日";
                    break;
                case 1:
                    week = "星期一";
                    break;
                case 2:
                    week = "星期二";
                    break;
                case 3:
                    week = "星期三";
                    break;
                case 4:
                    week = "星期四";
                    break;
                case 5:
                    week = "星期五";
                    break;
                case 6:
                    week = "星期六";
                    break;
                default:
                    week = "星期日";
            }
            this.currentTime = dates[1];
            this.currentDate = dates[0];
            this.currentWeek = week;
            setTimeout(this.getCurrentTime, 1000);
        },
        getDate: function () {
            Date.prototype.Format = function (fmt) {
                let o = {
                    "M+": this.getMonth() + 1, //月份
                    "d+": this.getDate(), //日
                    "h+": this.getHours(), //小时
                    "m+": this.getMinutes(), //分
                    "s+": this.getSeconds(), //秒
                    "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                    S: this.getMilliseconds(), //毫秒
                };
                if (/(y+)/.test(fmt))
                    fmt = fmt.replace(
                        RegExp.$1,
                        (this.getFullYear() + "").substr(4 - RegExp.$1.length)
                    );
                for (var k in o)
                    if (new RegExp("(" + k + ")").test(fmt))
                        fmt = fmt.replace(
                            RegExp.$1,
                            RegExp.$1.length == 1
                                ? o[k]
                                : ("00" + o[k]).substr(("" + o[k]).length)
                        );
                return fmt;
            };
        },
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container {
    background: url("../../static/img/main/main-bg.png") no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    min-width: 1900px;
    min-height: 1080px;
}
#headerContainer {
    width: 100%;
    height: 110px;
    position: relative;
}

#headerContainer #header {
    margin: 50px auto 0;
    width: 1900px;
    height: 100px;
    margin: 0 auto;
    line-height: 90px;
    background: url("../../static/img/main/head-bg.gif") no-repeat;
    background-size: cover;
}

#headerContainer #header .title {
    font-size: 38px;
    color: #ffffff;
    letter-spacing: 5px;
    line-height: 100px;
    font-weight: bold;
    text-align: center;
    margin-left: 50px;
}
#headerContainer .timeContainer {
    position: absolute;
    z-index: 10;
    top: 35px;
    right: 15px;
    color: #44b6da;
    width: 420px;
    height: 80px;
}

#headerContainer .timeContainer p.time {
    font-size: 60px;
    float: left;
    text-align: left;
    margin-top: 4px;
    margin-left: 15px;
    font-weight: 400;
}

#headerContainer .timeContainer .dateContainer {
    float: left;
    margin-top: 22px;
}

#headerContainer .timeContainer .dateContainer p {
    margin: 0px;
    text-align: right;
    font-size: 20px;
}

.bottomContainer {
    min-height: 895px;
    height: calc(100% - 130px);
    width: 1890px;
    margin: 20px auto 0;
}
</style>
