<template>
    <div style="width: 100%; height: 100%; position: relative">
        <heatmap-contral
            @changeShow="changeShow"
            v-show="heatmap"
            ref="con"
        ></heatmap-contral>

        <div ref="Gmap" class="map">地图未加载成功，请刷新页面后重载"</div>
        <old-man-list ref="oldList" @closeWin="closeWin"></old-man-list>

        <!--<div style="width: 70px;height: 70px;position: fixed;left: 50%;top: 50%;">-->
        <!--<img style="height: 70px;width: 70px;" src="../../static/img/map/pressure.gif" alt="">-->
        <!--</div>-->
        <show-icon v-show="showIcon"></show-icon>
    </div>
</template>

<script>
import { Bige, another_map, heishe_map, CenterControl } from "../assets/bige";
import overLay from "../assets/overlay";
import {
    reqCamslist,
    reqAllcams,
    getTimePopulation,
    getCurrentPopulation,
} from "../api/index";
import ws from "../api/sockjs";
import heatmapContral from "./heatmapContral.vue";
import oldManList from "./oldManList.vue";
import showIcon from "./echarts/electrombile/showIcon.vue";
import { riverCamList, riverSingleInfo } from "@/api/components/roadcams";

Object.assign(window, { videoInfoBubble: "" });
export default {
    components: { heatmapContral, oldManList, showIcon },
    data() {
        return {
            myOptions: {
                //设置中心点
                center: new google.maps.LatLng(
                    31.113365946637597,
                    121.57090365886688
                ),
                //默认显示级别
                zoom: 18,
                panControl: true,
                zoomControl: false,
                signInControl: false,
                rotateControl: true,
                streetViewControl: false,
                mapTypeControl: false,
                mapTypeControlOptions: {
                    mapTypeIds: ["google", "another_map", "heishe_map"],
                    position: google.maps.ControlPosition.TOP_CENTER,
                    style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
                },
            },
            showIcon: false,
            map: null,
            marks: [],
            msg: "Welcome to Your Vue.js App",
            draw_manager: null,
            polygon: null,
            polygongeom: [],
            faceCams: [],
            overlay: null,
            showPath: [],
            allCams: [],
            //单独摄像头的路径
            camsPath: null,
            //标记聚类
            markerCluster: null,
            //一个页面只能显示一个视频
            infoWindowClose: "",
            //延时器，阻止双击触发单击

            //热力图
            heatmap: null,

            //地点标记
            dirMark: null,

            //覆盖物
            mulch: {
                //雷达热力图
                radarheatmap: null,
                lastMarks: [],
                manholeCoverMark: [],
                waterMark: [],
                jarmMark: [],
                smookeMark: [],
            },
        };
    },
    methods: {
        getRiverList() {
            riverCamList().then((res) => {
                res.data.forEach((item) => {
                    let mark = new google.maps.Marker({
                        title: item.name,
                        optimized: false,
                        position: new google.maps.LatLng(item.lat, item.lng),
                        map: this.map,
                    });
                    mark.setIcon({
                        scaledSize: {
                            width: 25,
                            height: 28,
                        },
                        url: "/static/img/map/hedaored.png",
                    });
                    mark.addListener(
                        "click",
                        async function (e) {
                            // console.log(item)
                            let single = {};
                            await riverSingleInfo({ riverId: item.id }).then(
                                (res) => {
                                    if (res.errmsg === "ok") {
                                        single = res.data;
                                    }
                                }
                            );
                            let time = {};
                            if (window.infoWindow) {
                                window.infoWindow._info.close();
                            }

                            clearTimeout(time);
                            console.log(single);
                            let html =
                                single !== {}
                                    ? `<div style="margin: 0;width: 220px;height: 100px;">
                                    <div style="margin: 10px;padding-top:10px;width: 200px;height: 90px;border: 5px solid #000;border-radius: 5px;">
                                        <div stytle="padding-left:10px;">温度：${
                                            single.temperature
                                                ? single.temperature.value + "℃"
                                                : "无"
                                        }</div>
                                        <div stytle="padding-left:10px;">氨氮含量：${
                                            single.ph ? single.ph.value : "无"
                                        }、${
                                          single.ammoniaNitrogen
                                              ? single.ammoniaNitrogen.value +
                                                "mg/L"
                                              : "无"
                                      }</div>
                                        <div stytle="padding-left:10px;">溶解氧：${
                                            single.dissolvedOxygen
                                                ? single.dissolvedOxygen.value +
                                                  "%"
                                                : "无"
                                        }</div>
                                    </div>
                                </div>`
                                    : `<div style="margin: 0;width: 220px;height: 50px;">
                                    <div style="margin: 10px;width: 200px;height: 40px;border: 5px solid #000;border-radius: 5px;">
                                        暂无数据
                                    </div>
                                </div>`;
                            time = setTimeout(() => {
                                window.videoInfoBubble = new InfoBubble({
                                    content: html,
                                    padding: 0,
                                    shadowStyle: 0,
                                });

                                if (this.infoWindowClose != "") {
                                    this.infoWindowClose.close();
                                }
                                window.videoInfoBubble.open(this.map, mark);
                                this.infoWindowClose = window.videoInfoBubble;
                            }, 300);
                        }.bind(this)
                    );
                });
            });
        },
        warningJarm(obj) {
            this.mulch.jarmMark.forEach((item) => {
                if (item.id === obj.id) {
                    item.setIcon({
                        scaledSize: {
                            width: 50,
                            height: 50,
                        },
                        url: "/static/img/map/stop.gif",
                    });
                }
            });
        },
        warningManhole() {
            this.mulch.manholeCoverMark.forEach((item) => {
                item.setIcon({
                    scaledSize: {
                        width: 50,
                        height: 50,
                    },
                    url: "/static/img/map/holecover.gif",
                });
            });
        },
        warningSmooke() {
            this.mulch.smookeMark.forEach((item) => {
                item.setIcon({
                    scaledSize: {
                        width: 50,
                        height: 50,
                    },
                    url: "/static/img/map/smoke.gif",
                });
            });
        },
        warningWater() {
            this.mulch.waterMark.forEach((item) => {
                item.setIcon({
                    scaledSize: {
                        width: 50,
                        height: 50,
                    },
                    url: "/static/img/map/pressure.gif",
                });
            });
        },
        warningEndJarm(obj) {
            this.mulch.jarmMark.forEach((item) => {
                if (item.id === obj.id) {
                    item.setIcon({
                        scaledSize: {
                            width: 25,
                            height: 25,
                        },
                        url: "/static/img/map/stop.png",
                    });
                }
            });
        },
        warningEndManhole() {
            this.mulch.manholeCoverMark.forEach((item) => {
                item.setIcon({
                    scaledSize: {
                        width: 25,
                        height: 25,
                    },
                    url: "/static/img/map/holecover.png",
                });
            });
        },
        warninghedao() {
            this.mulch.hedaoMark.forEach((item) => {
                console.log(item);
                item.setIcon({
                    scaledSize: {
                        width: 25,
                        height: 25,
                    },
                    url: "/static/img/map/hedaored.png",
                });
            });
        },
        warningEndSmooke() {
            this.mulch.smookeMark.forEach((item) => {
                item.setIcon({
                    scaledSize: {
                        width: 25,
                        height: 25,
                    },
                    url: "/static/img/map/smoke.png",
                });
            });
        },
        warningEndWater() {
            this.mulch.waterMark.forEach((item) => {
                item.setIcon({
                    scaledSize: {
                        width: 25,
                        height: 25,
                    },
                    url: "/static/img/map/pressure.png",
                });
            });
        },
        setJarm(arr) {
            arr.forEach((item) => {
                let mark = new google.maps.Marker({
                    title: item.area,
                    optimized: false,
                    position: new google.maps.LatLng(item.lat, item.lng),
                    map: this.map,
                });
                item.event
                    ? mark.setIcon({
                          scaledSize: {
                              width: 50,
                              height: 50,
                          },
                          url: "/static/img/map/stop.gif",
                      })
                    : mark.setIcon({
                          scaledSize: {
                              width: 25,
                              height: 25,
                          },
                          url: "/static/img/map/stop.png",
                      });
                Object.assign(mark, { id: item.id });

                this.mulch.jarmMark.push(mark);
            });
        },
        setWater(arr) {
            arr.forEach((item) => {
                let mark = new google.maps.Marker({
                    optimized: false,
                    position: new google.maps.LatLng(item.lat, item.lng),
                    icon: {
                        scaledSize: {
                            width: 25,
                            height: 25,
                        },
                        url: "/static/img/map/pressure.png",
                    },
                    map: this.map,
                });
                this.mulch.waterMark.push(mark);
            });
        },
        setManholeCover(arr) {
            arr.forEach((item) => {
                let mark = new google.maps.Marker({
                    optimized: false,
                    position: new google.maps.LatLng(item.lat, item.lng),
                    icon: {
                        scaledSize: {
                            width: 25,
                            height: 25,
                        },
                        url: "/static/img/map/holecover.png",
                    },
                    map: this.map,
                });
                this.mulch.manholeCoverMark.push(mark);
            });
        },
        setSmooke(arr) {
            arr.forEach((item) => {
                let mark = new google.maps.Marker({
                    optimized: false,
                    position: new google.maps.LatLng(item.lat, item.lng),
                    icon: {
                        scaledSize: {
                            width: 25,
                            height: 25,
                        },
                        url: "/static/img/map/smoke.png",
                    },
                    map: this.map,
                });
                // mark.addListener("click", () => {
                //   this.warningSmooke();
                //   this.warningWater();
                //   this.warningManhole();
                // });
                this.mulch.smookeMark.push(mark);
            });
        },

        closeWin() {
            this.mulch.lastMarks.forEach((item) => {
                item.setIcon({
                    scaledSize: {
                        width: 18,
                        height: 25,
                    },
                    url: "/static/img/map/nor.png",
                });
            });
        },
        cleanMulch() {
            if (!!this.mulch.radarheatmap) {
                this.mulch.radarheatmap.setMap(null);
                this.mulch.radarheatmap = null;
            }
            if (!!this.mulch.lastMarks) {
                this.mulch.lastMarks.forEach((item) => {
                    item.setMap(null);
                });
                this.mulch.lastMarks = [];
            }
            if (!!this.mulch.manholeCoverMark) {
                this.mulch.manholeCoverMark.forEach((item) => {
                    item.setMap(null);
                });
                this.mulch.manholeCoverMark = [];
            }
            if (!!this.mulch.waterMark) {
                this.mulch.waterMark.forEach((item) => {
                    item.setMap(null);
                });
                this.mulch.waterMark = [];
            }
            if (!!this.mulch.jarmMark) {
                this.mulch.jarmMark.forEach((item) => {
                    item.setMap(null);
                });
                this.mulch.jarmMark = [];
            }
            if (!!this.mulch.smookeMark) {
                this.mulch.smookeMark.forEach((item) => {
                    item.setMap(null);
                });
                this.mulch.smookeMark = [];
            }
        },
        async initBraceletMarks(arr) {
            let _this = this;
            // if (this.mulch.lastMarks.length > 0) {
            arr.forEach((item) => {
                let mark = new google.maps.Marker({
                    position: new google.maps.LatLng(item.lat, item.lng),
                    icon: {
                        scaledSize: {
                            width: 18,
                            height: 25,
                        },
                        url: "/static/img/map/nor.png",
                    },
                    map: this.map,
                });
                Object.assign(mark, { prop: item.rfids });
                mark.addListener("click", function () {
                    _this.mulch.lastMarks.forEach((item) => {
                        item.setIcon({
                            scaledSize: {
                                width: 18,
                                height: 25,
                            },
                            url: "/static/img/map/nor.png",
                        });
                    });
                    this.setIcon("/static/img/map/sel.png");
                    _this.$refs["oldList"].clickMark(this.prop);
                });
                this.mulch.lastMarks.push(mark);
            });
            // }
        },
        async initRadarHeatMap(arr) {
            this.map.setCenter(
                new google.maps.LatLng(31.113365946637597, 121.57090365886688)
            );
            this.map.setZoom(12);
            if (!this.mulch.radarheatmap) {
                this.mulch.radarheatmap =
                    new google.maps.visualization.HeatmapLayer({
                        maxIntensity: 1200,
                        dissipating: true,
                        radius: 25,
                        opacity: 0.8,
                        gradient: [
                            "rgba(0, 255, 255, 0)",
                            "blue",
                            "rgb(117,211,248)",
                            "rgb(0, 255, 0)",
                            "#ffea00",
                            "red",
                        ],
                    });

                let newArr = [];

                arr.forEach((item) => {
                    let porint = {
                        location: new google.maps.LatLng(item.lat, item.lng),
                        weight: item.count,
                    };
                    newArr.push(porint);
                });

                this.mulch.radarheatmap.setData(newArr);
                this.mulch.radarheatmap.setMap(this.map);
            }
        },
        removeAllCams() {
            this.markerCluster.clearMarkers();
        },
        redrawAllCams() {
            if (!!this.markerCluster) {
                this.markerCluster.addMarkers(this.marks, false);
                this.markerCluster.redraw();
            }
        },

        cleanMark() {
            if (this.dirMark) {
                this.dirMark.setMap(null);
            }
        },
        setDirMark(pos) {
            let [lng, lat] = pos.location.split(",");

            lat = Number(lat);
            lng = Number(lng);
            this.dirMark = new google.maps.Marker({
                position: new google.maps.LatLng(lat, lng),
                title: pos.name,
                map: this.map,
            });
        },
        //改变热力图显示
        changeShow(type) {
            if (!this.heatmap) {
                return false;
            }

            this.heatmap.setMap(null);
            let arr = this.$store.getters.getHeatData;
            arr = arr.map((item) => {
                item = {
                    location: new google.maps.LatLng(item.lat, item.lng),
                    weight: item.count,
                };
                return item;
            });

            if (type === "thisTime") {
                this.heatmap.setOptions({
                    data: arr,
                    map: this.map,
                    maxIntensity: 150,

                    dissipating: true,
                    radius: 40,
                    opacity: 0.8,
                    gradient: [
                        "rgba(0, 255, 255, 0)",
                        "blue",
                        "rgb(117,211,248)",
                        "rgb(0, 255, 0)",
                        "#ffea00",
                        "red",
                    ],
                });
            } else {
                this.heatmap.setOptions({
                    data: arr,
                    map: this.map,
                    maxIntensity: 30000,

                    dissipating: true,
                    radius: 40,
                    opacity: 0.8,
                    gradient: [
                        "rgba(0, 255, 255, 0)",
                        "blue",
                        "rgb(117,211,248)",
                        "rgb(0, 255, 0)",
                        "#ffea00",
                        "red",
                    ],
                });
            }

            // this.heatmap.setData(arr);
            // this.heatmap.setMap(this.map);
        },
        setpolynull() {
            this.polygon.setMap(null);
            this.polygon = null;
        },
        setnull() {
            this.$nextTick(() => {
                this.draw_manager.setDrawingMode("null");
                this.draw_manager.setOptions({
                    drawingControlOptions: {
                        drawingModes: ["null"],
                    },
                    drawingControl: false,
                });
            });
        },
        settype(type) {
            this.$nextTick(() => {
                this.polygongeom = [];
                //多边形控件
                this.draw_manager = new google.maps.drawing.DrawingManager({
                    map: this.map,
                });
                this.draw_manager.setOptions({
                    drawingControlOptions: {
                        drawingModes: [type],
                    },
                    polygonOptions: {
                        strokeWeight: 1,
                        strokeColor: "#ebf25c",
                        fillColor: "#ebf25c",
                        fillOpacity: "0.3",
                    },
                });
                this.draw_manager.setDrawingMode(type);

                //监听绘制多边形
                this.draw_manager.addListener("polygoncomplete", (polygon) => {
                    this.polygon = polygon;

                    let patharr = this.polygon.getPaths().b[0].b;
                    let geom = [];
                    patharr.forEach((item) => {
                        geom.push({
                            lat: item.lat(),
                            lng: item.lng(),
                        });
                    });
                    geom.push(geom[0]);

                    this.polygongeom = geom;
                    //消除绘制控件
                    this.setnull();
                });
            });
        },
        setPoly(geom) {
            this.$nextTick(() => {
                let arr = geom.map((item) => {
                    item = { lat: item.y, lng: item.x };
                    return item;
                });
                let showPath;
                showPath = new google.maps.Polygon({
                    path: arr,
                    strokeColor: "#FF0000",
                    strokeOpacity: 1.0,
                    strokeWeight: 1,
                    fillColor: "#FF0000",
                    fillOpacity: 0.35,
                });
                showPath.setMap(this.map);
                this.showPath.push(showPath);
                //                    this.map.setCenter({lat: geom[0].lat, lng: geom[0].lng});
            });
        },
        setMark(pos, prop) {
            this.$nextTick(() => {
                let mark;
                let time = null;
                if (prop.ascriptionType === 2) {
                    mark = new google.maps.Marker({
                        position: new google.maps.LatLng(pos.lat, pos.lng),
                        title: prop.name,
                        icon: prop.status
                            ? {
                                  scaledSize: {
                                      width: 25,
                                      height: 25,
                                  },
                                  url: "/static/img/map/unuse.png",
                              }
                            : "/static/img/map/face.png",
                    });
                }
                if (prop.ascriptionType === 0) {
                    mark = new google.maps.Marker({
                        position: new google.maps.LatLng(pos.lat, pos.lng),
                        title: "小区摄像头",
                        icon: prop.status
                            ? {
                                  scaledSize: {
                                      width: 25,
                                      height: 25,
                                  },
                                  url: "/static/img/map/unuse.png",
                              }
                            : "/static/img/map/plot.png",
                    });
                }
                if (prop.ascriptionType === 1) {
                    mark = new google.maps.Marker({
                        position: new google.maps.LatLng(pos.lat, pos.lng),
                        title: prop.name,
                        icon: prop.status
                            ? {
                                  scaledSize: {
                                      width: 25,
                                      height: 25,
                                  },
                                  url: "/static/img/map/unuse.png",
                              }
                            : "/static/img/map/road.png",
                    });
                }
                if (prop.ascriptionType === 3) {
                    mark = new google.maps.Marker({
                        position: new google.maps.LatLng(pos.lat, pos.lng),
                        title: prop.name,
                        icon: prop.status
                            ? {
                                  scaledSize: {
                                      width: 25,
                                      height: 25,
                                  },
                                  url: "/static/img/map/unuse.png",
                              }
                            : "/static/img/map/traffic.png",
                    });
                }

                Object.assign(mark, { prop: prop });
                mark.setMap(this.map);
                let _this = this;
                mark.addListener("rightclick", function (e) {
                    window.showGeom(this.prop);
                });
                mark.addListener("dblclick", function (e) {
                    console.log(e);
                    if (window.videoInfoBubble) {
                        window.videoInfoBubble.close();
                    }
                    clearTimeout(time);

                    if (_this.isMainControl()) {
                        Object.assign(prop, { dbClick: true });

                        window.setVideo(this.prop);
                    }
                });
                mark.addListener(
                    "click",
                    function (e) {
                        if (window.infoWindow) {
                            window.infoWindow._info.close();
                        }
                        Object.assign(prop, { clus: true });
                        clearTimeout(time);

                        let html = `<div style="margin: 0;width: 420px;height: 240px;"><div style="margin: 10px;width: 400px;height: 230px;border: 5px solid #000;border-radius: 5px">
<object type="application/x-vlc-plugin" events="false" width="100%" height="100%" src="${prop.url}" windowless="false">
<param name="enablefullscreen" value="1">
<param name="controls" value="false">
</object>
</div></div>`;
                        time = setTimeout(() => {
                            window.videoInfoBubble = new InfoBubble({
                                content: html,
                                padding: 0,
                                shadowStyle: 0,
                            });

                            if (this.infoWindowClose != "") {
                                this.infoWindowClose.close();
                            }
                            window.videoInfoBubble.open(this.map, mark);
                            this.infoWindowClose = window.videoInfoBubble;
                        }, 300);
                    }.bind(this)
                );
                this.marks.push(mark);
            });
        },
        showAllCams() {
            reqAllcams().then((data) => {
                if (data.errcode === 0) {
                    this.allCams = data.data;

                    this.allCams.forEach((cam) => {
                        if (cam.geomType === 1) {
                            let pos = {
                                lat: cam.center[0].y,
                                lng: cam.center[0].x,
                            };
                            this.setMark(pos, cam);
                        } else if (cam.geomType === 0) {
                            if (cam.geom) {
                                let pos = {
                                    lat: cam.geom[0].y,
                                    lng: cam.geom[0].x,
                                };
                                this.setMark(pos, cam);
                            }
                        }
                    });
                    //点聚合
                    setTimeout(() => {
                        let options = {
                            gridSize: 24,
                            maxZoom: 18,
                            imagePath: "http://192.168.123.232/images/m",
                            zoomOnClick: true,
                        };

                        (async () => {
                            this.markerCluster = await new MarkerClusterer(
                                this.map,
                                this.marks,
                                options
                            );
                        })().then(() => {
                            if (
                                this.$route.path === "/electrombile" ||
                                this.$route.path === "/bracelet"
                            ) {
                                this.removeAllCams();
                            }
                        });

                        let _this = this;
                        this.map.addListener("zoom_changed", function (e) {
                            if (this.getZoom() >= 17) {
                                _this.overlay.show();
                                _this.markerCluster.setGridSize(24);
                            } else {
                                _this.overlay.hide();
                                _this.faceCams.forEach((item) => {
                                    item.setMap(null);
                                });
                                _this.faceCams = [];
                                _this.showPath.forEach((item) => {
                                    item.setMap(null);
                                });
                                _this.showPath = [];
                                _this.markerCluster.setGridSize(80);
                            }
                        });
                    }, 2000);
                } else if (data.errcode == -1) {
                    layer.msg("后台服务器异常!", { shift: "6", time: 3000 });
                }
            });
        },
        setMapType(type) {
            this.map.setMapTypeId(type);
        },
        init() {
            //初始化map对象
            // this.$nextTick(() => {
            //     this.map = null;
            //     let google_map = new Bige();

            //     this.map = new google.maps.Map(this.$refs.Gmap, this.myOptions);

            //     //像map对象中添加两种种地图
            //     this.map.mapTypes.set("google", google_map);
            //     this.map.mapTypes.set("another_map", another_map);
            //     this.map.mapTypes.set("heishe_map", heishe_map);

            //     //设置map对象默认显示 google 地图 也就是上面的google_map对象
            //     this.map.setMapTypeId("heishe_map");

            //     //叠层
            //     this.overlay = new overLay(this.map);
            //     this.overlay.hide();

            //     window.map = this.map;

            //     if (this.$route.name === "人群密度") {
            //         this.initHeatMap();
            //     }
            // });
        },
        initHeatMap() {
            this.map.setCenter(
                new google.maps.LatLng(31.113365946637597, 121.57090365886688)
            );
            this.map.setZoom(12);
            if (!this.heatmap) {
                this.heatmap = new google.maps.visualization.HeatmapLayer({
                    maxIntensity: 3000,
                    dissipating: true,
                    radius: 35,
                    opacity: 0.8,
                    gradient: [
                        "rgba(0, 255, 255, 0)",
                        "blue",
                        "rgb(117,211,248)",
                        "rgb(0, 255, 0)",
                        "#ffea00",
                        "red",
                    ],
                });
                this.$refs.con.changeShow("thisTime", "实时");
            }
        },

        destroyHeatMap() {
            if (this.heatmap) {
                this.heatmap.setMap(null);
                this.heatmap = null;
                this.$refs.con.destroy();
            }
        },
    },
    watch: {
        //热力图加载
        $route(val) {
            if (val.name === "人群密度") {
                this.initHeatMap();
            } else {
                this.destroyHeatMap();
            }
            if (val.name === "消防警报" || val.path === "/electrombile") {
                //          console.log(val)
                this.showIcon = true;
            } else {
                this.showIcon = false;
            }
        },
    },

    created() {
        this.$nextTick(() => {
            this.init();
            this.getRiverList();
        });
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.map {
    width: 100%;
    height: 100%;
}
</style>
