<template>
  <div class="container">
    <div class="list">
      <div class="item" @click="alertAllPages()" title="管理页面"></div>
      <div class="item" @click="openchangeType" title="地图模式">
        <div class="mapTypeContainer" ref="list">
          <div class="mapTypeList">
            <div class="typeItem">
              <div class="icon" @click="changeMapModel(0, $event.target)"></div>
              <p
                style="
                  text-align: center;
                  font-size: 12px;
                  color: #fff;
                  font-family: 'Microsoft Yahei';
                "
              >
                标准
              </p>
            </div>
            <div class="typeItem">
              <div class="icon" @click="changeMapModel(1, $event.target)"></div>
              <p
                style="
                  text-align: center;
                  font-size: 12px;
                  color: #fff;
                  font-family: 'Microsoft Yahei';
                "
              >
                卫星地图
              </p>
            </div>
            <!-- 发送到解放路 -->
            <div class="typeItem">
              <div
                class="icon"
                @click="changeMapModel(2, $event.target)"
                style="border: 1px solid #0085d5"
              >
                <img
                  src="/static/img/main/mapmodelMask.png"
                  width="56"
                  style="position: absolute; bottom: 0; left: 0"
                  alt=""
                />
              </div>
              <p
                style="
                  text-align: center;
                  font-size: 12px;
                  color: #0085d5;
                  font-family: 'Microsoft Yahei';
                "
              >
                魅夜黑
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="item" @click="addZoom()" title="放大"></div>
      <div class="item" @click="decZoom()" title="缩小"></div>
      <div class="item" @click="openUAV()" title="无人机"></div>
      <div class="item" @click="watchwater" title="水质监测"></div>
      <!-- <div class="item" @click="openEarthWork()" title="渣土车"></div> -->

    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      msg: "",
    };
  },
  methods: {
    openUAV() {
      this.$emit("openUAV");
    },
    alertAllPages() {
      // console.log(localStorage)
      if (!localStorage.getItem("main")) {
        open("/static/static/main.html");
      }
      if (this.isMainControl()) {
        if (!localStorage.getItem("left")) {
          // open("/static/videoLeft.html");
          open("http://10.242.155.3:58211/zhoupuanzhi/left");
        }
        if (!localStorage.getItem("right")) {
          // open("/static/videoRight.html");
          open("http://10.242.155.3:58211/zhoupuanzhi/right");
        }
      }
    },
    watchwater(){
      open('https://watermon-board.ruffcorp.com/?theme=dark&user=zphd&password=zp0013&urlzphd=http://192.168.123.232:8089/#/')
    },
    addZoom() {
      this.$emit("addZoom");
    },
    decZoom() {
      this.$emit("decZoom");
    },
    openchangeType() {
      this.$refs.list.style.display === "block"
        ? (this.$refs.list.style.display = "none")
        : (this.$refs.list.style.display = "block");
    },
    changeMapModel(index, dom) {
      (() => {
        let list = this.$refs.list;
        for (
          let i = 0;
          i < list.getElementsByClassName("typeItem").length;
          i++
        ) {
          list.getElementsByTagName("p")[i].style.color = "#fff";
          list.getElementsByClassName("icon")[i].style.border = "";
          list.getElementsByClassName("icon")[i].innerHTML = "";
        }
      })();
      dom.parentNode.getElementsByTagName("p")[0].style.color =
        "rgba(0,0,0,0.9)";
      dom.style.border = "1px solid #0085d5";
      dom.innerHTML =
        "<img src='/static/img/main/mapmodelMask.png' width='56' style='position: absolute;bottom: 0;left: 0'>";
      if (index === 0) {
        //标准
        this.$emit("changeType", "google");
      } else if (index === 1) {
        //卫星地图
        this.$emit("changeType", "another_map");
      } else if (index === 2) {
        //魅夜蓝
        this.$emit("changeType", "heishe_map");
      }
    },
    openEarthWork: function () {
      let goAnother = localStorage.getItem("goAnother");
      window.location.href =
        "http://192.168.123.231:9800/#/login?goAnother=" + goAnother;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container {
  width: 100%;
  height: 100%;
  padding: 10px 0;
}

.list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  cursor: pointer;
}

.item:nth-child(1) {
  background: url("/static/img/map/map_icon_01.png") no-repeat;
  background-position: center;
  background-size: 28px 28px;
}

.item:nth-child(2) {
  background: url("/static/img/map/map_icon_02.png") no-repeat;
  background-position: center;
  background-size: 28px 28px;
}

.item:nth-child(3) {
  background: url("/static/img/map/map_icon_03.png") no-repeat;
  background-position: center;
  background-size: 28px 28px;
}

.item:nth-child(4) {
  background: url("/static/img/map/map_icon_04.png") no-repeat;
  background-position: center;
  background-size: 28px 28px;
}
.item:nth-child(5) {
  background: url("/static/img/map/map_icon_05.png") no-repeat;
  background-position: center;
  background-size: 28px 28px;
}
.item:nth-child(6) {
  background: url("/static/img/map/图标.png") no-repeat;
  background-position: center;
  background-size: 28px 28px;
}

.mapTypeContainer {
  width: 273px;
  height: 118px;
  position: absolute;
  top: 65px;
  left: -252px;
  z-index: 100;
  background: url("/static/img/map/pop.png");
  padding-right: 34px;
  padding-top: 8px;
  padding-left: 8px;
  padding-bottom: 22px;
  display: none;
}

.mapTypeList {
  width: 100%;
  height: 100%;
  display: flex;
}

.typeItem {
  flex: 1;
}

.typeItem .icon {
  position: relative;
}

.typeItem:nth-child(1) .icon {
  width: 58px;
  height: 44px;
  border-radius: 5px;
  margin: 15px auto 5px;
  background-image: url("/static/img/main/map_01.png");
}

.typeItem:nth-child(2) .icon {
  width: 58px;
  height: 44px;
  border-radius: 5px;
  margin: 15px auto 5px;
  background-image: url("/static/img/main/map_02.png");
}

.typeItem:nth-child(3) .icon {
  width: 58px;
  height: 44px;
  border-radius: 5px;
  margin: 15px auto 5px;
  background: url("/static/img/main/map_03.png");
}
</style>
