<template>
    <div>
        <div class="container1" v-show="oldman">
            <div class="frame_close">
                <img src="../../static/img/map/frame_close.png" @click="closeWin" alt="">
            </div>
            <p style="font-size: 24px; color:rgb(164,254,254);margin-top: 30px">老人消息列表</p>
            <ul style="height:351px;overflow-y:scroll" ref="viewbox">
                <li @click="showDetail(index)" v-for="(item,index) in listArr"
                    :key="item.idCardNumber">
                    <div class="oldmanImg"><img :src="('http://58.247.128.138:8021'+item.licenseUrl)||''" alt=""></div>
                    <div class="oldmanInfo">
                        <span>老人姓名：{{item.elderlyName||''}}</span><br>
                        <span>联系人姓名：{{item.contactName||''}}</span><br>
                        <span>联系人电话：{{item.contactPhone||''}}</span>
                    </div>
                </li>
            </ul>
            <div class="downIcon">
                <img src="../../static/img/map/down.png" v-show="this.listArr.length > 3 ? toolbar
                : !toolbar"  alt="">
            </div>
        </div>
        <div class="detailPages" @click="closeDetail" v-show="detailShow"
             style="width: 100%;height:100%;position: fixed;left: 0;top: 0;background-color:rgba(0,0,0,0.5);z-index: 1001">
            <div class="frame_close_old" @click="closeDetail">
                <img src="../../static/img/map/frame_close.png" alt="">
            </div>
            <!--<div></div>-->
            <!--<div></div>-->
            <!--<div></div>-->
            <!--<div></div>-->
            <div class="detailDiv" @click.stop="openDetail">
                <div class="detailImg">
                     <Carousel loop style="width: 240px;height: 350px;">
                        <CarouselItem>
                            <div class="demo-carousel">
                                 <img  :src="('http://58.247.128.138:8021'+showingData.licenseUrl)||''" alt="">
                                 </div>
                        </CarouselItem>
                        <CarouselItem>
                            <div class="demo-carousel">
                                 <img :src="('http://58.247.128.138:8021'+showingData.brandUrl)||''" alt="">
                                 </div>
                        </CarouselItem>
                        <CarouselItem>
                            <div class="demo-carousel">
                                 <img :src="('http://58.247.128.138:8021'+showingData.identityCardForwardUrl)||''" alt="">
                            </div>
                        </CarouselItem>

                    </Carousel>

                </div>
                <div class="detailText">
                    <p
                        style="font-size: 35px;color: #ffffff;text-align: left"><span>详细信息
                    </span></p>
                    <ul>
                        <li><span>姓名：{{showingData.elderlyName||''}}</span></li>
                        <li><span>身份证号：{{showingData.idCardNumber||''}}</span></li>
                        <li><span>性别：{{!showingData.gender?'女':'男'}}</span></li>
                        <li style="height: 100%;"><span>居住地
                            ：{{showingData.address||''}}</span></li>
                        <li><span>紧急联系人：{{showingData.contactName||''}}</span></li>
                        <li><span>联系人电话：{{showingData.contactPhone||''}}</span></li>
                    </ul>
                </div>
             </div>
        </div>
        <!--<div @click="closeDetail" v-show="detailShow"-->
             <!--style="width: 100%;height:100%;position: fixed;left: 0;top: 0;background-color:rgba(0,0,0,0.5);z-index: 1002"></div>-->
    </div>

</template>

<script>
import { elderlyAndBandInfo } from "../api/components/electrobike";
import Carousel from "iview/src/components/carousel";

const CarouselItem = Carousel.Item;

export default {
  components: {
    Carousel,
    CarouselItem
  },
  data() {
    return {
      toolbar: true,
      oldman: false,
      detailShow: false,
      showingData: {},
      listArr: []
    };
  },
  mounted() {
    //       console.log(this.$refs.viewbox)
    this.box = this.$refs.viewbox;
    this.box.addEventListener(
      "scroll",
      () => {
        //            console.log(this.$refs.viewbox.scrollTop)
        if (this.$refs.viewbox.scrollTop > 40) {
          this.toolbar = false;
        } else {
          this.toolbar = true;
        }
      },
      false
    );
  },
  beforeRouteLeave(to, from, next) {
    if (from.path === "/bracelet") {
      this.closeWin();
    }
    next();
  },
  methods: {
    clickMark(prop) {
      let str = "";

      prop.forEach((element, index) => {
        if (index === 0) str += element;
        else str += "," + element;
      });
      elderlyAndBandInfo({ rfids: str }).then(data => {
        if (data.errcode === 0) {
          this.listArr = data.data;
          this.oldman = true;
        } else if (data.errcode == -1) {
          layer.msg(data.errmsg, { shift: "6", time: 3000 });
        }
      });
    },
    closeWin() {
      this.oldman = false;
      this.$emit("closeWin");
    },
    showDetail(index) {
      this.showingData = this.listArr[index];
      this.detailShow = true;
      //      console.log(this.showingData)
    },
    closeDetail() {
      this.detailShow = false;
    },
    openDetail() {
      this.detailShow = true;
    }
  }
};
</script>

<style>
.demo-carousel {
  height: 350px;
}
.demo-carousel > img {
  width: 100%;
  height: 100%;
}

.container1 {
  height: 420px;
  width: 280px;
  border-top: 3px solid rgb(36, 113, 163);
  border-right: 3px solid rgb(36, 113, 163);
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  /* z-index: 1; */
  z-index: 999;
  overflow-x: hidden;
}
.container1 .frame_close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  margin-top: 5px;
  margin-right: 5px;
}
.container1 .frame_close img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: 0.5s all;
}
.container1 .frame_close img:hover {
  transform: rotate(180deg);
}
.container1 ul {
  position: absolute;
  bottom: 0;
}
.container1 ul li {
  width: 277px;
  height: 110px;
  background: rgba(0, 0, 0, 0.8);
}
.container1 ul li:hover {
  background: rgba(0, 0, 0, 0.4);
}
.container1 ul li .oldmanImg {
  width: 80px;
  height: 60px;
  float: left;
  margin: 30px 15px 0 15px;
}
.container1 ul li .oldmanInfo {
  width: 150px;
  height: 70px;
  float: left;
  margin: 30px 0 0 0;
  text-align: left;
}
.container1 ul li .oldmanInfo span {
  color: rgb(84, 196, 234);
  display: inline-block;
  height: 20px;
  line-height: 20px;
}
.container1 ul li .oldmanImg img {
  width: 80px;
  height: 60px;
  border: 1px solid #56c5ed;
  border-radius: 4px;
}
.detailDiv {
  width: 800px;
  height: 500px;
  border: 1px solid #00b7ee;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -300px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}
.detailPages {
  position: relative;
}
.detailPages .frame_close_old {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  /*background-color: rgba(100,100,100,0.1);*/
}
.detailPages .frame_close_old img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: 0.5s all;
}
.detailPages .frame_close_old img:hover {
  transform: rotate(180deg);
}
.detailDiv .detailImg {
  width: 242px;
  height: 352px;
  border: 1px solid #00b7ee;
  margin: 75px 100px 50px;
  float: left;
  /*border-radius: 5px;*/
  position: relative;
}
/* .detailDiv .detailImg img {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 180px;
  height: 180px;
  margin-top: -90px;
  margin-left: -90px;
} */
.detailDiv .detailText {
  float: left;
  height: 350px;
  width: 350px;
  /*border: 1px solid #00b7ee;*/
  margin-top: 75px;
}
.detailDiv .detailText ul {
  margin-top: 20px;
}
.detailDiv .detailText ul li {
  color: rgb(86, 197, 237);
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: left;
  margin-bottom: 5px;
}
.downIcon {
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -18px;
}
</style>
