<template>
    <div id="app">
        <router-view></router-view>
        <!--<button @click="closeWebPage()" id="close" style="position: absolute;top: 0;z-index: 0;visibility: hidden;"></button>-->
    </div>
</template>

<script>
export default {
    name: "app",
    created() {
        //      alert(navigator.userAgent)
        this.$nextTick(() => {
            // if (navigator.userAgent.indexOf('Chrome') === -1 || !navigator.userAgent) {
            //     alert('请使用极速模式打开!');
            //     this.$store.commit('setAgent')
            // }
        });
        window.addEventListener("storage", (e) => {
            if (e.key === "user") {
                if (e.oldValue != null) {
                    this.$router.push("/login");
                    //                    $("#close").click();
                } else {
                    this.$router.replace("/");
                }
            }
        });
    },
    methods: {
        //        closeWebPage: function () {
        //            if (navigator.userAgent.indexOf("MSIE") > 0) {
        //                if (navigator.userAgent.indexOf("MSIE 6.0") > 0) {
        //                    window.opener = null;
        //                    window.close();
        //                } else {
        //                    window.open('', '_top');
        //                    window.top.close();
        //                }
        //            } else if (navigator.userAgent.indexOf("Firefox") > 0) {
        //                window.location.href = 'about:blank ';
        //            } else {
        //                window.opener = null;
        //                window.open('', '_self', '');
        //                window.close();
        //            }
        //        }
    },
    destroyed() {},
};
</script>

<style>
#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    height: 100%;
}
</style>
