<template>
    <div ref="main" style="width:95%; height:90%"></div>

</template>

<script>
    import echarts from 'echarts'
    import {getPushAccuracyPerCam} from '../../../api/components/roadcams'
    export default {
        data() {
            return {}
        },
        methods:{
          option(){
              return{
                  color: ['#19B7D0'],
                  textStyle: {
                      color: "#19B7D0"
                  },
                  tooltip: {
                      trigger: 'axis',
                      axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                          type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                      },
                      formatter: "地点: {b}<br/>准确率: {c}"
                  },
                  grid: {
                      left: '3%',
                      right: '5%',
                      bottom: '9%',
                      containLabel: true
                  },
                  xAxis: [
                      {
                          axisLabel: {
                              rotate: -25,
                              interval: 0
                          },
                          type: 'category',
                          axisLine: {
                              lineStyle: {
                                  color: '#19B7D0',
                                  width: 2
                              }
                          },
                          data: [],
                          axisTick: {
                              alignWithLabel: true
                          }
                      }
                  ],
                  yAxis: [
                      {
                          type: 'value',
                          axisLine: {
                              lineStyle: {
                                  color: '#19B7D0',
                                  width: 2
                              }
                          },
                          splitLine: {
                              show: false
                          },
                      }
                  ],
                  series: [
                      {
                          name: '直接访问',
                          type: 'bar',
                          barWidth: '60%',
                          data: [],
                          label: {
                              normal: {
                                  show: true,
                                  position: 'top',
                                  formatter: '{c}'
                              }
                          },
                      }
                  ]
              }
          }
        },
        created() {
            this.$nextTick(() => {
                getPushAccuracyPerCam().then(data=>{
                    if (data.errcode === 0) {
                        let arr=[];
                        let arr2=[];
                        data.data.forEach(item=>{
                            let it={
                                name:item.camName,
                                value:item.num
                            };
                            arr.push(it.value);
                            arr2.push(it.name)
                        });
                        this.myChart.setOption({
                            series:[{
                                data:arr
                            }],
                            xAxis:[
                                {data:arr2}
                            ]
                        })
                    } else if (data.errcode == -1) {
                        layer.msg("后台服务器异常!", {shift: '6', time: 3000});
                    }
                });
                this.myChart = echarts.init(this.$refs['main']);
                this.myChart.setOption(this.option());
            })
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
