<template>
    <div ref="main" style="width:95%; height:90%"></div>

</template>

<script>
    import echarts from 'echarts'
    import {getRecentlyWeekPushNum} from '../../../api/components/roadcams'

    export default {
        data() {
            return {}
        },
        methods: {
            option() {
                return {
                    textStyle : {
                        color: "#19B7D0"
                    },
                    color: ['#19B7D0'],
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        },
                        formatter: "时间: {b}<br/>{a}: {c}"
                    },
                    grid: {
                        left: '3%',
                        right: '3%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            type: 'category',
                            axisLine: {
                                lineStyle: {
                                    color: '#19B7D0',
                                    width: 2
                                }

                            },
                            data: [],
                            axisTick: {
                                alignWithLabel: true
                            }
                        }
                    ],
                    yAxis: [
                        {
                            axisTick: {
                                alignWithLabel: true
                            },
                            axisLine: {
                                lineStyle: {
                                    color: '#19B7D0',
                                    width: 2
                                }
                            },
                            splitLine: {
                                show: false
                            },
                        }
                    ],
                    series: [
                        {
                            name: '人数',
                            type: 'bar',
                            barWidth: '40%',
                            data: [],
                            label: {
                                normal: {
                                    show: true,
                                    position: 'top',
                                    formatter: '{c}'
                                }
                            },
                            itemStyle: {
                                normal: {

                                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                        offset: 0,
                                        color: 'rgba(211, 173,100, 1)'
                                    }, {
                                        offset: 1,
                                        color: 'rgba(43, 120,148, 1)'
                                    }]),
                                    shadowColor: 'rgba(0, 0, 0, 0.1)',
                                    shadowBlur: 10
                                }
                            }
                        },

                    ],

                }
            }
        },
        created() {
            this.$nextTick(() => {
                getRecentlyWeekPushNum().then(data => {
                    if (data.errcode === 0) {
                        let arr = [];
                        let arr2 = [];

                        data.data.forEach(item => {
                            let it = {
                                name: item.weekday,
                                value: item.num
                            }
                            arr.push(it.value)
                            arr2.push(it.name)

                        })
                        let arr3 = arr2.sort()
                        let arr4 = []
                        for (let i = 0; i < arr3.length; i++) {
                            if (i == 0) {
                                arr3[0] = '周一'
                                arr4.push(arr3[0])
                            } else if (i == 1) {
                                arr3[1] = '周二'
                                arr4.push(arr3[1])
                            } else if (i == 2) {
                                arr3[2] = '周三'
                                arr4.push(arr3[2])
                            } else if (i == 3) {
                                arr3[3] = '周四'
                                arr4.push(arr3[3])
                            } else if (i == 4) {
                                arr3[4] = '周五'
                                arr4.push(arr3[4])
                            } else if (i == 5) {
                                arr3[5] = '周六'
                                arr4.push(arr3[5])
                            } else {
                                arr3[6] = '周日'
                                arr4.push(arr3[6])
                            }
                        }
                        this.myChart.setOption({
                            series: [{
                                data: arr
                            }],
                            xAxis: [{
                                data: arr4
                            }]
                        })
                    } else if (data.errcode == -1) {
                        layer.msg("后台服务器异常!", {shift: '6', time: 3000});
                    }
                });
                this.myChart = echarts.init(this.$refs['main']);
                this.myChart.setOption(this.option());
            })
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
