<template>

    <div ref="main" style="width:95%; height:90%"></div>
</template>

<script>
    import echarts from 'echarts'
    import {getPortraitCategory} from '../../../api/components/roadcams'

    export default {
        data() {
            return {}
        },
        created() {
            this.$nextTick(() => {
                getPortraitCategory().then(data => {
                    if (data.errcode === 0) {
                        let arr = [];
                        let arr2 = [];

                        data.data.forEach(item => {
                            let it = {
                                name: item.name,
                                value: item.suspectNum
                            }
                            arr.push(it)
                            arr2.push(it.name)
                        })
                        this.data = [...arr]
                        this.myChart.setOption({
                            series: [{
                                data: this.data
                            }],
                            legend: {
                                data: arr2
                            }
                        })
                    } else if (data.errcode == -1) {
                        layer.msg("后台服务器异常!", {shift: '6', time: 3000});
                    }
                })
                this.myChart = echarts.init(this.$refs['main']);
                this.myChart.setOption(this.option());
            })
        },
        methods: {
            option() {
                return {
                    title: {
                        x: 'center'
                    },
                    color: ['#019AA0', '#D3AD64', '#2F4553', '#14C0D8', '#2F4455', '#419EE3'],
                    tooltip: {
                        trigger: 'item',
                        formatter: "{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient: 'vertical',
                        left: 20,
                        top: 'bottom',
                        data: [],
                        textStyle: {
                            color: "#19B7D0",
                        },
                        icon: "circle",
                    },
                    series: [
                        {
                            name: '访问来源',
                            type: 'pie',
                            radius: '55%',
                            center: ['60%', '60%'],
                            data: [],
                            itemStyle: {
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            },
                            labelLine: {
                                normal: {
                                    show: {
                                        show: true,
                                        position: 'outside',
                                        textStyle: {
                                            fontSize: 10
                                        }
                                    },
                                    length: 5,
                                    length2: 5,
                                    smooth: 0.2,
                                },
                                emphasis: {
                                    show: true
                                }
                            },
                        }
                    ]
                }
            }

        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
