<template>
    <div ref="mq" class="mql">
        <transition-group name="list-complete" tag="p">
            <div class="box list-complete-item" v-for="(item,index) in data" :key="index">
                <div class="title">{{++index}}</div>
                <div class="peoImage">
                    <img :src="item.faceImageUri" alt="">
                </div>
                <div class="decoration">
                    <ul>
                        <li>地点：{{item.faceCamName}}</li>
                        <li>库名：{{item.portraitName}}</li>
                        <li>时间：{{item.createTime}}</li>
                        <li>代号：{{item.name || ''}}</li>
                    </ul>
                </div>
            </div>

        </transition-group>

    </div>

</template>

<script>
    import {getGetNewestRecords} from '../../../api/components/roadcams'
    import ws from '../../../api/sockjs'

    export default {
        name: 'hello',
        data() {
            return {
                msg: 'Welcome to Your Vue.js App',
                data: [],
                client: null
            }
        },
        methods: {
            content() {
                this.$nextTick(() => {
                    ws('案件统计', this.content).then(sto => {

                        this.client = sto;
                        this.client.subscribe('/topic/getFaceWarning', async (response) => {


                            let data = JSON.parse(response.body);
                            data.data.similarFaceVOS.forEach(async item => {

                                await this.data.unshift({
                                    createTime: data.data.createTime,
                                    faceCamName: data.data.faceCamName,
                                    faceImageUri: data.data.faceImageUri,
                                    name: item.name,
                                    portraitName: item.portraitName,
                                });
                                await setTimeout(() => {
                                    this.data.pop()

                                }, 1000)
                            })

                        });
                    })
                })
            }
        },
        created() {
            this.$nextTick(() => {
                getGetNewestRecords().then(data => {
                    if (data.errcode === 0) {
                        this.data = data.data

                    } else if (data.errcode == -1) {
                        layer.msg("后台服务器异常!", {shift: '6', time: 3000});
                    }
                }).then(() => {
                    // this.content()
                })
            })
        },
        destroyed() {
            this.$nextTick(() => {
                // this.client.disconnect()
            })
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .list-complete-item {
        transition: all 1s;
        display: inline-block;
        margin-right: 10px;
    }

    .list-complete-enter, .list-complete-leave-to
        /* .list-complete-leave-active for below version 2.1.8 */
    {
        opacity: 0;
        transform: translateY(30px);
    }

    .list-complete-leave-active {
        position: absolute;
    }

    .mql {
        width: 350px;
        height: 505px;
        overflow: hidden;
        margin: 0 auto;
        /*position: relative;*/
        transition: all 1s;
    }

    .box {
        width: 350px;
        height: 115px;
        margin: 50px auto 0;
        /*background-color: #fff;*/
        /*line-height: 115px;*/
        position: relative;
    }

    .box .title {
        width: 23px;
        height: 23px;
        float: left;
        background-color: #d3ad64;
        position: absolute;
        top: 46px;
        border-radius: 50%;
        line-height: 23px;
        text-align: center;
    }

    .box .peoImage {
        border: 3px solid white;
        float: left;
        width: 115px;
        height: 115px;
        margin-left: 45px;
        /*background-color: #fff;*/
        line-height: 115px;
    }

    .box .peoImage img {
        width: 109px;
        height: 109px;
    }

    .box .decoration {
        float: right;
        width: 173px;
        height: 115px;
        margin-left: 17px;
        /*background-color: #d3ad64;*/
    }

    .box .decoration ul li {
        text-align: left;
        line-height: 25px;
        padding-left: 10px;
        padding-top: 2px;
        color: #6acfe1;
        font-size: 10px;
    }
</style>
