<template>
    <div ref="main" style="width:95%; height:90%"></div>

</template>

<script>
    import echarts from 'echarts'
    import {getPushNumPerCam} from '../../../api/components/roadcams'

    export default {
        data() {
            return {}
        },
        methods:{
          option(){
              return{
                  tooltip: {
                      trigger: 'item',
                      formatter: "地点: {b}<br/>{a}: {c} ({d}%)"
                  },
//                  legend: {
//                      orient: 'vertical',
//                      x: 'left',
//                      top: "bottom",
//                      data: [],
//                      textStyle: {color: "#19B7D0"},
//                      icon: "circle",
//                  },
                  color: ['#019AA0', '#D3AD64', '#14C0D8', '#2F4455', '#419EE3'],
                  series: [
                      {
                          name: '访问来源',
                          type: 'pie',
                          selectedMode: 'single',
                          radius: [0, '30%'],
                          label: {
                              normal: {
                                  position: 'inner'
                              }
                          },
                          labelLine: {
                              normal: {
                                  show: false
                              }
                          }
                      },
                      {
                          name: '次数及占比',
                          type: 'pie',
                          radius: ['30%', '50%'],
                          center: ['50%', '50%'],
//                            center:"center",
                          data: []
                      }
                  ]
              }
          }
        },
        created() {
            this.$nextTick(() => {
                getPushNumPerCam().then(data=>{
                    if (data.errcode === 0) {
                        let arr=[];
                        let arr2=[];

                        data.data.forEach(item=>{
                            let it={
                                name:item.camName,
                                value:item.num
                            }
//                                    console.log(it)
                            arr.push(it)
                            arr2.push(it.name)
                        })
                        this.data=[...arr]
                        this.myChart.setOption({
                            series:[{
                                data:""
                            },{
                                data:this.data
                            }],
//                            legend:{
//                                data:arr2
//                            }
                        })
                    } else if (data.errcode == -1) {
                        layer.msg("后台服务器异常!", {shift: '6', time: 3000});
                    }
                })
                this.myChart = echarts.init(this.$refs['main']);
                this.myChart.setOption(this.option());
            })
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
