<template>
    <div ref="anJian" style="width: 100%; height: 100%;"></div>
</template>

<script>
    import echarts from "echarts"
    import {getPercentageByCarNumber} from '../../../api/components/parking'
    export default {
        data() {
            return {
                myChart: null,
                data: []
            }
        },
        created() {
            this.$nextTick(() => {


                this.myChart = echarts.init(this.$refs['anJian']);
                this.myChart.setOption(this.getEchartsOption());

                getPercentageByCarNumber().then(data => {
                    if (data.errcode === 0) {
                        if (data.data.length === 0) {
                            return false
                        }

                        for (let key in data.data[0]) {
                            this.data.push({
                                name: key.indexOf('local') === -1 ? '外地车辆' : '本地车辆',
                                value: data.data[0][key]
                            })
                        }
                        this.myChart.setOption({
                            series: [{
                                data: this.data
                            }]
                        });
                    } else if (data.errcode == -1) {
                        layer.msg("后台服务器异常!", {shift: '6', time: 3000});
                    }
                })

            })
        },
        methods: {
            getEchartsOption: function () {
                return {
//                  legend: {
//                      orient: 'vertical',
//                      x: 'left',
//                      data:['本地车辆','外地车辆'],
//                      textStyle:{
//                          color:'#ccc'
//                      }
//                  },
                    color: ['#d3ad64', '#14c0d8', '#2f4455', '#419ee3', '#a0d11c',],
                    tooltip: {
                        trigger: 'item',
                        formatter: "{b} : {c} ({d}%)"
                    },
                    toolbox: {
                        show: false,
                        feature: {
                            mark: {show: true},
                            dataView: {show: true, readOnly: false},
                            magicType: {
                                show: true,
                                type: ['pie']
                            },
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    calculable: true,
                    series: [
                        {
                            name: '',
                            type: 'pie',
                            radius: [60, 90],
                            center: ['50%', '55%'],
//                            roseType: 'radius',
                            label: {
                                normal: {
                                    show: true,
                                    position: 'outside',
                                    textStyle: {
                                        fontSize: 10
                                    }
                                },
                                emphasis: {
                                    show: true
                                }
                            },
                            lableLine: {
                                normal: {
                                    show: {
                                        show: true,
                                        position: 'inside',
                                        textStyle: {
                                            fontSize: 10
                                        }
                                    }
                                },
                                emphasis: {
                                    show: false
                                }
                            },
                            data: []
                        }
                    ]
                }
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
