<template>
    <div ref="weiLastWeek" style="width: 100%; height: 100%;"></div>
</template>

<script>
    import echarts from "echarts"
    import {getCountByCam} from '../../../api/components/parking'

    export default {
        data() {
            return {
                data: [],
                myChart: null
            }
        },
        created() {
            this.$nextTick(() => {
                this.myChart = echarts.init(this.$refs['weiLastWeek']);
                this.myChart.setOption(this.getEchartsOption());

                getCountByCam().then(data => {
                    if (data.errcode === 0) {
                        if (data.data.length === 0) {
                            return false
                        }
                        let arr = [];
                        let arr2 = [];
                        data.data.forEach(item => {
                            let it = {
                                name: item.camName,
                                value: item.num
                            }
                            arr.push(it)
                            arr2.push({value: item.camName || ''})
                        });
                        this.data = [...arr];
                        this.myChart.setOption({
                            xAxis: {
                                data: arr2
                            },
                            series: [{
                                data: this.data
                            }]
                        });
                    } else if (data.errcode == -1) {
                        layer.msg("后台服务器异常!", {shift: '6', time: 3000});
                    }
                })


            })
        },
        methods: {
            getEchartsOption: function () {
                return {
                    textStyle: {
                        color: "#19B7D0"
                    },
                    color: ['#4BB2DD'],
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                            type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        },
                        formatter: "地点: {b}<br/>违章次数: {c}"
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '4%',
                        top: "10%",
                        containLabel: true,
                    },
                    xAxis: [
                        {
                            type: 'category',
                            data: [],
                            axisTick: {
                                alignWithLabel: true
                            },
                            splitLine: {
                                show: false
                            },
                            axisLine: {
                                lineStyle: {
                                    color: '#19B7D0',
                                    width: 2
                                }
                            },
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            splitLine: {
                                show: false
                            },
                            axisLine: {
                                lineStyle: {
                                    color: '#19B7D0',
                                    width: 2
                                }
                            },
                        }
                    ],
                    series: [
                        {
                            name: '记录次数',
                            type: 'bar',
                            barWidth: '80%',
                            data: []
                        }
                    ]
                };
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
