<template>
    <div ref="weiLastWeek" style="width: 100%; height: 100%;"></div>
</template>

<script>
    import echarts from "echarts"
    import {getCountByLastSevenDays} from '../../../api/components/parking'
    export default {
        data() {
            return {
//                data: [],
                myChart: null
            }
        },
        created() {
            this.$nextTick(() => {
                this.myChart = echarts.init(this.$refs['weiLastWeek']);
//                this.myChart.setOption(this.getEchartsOption());

                getCountByLastSevenDays().then(data => {
                    if (data.errcode === 0) {
                        data.data.sort(this.sortNumber);
                        let dataX = [];
                        let dataY = [];
                        data.data.forEach(item => {
                            switch (item.showTime) {
                                case 1:
                                    dataX.push("周一");
                                    break;
                                case 2:
                                    dataX.push("周二");
                                    break;
                                case 3:
                                    dataX.push("周三");
                                    break;
                                case 4:
                                    dataX.push("周四");
                                    break;
                                case 5:
                                    dataX.push("周五");
                                    break;
                                case 6:
                                    dataX.push("周六");
                                    break;
                                default:
                                    dataX.push("周日");
                            }
                            dataY.push(item.num);
//                            dataY.push((Math.random() * 50).toFixed(0));
                        });
                        let option = this.getEchartsOption(dataX, dataY);
                        this.myChart.setOption(option);
                    } else if (data.errcode == -1) {
                        layer.msg("后台服务器异常!", {shift: '6', time: 3000});
                    }
                })

            })
        },
        methods: {
            sortNumber: function (a, b) {
                return a.weekDay - b.weekDay;
            },
            getEchartsOption: function (dataX, dataY) {
                return {
                    textStyle: {
                        color: "#19B7D0"
                    },
                    color: ['#4BB2DD'],
                    tooltip : {
                        trigger: 'axis',
                        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        },
                        formatter: "时间: {b}<br/>违章次数: {c}"
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '4%',
                        top: "10%",
                        containLabel: true,
                    },
                    xAxis : [
                        {
                            type : 'category',
                            data: dataX,
                            axisTick: {
                                alignWithLabel: true
                            },
                            splitLine: {
                                show: false
                            },
                            axisLine: {
                                lineStyle: {
                                    color: '#19B7D0',
                                    width: 2
                                }
                            },
                        }
                    ],
                    yAxis : [
                        {
                            type: 'value',
                            splitLine: {
                                show: false
                            },
                            axisLine: {
                                lineStyle: {
                                    color: '#19B7D0',
                                    width: 2
                                }
                            },
                        },

                    ],
                    series : [
                        {
                            name: '记录次数',
                            type:'bar',
                            barWidth: '80%',
                            data: dataY
                        }
                    ]
                };
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
