.page-container {
    padding: 0 28px 0 28px;
    height: 430px;
    overflow: hidden;
}
#containers {
    height: 306px;
    margin-top: 30px;
}
#containers .imgContainer {
    width: 506px;
    height: 306px;
    float: left;
}
#containers .imgContainer img {
    width: 100%;
    height: 100%;
}
#containers .carInfo {
    width: 284px;
    height: 306px;
    float: left;
    margin-left: 30px;
}
#containers .carInfo table {
    width: 100%;
    height: 250px;
    text-align: center;
    font-size: 14px;
}
#containers .carInfo table caption {
    font-size: 22px;
    color: #FF0000;
    background-color: #FAFAFA;
    height: 58px;
    line-height: 58px;
}
#containers .carInfo table th {
    color: #b8b8b8;
    font-weight: normal;
    text-align: center;
}
#containers .carInfo table td {
    color: #313131;
    text-align: left;
}
#containers .carInfo table .row_even {
    background-color: #f2f2f2;
}
#containers .carInfo table .row_odd {
    background-color: #FAFAFA;
}
#btnGroup {
    width: 551px;
    margin: 36px auto -10px;
}
#btnGroup .btnGroup {
    width: 133px;
    height: 35px;
    font-size: 14px;
    color: #00a0e9;
    margin-left: 71px;
    border: 1px solid #00a0e9;
    border-radius: 4px;
    background-color: transparent;
}
#btnGroup .btnGroup:first-child {
    margin-left: 1px;
}
#btnGroup .btnGroup:hover {
    background-color: #cfeeff;
}
