* {
    padding: 0px;
    margin: 0px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    font-family: "Microsoft YaHei UI";
}

#container {
    min-width: 900px;
    min-height: 650px;
    width: 100%;
    height: 100%;
    background: url("../../img/bg.png") no-repeat;
    background-size: cover;
    margin: auto;
}

#header {
    font-size: 66px;
    width: 830px;
    margin: 0px auto;
    color: #FFFFFF;
    letter-spacing: 16px;
    text-align: center;
    padding-top: 145px;
}

#loginDiv {
    width: 496px;
    height: 310px;
    background: url("../../img/Box.png") no-repeat;
    margin: 70px auto;
}

#loginDiv p.input {
     margin-left: 92px;
     margin-top: 33px;
 }

#loginDiv p.error {
    margin-left: 200px;
    margin-top: 5px;
}


#loginDiv p:first-child {
    padding-top: 60px;
}

#loginDiv p.input input, #loginBtn {
    width: 255px;
    height: 47px;
    border: none;
    outline: none;
    font-size: 20px;
    padding-left: 60px;
    color: #999999;
}

#loginDiv p.input #username {
    background: url("../../img/Username-Field-nor.png") no-repeat;
}

#loginDiv p.input #password {
    background: url("../../img/Password-Field-nor.png") no-repeat;
}

#loginDiv p.input #loginBtn {
    background: url("../../img/Login-Button-nor.png") no-repeat;
    padding-left: 0px;
    width: 312px;
}