#form-task-edit {
    width: 920px;
    margin: auto;
}
.form-label {
    width: 120px;
    float: left;
}
.formControls {
    float: left;
    margin-left: 20px;
}
.formControls .sceneName {
    width: 300px;
}
#btnSubmit {
    margin-left: 20px;
}
#mapContainer {
    width: 100%;
    height: calc(100vh - 100px);
    margin-top: 10px;
}
#mapCenterSearch {
    width: 250px;
    position: absolute;
    top: 120px;
    z-index: 200;
    left: 50%;
    margin-left: -150px;
}
