#alertdiv {
    width: 750px;
    height: 400px;
    /*background-color: #DDDDDD;*/
    text-align: center;
    margin: -20px auto 0;
}

#alertdiv h3 {
    font-size: 23px;
    color: #000000;
    margin-top: 25px;
    font-family: 微软雅黑;
}

#alertdiv .grid {
    height: 350px;
    margin-top: 20px;
}

#alertdiv .grid table {
    width: 132px;
    height: 150px;
    border-collapse: collapse;
    float: left;
}

#alertdiv .grid table caption {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
    font-family: 微软雅黑;
}

#alertdiv .grid table td {
    width: 66px;
    height: 47px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: 1px solid white;
    border-collapse: collapse;
}

#alertdiv .grid table.grid-left {
    margin-left: 175px;
}

#alertdiv .grid table.grid-right {
    margin-left: 137px;
}

#alertdiv .grid table td.one {
    background-color: rgba(0, 0, 0, 0.1);
}

#alertdiv .grid table td.two {
    background-color: rgba(0, 0, 0, 0.2);
}

#alertdiv .grid table td.three {
    background-color: rgba(0, 0, 0, 0.3);
}

#alertdiv .grid table td.lockBg {
    background: url("../../img/video/lock-bg.png") no-repeat 80%;
    background-position: center;
}

#alertdiv .grid table td.unlockBg {
    background: url("../../img/video/unlock-bg.png") no-repeat 80%;
    background-position: center;
}

/*#alertdiv .unlockall {*/
    /*text-align: left;*/
    /*padding-left: 82px;*/
    /*padding-top: 20px;*/
    /*font-size: 18px;*/
/*}*/

/*.demo--label {*/
    /*margin: 20px 20px 0 0;*/
    /*display: inline-block*/
/*}*/

/*.demo--radio {*/
    /*display: none*/
/*}*/

/*.demo--radioInput {*/
    /*background-color: #fff;*/
    /*border: 1px solid rgba(0, 0, 0, 0.15);*/
    /*border-radius: 100%;*/
    /*display: inline-block;*/
    /*height: 16px;*/
    /*margin-right: 10px;*/
    /*margin-top: -1px;*/
    /*vertical-align: middle;*/
    /*width: 16px;*/
    /*line-height: 1*/
/*}*/

/*.demo--radio:checked + .demo--radioInput:after {*/
    /*background-color: #57ad68;*/
    /*border-radius: 100%;*/
    /*content: "";*/
    /*display: inline-block;*/
    /*height: 12px;*/
    /*margin: 2px;*/
    /*width: 12px*/
/*}*/

/*#alertdiv .demo--checkbox.demo--radioInput, .demo--radio:checked + .demo--checkbox.demo--radioInput:after {*/
    /*border-radius: 0*/
/*}*/

#alertdiv .buttons {
    margin-top: 15px;
}

#alertdiv .buttons .btn {
    width: 160px;
    height: 44px;
    letter-spacing: 3px;
    font-size: 17px;
    color: #000000;
    border-radius: 5px;
    border: none;
    outline: none;
    font-family: 微软雅黑;
}

#alertdiv .buttons .btn:first-child {
    background-color: #FF5d8E;
}

#alertdiv .buttons .btn:last-child {
    background-color: #DDDDDD;
    margin-left: 100px;
}
