* {
    padding: 0;
    margin: 0;
}
#container {
    /*border: 1px dashed #f0ad4e;*/
    width: 760px;
    height: 415px;
}
.btnContainer {
    text-align: right;
    margin-top: -10px;
}
.tableContainer {
    width: 100%;
    height: 340px;
    overflow: auto;
    margin-top: 10px;
    /*background-color: #5bc0de;*/
}
table th {
    text-align: center;
}
.tableContainer table td {
    text-align: center;
}
.tableContainer table td a {
    color: blue;
    font-size: 12px;
}








.funBtnContainer {
    text-align: center;
    padding-top: 15px;
}
.funBtnContainer .btn {
    width: 100px;
}
.funBtnContainer .btn:last-child {
    margin-left: 200px;
}
